{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer Update' %} {% endblock %}

{% block javascript %}
<script src="{% static 'customer/js/customer.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">          
          <h1 class="m-0 text-dark">{{cus_name}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">&nbsp;</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">

    <!-- Default box -->
    <div class="card">

      <div class="card-header" style="vertical-align: middle;">
        <div class="card-tools">
          <a href="#" type="button" onclick="history.back()" class="btn btn-secondary btn-sm">{% trans 'Cancel' %}</a>          
          <a href="#" type="button" class="btn btn-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>
        </div>
      </div>
      
      <div class="card-body">
        {% include 'customer/partial_customer_update.html' %}     
      </div>

      <!--
      <div class="card-footer">
        &nbsp;
      </div>
      -->

    </div>
  </section>

</div>

{% endblock %}


{% block scripts %}


<script>
  $(document).ready(function() {
    $('#id_cus_name').focus();
  });

  $('#id_cus_name').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_id').focus();
      event.preventDefault();
      return false;        
    }
  });    

  $('#id_cus_id').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_brn').focus();
      event.preventDefault();
      return false;        
    }
  });    
</script>
{% endblock %}
