{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer Update' %} {% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <form id="customerupdateform" method="post" action="{% url 'customer-update' form.instance.pk %}" class="js-customer-update-form">
    {% csrf_token %}
  
    <div class="">
      <div class="row mb-2">
        <div class="col-8">          
          <h1 class="m-0 text-dark">{{customer.cus_name_th}}</h1>
        </div>
        <div class="col-4">

          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
            {% render_field form.cus_active id="id_cus_active" class="form-control" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Pending" data-onstyle="success" data-offstyle="danger"%}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->  
  <section class="content">

    <!-- Default box -->
    <div class="card">

      <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 pt pl-4 pr-4">        

      </div>

      {% comment %}
      <div class="card-header" style="vertical-align: middle;">
        <div class="card-tools">          
          <!--<a href="#" type="button" onclick="history.back()" class="btn btn-secondary btn-sm">{% trans 'Cancel' %}</a>-->
          <a href="#" type="button" onclick="customerupdateform.submit()" class="btn btn-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>        
        </div>
      </div>
      {% endcomment %}

      <div class="card-body">

        <div class="" id="show-error">
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation"></i>&nbsp;&nbsp;Your data is not correct. {{ field.name }} - {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
          {% if form_is_valid %}
            <div class="alert alert-success">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Saved complete. Back to <a href="{% url 'customer-list' %}">Customer List</a>
            </div>
          {% endif %}
        {% endif %}
        </div>

        <ul class="nav nav-tabs" id="customer" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="mainoffice-tab" data-toggle="tab" href="#mainoffice" role="tab" aria-controls="mainoffice" aria-selected="true">{% trans 'Main Office' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="site-tab" data-toggle="tab" href="#site" role="tab" aria-controls="site" aria-selected="false">{% trans 'Site' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">{% trans 'Billing' %}</a>
          </li>
        </ul>

        <div class="tab-content" id="customerContent">
          <div class="tab-pane fade show active" id="mainoffice" role="tabpanel" aria-labelledby="mainoffice-tab">          

          
            <!-- TODO -->
            <div class="row pt-3">

              <div class="col-md-6">

                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">TH</h3>
                  </div>
                  <div class="card-body">

                    <div class="form-group">  

                      <div class="input-group">
                        <label for="id_cus_name_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_name_th" name="cus_name_th" value="{{ customer.cus_name_th }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_add1_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_add1_th" name="cus_add1_th" value="{{ customer.cus_add1_th }}">
                          <input type="text" class="form-control form-control-sm" id="id_cus_add2_th" name="cus_add2_th" value="{{ customer.cus_add2_th }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_subdist_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_subdist_th" name="cus_subdist_th" value="{{ customer.cus_subdist_th }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_disrict" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                        <div class="col-sm-8">
                          {% if form.cus_district.errors %}                
                            {% render_field form.cus_district class="form-control form-control-sm is-invalid" %}
                            {% for error in form.cus_district.errors %}
                            <div class="invalid-feedback">
                              {{error}}
                            </div>
                            {% endfor %}                
                          {% else %}
                            {% render_field form.cus_district class="form-control form-control-sm" %}
                          {% endif %}                                  
                        </div>
                      </div>

                      {% comment %}
                      <div class="input-group">
                        <label for="id_cus_city" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                        <div class="col-sm-8">
                          {% if form.cus_city.errors %}                
                            {% render_field form.cus_city class="form-control form-control-sm is-invalid" %}
                            {% for error in form.cus_city.errors %}
                            <div class="invalid-feedback">
                              {{error}}
                            </div>
                            {% endfor %}                
                          {% else %}
                            {% render_field form.cus_city class="form-control form-control-sm" %}
                          {% endif %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                        <div class="col-sm-8">                        
                          {% if form.cus_country.errors %}                
                            {% render_field form.cus_country class="form-control form-control-sm is-invalid" %}
                            {% for error in form.cus_country.errors %}
                            <div class="invalid-feedback">
                              {{error}}
                            </div>
                            {% endfor %}                
                          {% else %}
                            {% render_field form.cus_country class="form-control form-control-sm" %}
                          {% endif %}                      
                        </div>
                      </div>
                      {% endcomment %}

                      <div class="input-group">
                        <label for="id_cus_city" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                        <div class="col-sm-8">
                          {% render_field form.cus_city_th_text class="form-control form-control-sm" %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                        <div class="col-sm-8">                        
                          {% render_field form.cus_country_th_text class="form-control form-control-sm" %}
                        </div>
                      </div>



                      {% comment %}
                      <div class="input-group">
                        <label for="id_cus_group" class="col-sm-4 col-form-label form-control-sm">{% trans 'Group ID' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_group" name="cus_group" value="{{ customer.cus_group }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_business_type" class="col-sm-4 col-form-label form-control-sm">{% trans 'Business Type' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_business_type"name="cus_business_type" value="{{ customer.cus_business_type }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_arcode" class="col-sm-4 col-form-label form-control-sm">{% trans 'A/R Code' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_arcode" name="cus_arcode" value="{{ customer.cus_arcode }}">
                        </div>
                      </div>
                      {% endcomment %}
                    
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">EN</h3>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="input-group">
                        <label for="id_cus_name_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_name_en" name="cus_name_en" value="{{ customer.cus_name_en }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_add1_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_add1_en" name="cus_add1_en" value="{{ customer.cus_add1_en }}">
                          <input type="text" class="form-control form-control-sm" id="id_cus_add2_en" name="cus_add2_en" value="{{ customer.cus_add2_en }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_subdist_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_subdist_en" name="cus_subdist_en" value="{{ customer.cus_subdist_en }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_disrict" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                        <div class="col-sm-8">
                          {% render_field form.cus_district_en_text class="form-control form-control-sm" %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_city" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                        <div class="col-sm-8">
                          {% render_field form.cus_city_en_text class="form-control form-control-sm" %}
                        </div>
                      </div>


                      <div class="input-group">
                        <label for="id_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                        <div class="col-sm-8">
                          {% render_field form.cus_country_en_text class="form-control form-control-sm" %}
                        </div>
                      </div>

                    </div>                    
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->            


            <!-- Others -->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-info">
                  <div class="card-body">

                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="cus_zip">{% trans 'Zip' %}</label>
                        {% if form.cus_zip.errors %}                
                          {% render_field form.cus_zip class="form-control form-control-sm is-invalid" %}
                          {% for error in form.cus_zip.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field form.cus_zip class="form-control form-control-sm" %}
                        {% endif %} 
                      </div>
                      <div class="form-group col-md-2">
                        <label for="cus_tel">{% trans 'Phone' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_tel" name="cus_tel" value="{{ customer.cus_tel }}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="cus_zip">{% trans 'Fax' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_fax" name="cus_fax" value="{{ customer.cus_fax }}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="cus_zip">{% trans 'Email' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_email" name="cus_email" value="{{ customer.cus_email }}">
                      </div>    
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="cus_zone">{% trans 'Zone' %}</label>
                        {% if form.cus_zone.errors %}                
                          {% render_field form.cus_zone class="form-control col-sm-12 form-control-sm is-invalid" %}
                          {% for error in form.cus_zone.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field form.cus_zone class="form-control col-sm-12 form-control-sm" %}
                        {% endif %}      
                      </div>

                      {% comment %}
                      <div class="form-group col-md-6">
                        <label for="cus_zip">{% trans 'Group ID' %}</label>
                        {% render_field form.cus_bill class="form-control col-sm-12 form-control-sm" %}
                      </div>
                      {% endcomment %}
                    </div>


                  {% comment %}
                  <div class="form-row">
                    <div class="input-group">
                      <label for="id_cus_zone" class="col-sm-2 col-form-label form-control-sm">{% trans 'Zone' %}</label>
                      <div class="col-sm-4">
                        {% if form.cus_zone.errors %}                
                          {% render_field form.cus_zone class="form-control col-sm-4 form-control-sm is-invalid" %}
                          {% for error in form.cus_zone.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field form.cus_zone class="form-control col-sm-4 form-control-sm" %}
                        {% endif %}
                      </div>
                    </div>

                    <div class="input-group">
                      <label for="id_cus_group" class="col-sm-2 col-form-label form-control-sm">{% trans 'Group ID' %}</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="id_cus_group" name="cus_group" value="{{ customer.cus_group }}">
                      </div>
                    </div>

                  </div>
                  {% endcomment %}




                  </div>
                </div>
              </div>
            </div>


            <!-- Contact Person -->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Contact Information</h3>
                  </div>
                  <div class="card-body">

                    <div class="input-group">
                      <label for="id_cus_contact" class="col-sm-2 col-form-label form-control-sm">{% trans 'Contact Person' %}</label>
                      <div class="col-sm-10">
                        {% if form.cus_contact.errors %}                
                          {% render_field form.cus_contact class="form-control form-control-sm is-invalid" %}
                          {% for error in form.cus_contact.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field form.cus_contact class="form-control form-control-sm" %}                        
                        {% endif %}                      
                        {% render_field form.cus_contact_display class="form-control form-control-sm" %}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- TODO -->
          </div>

          <!-- Site Tab -->
          <div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="site-tab">
            <div class="container-fluid pt-2">
            site content...
            </div>
          </div>

          <!-- Billing -->
          <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">
            <div class="container-fluid pt-2">
            billing content...
            </div>
          </div>

        </div>
        <!-- /.end tabs -->
      </div>



      <!-- /.card-body -->

      <div class="card-footer text-right">
        <!--<a href="#" type="button" onclick="history.back()" class="btn btn-secondary btn-sm">{% trans 'Cancel' %}</a>-->
        <a href="#" type="button" onclick="customerupdateform.submit()" class="btn btn-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>        
      </div>
      <!-- /.card-footer-->

  </div>
  <!-- /.card -->

  <div class="modal fade" id="modal-customer">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
  </form>
</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}

<script>
  
  $(document).ready(function() {
    $("#customerupdateform").submit(function(e){
      if ($(".submitBtn").attr('attempted') == 'true' ) {
        e.preventDefault();
        alert("submit");
      } else {
        //$(".submitBtn").html("<i class='fa fa-hourglass-half' aria-hidden='true'></i>&nbsp;&nbsp;Processing...");
        //$(".submitBtn").attr("disabled", true);
        //$(".submitBtn").attr("attempted", 'true');          
      }
    });
  });    

  //$(function(){ $('#customer_active_status').bootstrapToggle() });
  $(function() {
    $('#customer_active_status').bootstrapToggle({
      on: 'Enabled',
      off: 'Disabled'
    });
  })

</script>
{% endblock %}
