{% extends "page_generic.html" %}

{% block title %}{{ page_title}} - Customer List{% endblock %}

{% load static %}

{% block javascript %}
<script src="{% static 'customer/js/customer.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><small><i class="fas fa-user-tie text-secondary"></i></small>&nbsp;&nbsp;Customer</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">&nbsp;</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header" style="vertical-align: middle;">

        <h3 class="card-title"><b>Customer List</b></h3>
        <div class="card-tools">
          <button type="button" class="btn btn-success js-create-customer" data-url="{% url 'customer-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;เพิ่ม</button>
        </div>
        
      </div>
      
      <div class="card-body">
        {% if customer_list %}
        <table id="customer-list-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col">Customer Code</th>
            <th scope="col">Name (TH)</th>
            <th scope="col">Branch</th>
            <th scope="col">Zone</th>
            <th scope="col">Status</th>
            <th scope="col">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
            {% include 'customer/partial_customer_list.html' %}
          </tbody>
        </table>
        {% else %}
        <div class="col-lg-12">
          <div class="alert alert-warning" role="alert">
            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;ยังไม่มีรายการอยู่ในระบบ
          </div>           
        </div>
        {% endif %}
     
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        &nbsp;
      </div>

      <!-- /.card-footer-->

    </div>
    <!-- /.card -->

<div class="modal fade" id="modal-customer">
  <div class="modal-dialog">
    <div class="modal-content">
  </div>
</div>


  </section>
  <!-- /.content -->

</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block scripts %}
<!-- page script -->
<script language="javascript">
$('#modal-customer').on('shown.bs.modal', function () {
    $('#id_cus_id').focus();

    $('#id_cus_id').on('keypress', function (e) {
      if(e.which === 13){
        $('#id_cus_brn').focus();
      }
    });

    $('#id_cus_brn').on('keypress', function (e) {
      if(e.which === 13){
        $('#id_cus_name_th').focus();
      }
    });    

});

function validate(evt) {
  var theEvent = evt || window.event;

  // Handle paste
  if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
  } else {
  // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
  }
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}

$(function () {
  var table = $('#customer-list-table').DataTable({
    "paging": true,
    "pageLength": 10,
    "lengthChange": false,
    "searching": true,
    "ordering": false,
    "info": false,
    "autoWidth": false,    
    "language": {
        //"searchPlaceholder": 'ค้นหา',        
        //"search": '<i class="fa fa-search"></i>',
        //"search": 'ค้นหา',
        "lengthMenu": '_MENU_ จำนวน',      
        "search": '',
        "searchPlaceholder": "ค้นหา",          
        "paginate": {},
        "previous": '<i class="fa fa-angle-left"></i>',
        "next": '<i class="fa fa-angle-right"></i>'        
    },
    //"dom": "<'#searchid'f>trip"
  });
});

$( window ).on( "load", function(){
  $("#searchid :input").addClass('empty');
} );

$(document).on('keyup','#searchid :input', function() {
    var input = $("#searchid :input");
    if(input.val().length === 0) {
        input.removeClass('no-icon');
        input.addClass('empty');
        
    } else {
        input.removeClass('empty');
        input.addClass('no-icon')
    }
});
</script>
{% endblock %}
