{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %}{{ page_title}} - {% trans 'Customer Dashboard' %}{% endblock %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Dashboard' %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">              
              <li class="breadcrumb-item"><h4>TOTAL <b>{{total_customer|intcomma}}</b></h4></li>
            </ol>
          </div><!-- /.col -->          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">

        <div class="card-body">

          <div class="row">
            <div class="col-lg-4 col-4">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{no_of_active_customer}}</h3>
                  <p>Active Customer</p>
                </div>
                <div class="icon">                
                  <i class="ion ion-person-stalker"></i>
                </div>
                {% comment %}
                <a href="{% url 'customer-list' %}" class="small-box-footer">Customer list <i class="fas fa-arrow-circle-right"></i></a>
                {% endcomment %}
              </div>
            </div>          

            <div class="col-lg-4 col-4">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{no_of_pending_customer}}</h3>
                  <p>Pending Customer</p>
                </div>
                <div class="icon">                
                  <i class="ion ion-person-stalker"></i>
                </div>
                {% comment %}
                <a href="{% url 'customer-list' %}" class="small-box-footer">Customer list <i class="fas fa-arrow-circle-right"></i></a>
                {% endcomment %}
              </div>
            </div>     

            <div class="col-lg-4 col-4">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{no_of_delete_customer}}</h3>
                  <p>Not Use Customer</p>
                </div>
                <div class="icon">                
                  <i class="ion ion-person-stalker"></i>
                </div>
                {% comment %}
                <a href="{% url 'customer-list' %}" class="small-box-footer">Customer list <i class="fas fa-arrow-circle-right"></i></a>
                {% endcomment %}
              </div>
            </div>   

          </div>


        </div>
        <!-- /.card-body -->

        <!--
        <div class="card-footer">
          Footer
        </div>
        -->
        <!-- /.card-footer-->

      </div>
      <!-- /.card -->


      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title"><i class="fas fa-xs fa-history"></i>&nbsp;&nbsp;History Logs</h3>

          <div class="card-tools">
            <!--<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>-->
            <!--<button type="button" class="btn btn-tool"><i class="fas fa-sync"></i></button>-->
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">

          <div class="table-responsive table-wrapper-scroll-y dashboard-scrollbar">
            <table class="table m-0 table-sm table-striped ">
              <thead>
              <tr>
                <th class='text-center'>Log ID</th>
                <th>User</th>
                <th>Description</th>
                <th>Date</th>
              </tr>
              </thead>
              <tbody>

              {% for item in history_log %}
              <tr>
                <td class='text-center'><span class="text-sm">{{item.id}}</span></td>
                <td><span class="text-sm">{{item.log_by}}</span></td>

                {% if item.log_type == 'A' or item.log_type == 'D' or item.log_type == 'R' %}
                <td>                  
                  {% if item.log_type == 'A' %}
                    <span class="text-sm text-success"><b>Add</b> {{item.log_table}} <b>{{item.log_key}}</b></span>
                  {% endif %}

                  {% if item.log_type == 'D' %}
                    <span class="text-sm text-danger"><b>Delete</b> {{item.log_table}} <b>{{item.log_key}}</b></span>
                  {% endif %}

                  {% if item.log_type == 'R' %}
                    <span class="text-sm text-warning"><b>Undelete</b> {{item.log_table}} <b>{{item.log_key}}</b></span>
                  {% endif %}
                </td>
                {% else %}  
                <td>

                  <!-- CUS_MAIN_OFFICE TAB -->
                  {% if item.log_table == "CUS_MAIN" %}
                  <span class="text-sm text-info">
                  <b>Edit</b> CUSTOMER <b>{{item.log_key}}</b> 
                  </span>

                  <span class="text-sm text-dark">
                  on Main Office tab, change <b>{{item.log_field}}</b> to <span class="text-sm text-info"><b>{{item.new_value}}</b></span>
                  </span>
                  {% endif %}

                  <!-- CUS_SITE TAB -->
                  {% if item.log_table == "CUSTOMER" %}
                  <span class="text-sm text-info">
                  <b>Edit</b> CUSTOMER <b>{{item.log_key}}</b> 
                  </span>

                  <span class="text-sm text-dark">
                  on Site tab, change <b>{{item.log_field|default_if_none:''}}</b> to <span class="text-sm text-info"><b><b>{{item.new_value}}</b></span>
                  {% endif %}
                  </span>

                  <!-- CUS_BILL TAB -->
                  {% if item.log_table == "CUS_BILL" %}
                  <span class="text-sm text-info">
                  <b>Edit</b> CUSTOMER <b>{{item.log_key}}</b> 
                  </span>

                  <span class="text-sm text-dark">
                  on Billing tab, change <b>{{item.log_field|default_if_none:''}}</b> to <span class="text-sm text-info"><b><b>{{item.new_value}}</b></span>
                  {% endif %}
                  </span>

                </td>
                {% endif %}


                <td><span class="text-sm">{{item.log_date|naturaltime}}</span></td>
              </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
      </div>


    <div class="container">
      <div class="row"></div>
    </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
