{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer List' %} {% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{% trans 'Customer List' %}</h1>
        </div>
        <!--
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">&nbsp;</li>
          </ol>
        </div>
      -->
      </div>
    </div>
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">

      <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 pt-4 pl-4 pr-4">        
        <form class="form-row" method="post" autocomplete="off">
          {% csrf_token %}
          <div class="form-row">

            <div class="col-4">
              {% if form.cus_name.errors %}                
                {% render_field form.cus_name class="form-control form-control-sm is-invalid" %}
                {% for error in form.cus_name.errors %}
                <div class="invalid-feedback">
                  {{error}}
                </div>
                {% endfor %}
              {% else %}
                {% render_field form.cus_name class="form-control form-control-sm" %}
              {% endif %}
            </div>

            <div class="col-3">
              {% if form.cus_id.errors %}                
                {% render_field form.cus_id class="form-control form-control-sm is-invalid" %}                
                {% for error in form.cus_id.errors %}
                <div class="invalid-feedback">
                  {{error}}
                </div>
                {% endfor %}
              {% else %}
                {% render_field form.cus_id class="form-control form-control-sm" %}
              {% endif %}
            </div>

            <div class="col-3">
              {% if form.cus_brn.errors %}                
                {% render_field form.cus_brn class="form-control form-control-sm is-invalid" %}
                {% for error in form.cus_brn.errors %}
                <div class="invalid-feedback">
                  {{error}}
                </div>
                {% endfor %}                
              {% else %}
                {% render_field form.cus_brn class="form-control form-control-sm" %}
              {% endif %}              
            </div>
            <div colass="col-2">
              <button type="submit" class="btn btn-sm btn-primary col-xs-2"><i class="fas fa-search fa-sm"></i>&nbsp;{% trans 'Search' %}</button>
              <!--<button type="reset" class="btn btn-sm btn-outline-secondary col-xs-2">{% trans 'Clear' %}</button>-->
            </div>

          </div>
        </form>

      </div>

      {% if form.errors %}
      <div class="col-md-6 offset-md-3 pt-2 pl-15">
        <div class="container-fluid" id="show-error">       
          <!--
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          -->

          <!--
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
              </div>
          {% endfor %}
          -->
        </div>        
      </div>
      {% endif %}

      <div class="card-header" style="vertical-align: middle;">
        <div class="card-tools">
          <!--
          <button type="button" class="btn btn-success btn-sm js-create-customer" data-url="{% url 'customer-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;{% trans 'Add' %}</button>
          -->          
          <!--
          <div class="float-right"><a href="{% url 'customer-create' %}" type="button" class="btn btn-success btn-sm float-right"><i class="fas fa-plus fa-xs"></i>&nbsp;&nbsp;{% trans 'Add' %}</a></div>-->          
        </div>
      </div>
      
      <div class="card-body">
        
        <div class="float-right pb-3"><a href="{% url 'customer-create' %}" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus fa-xs"></i>&nbsp;&nbsp;{% trans 'New' %}</a></div>

        {% if current_page %}
          <table id="customer-list-table1" class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
              <th scope="col">{% trans 'Code' %}</th>
              <th scope="col">{% trans 'Branch' %}</th>
              <th scope="col">{% trans 'Name (EN)' %}</th>            
              <th scope="col">{% trans 'Zone' %}</th>
              <th scope="col">{% trans 'Status' %}</th>
              <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              {% include 'customer/partial_customer_list.html' %}
            </tbody>
          </table>

          {% if is_paginated %}
          <div>
              <span>
                  {% if current_page.has_previous %}
                      <a href="?page={{current_page.previous_page_number}}&cusname={{cus_name|default:''}}&cusid={{cus_id|default:'' }}&cusbrn={{cus_brn|default:''}}"><i class="fas fa-arrow-circle-left"></i></a>
                  {% endif %}
                  &nbsp;
                  <span>
                      {% trans 'Page' %} {{ current_page.number }} {% trans '/' %} {{ current_page.paginator.num_pages }}
                  </span>
                  &nbsp;
                  {% if current_page.has_next %}
                      <a href="?page={{ current_page.next_page_number }}&cusname={{cus_name|default:''}}&cusid={{cus_id|default:'' }}&cusbrn={{cus_brn|default:'' }}"><i class="fas fa-arrow-circle-right"></i></a>
                  {% endif %}
              </span>
          </div>
          {% endif %}
        
        {% else %}
        <div class="table-responsive">
          <table class="table table-bordered text-secondary table-striped table-sm table-condensed">
            <thead>
            <tr>
              <th scope="col">{% trans 'Customer Code' %}</th>
              <th scope="col">{% trans 'Branch' %}</th>
              <th scope="col">{% trans 'Name' %}</th>            
              <th scope="col">{% trans 'Zone' %}</th>
              <th scope="col">{% trans 'Status' %}</th>
            </tr>
            </thead>
            <tbody>            
              <tr class="bg-warning">
                <td colspan="5" align="center"><br>{% trans 'There is no customer.' %}<br><br></td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}
     
      </div>
      <!-- /.card-body -->

      <!--
      <div class="card-footer">
        &nbsp;
      </div>
      -->

      <!-- /.card-footer-->

  </div>
  <!-- /.card -->

  <div class="modal fade" id="modal-customer">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>


</section>
<!-- /.content -->

</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block javascript %}

<script>  
$(document).ready(function() {
    $('#id_cus_name').focus();    

  $('#id_cus_name').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_id').focus();
      event.preventDefault();
      return false;        
    }
  });    

  $('#id_cus_id').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_brn').focus();
      event.preventDefault();
      return false;        
    }
  });

});


/*
$(document).ready(function() {
    $('.js-example-basic-single').select2({
      tags: true,
      dropdownParent: $("#my-modal")
    });
});

$(function () {
  $('.js-select2-district').select2({
    tags: true,
    dropdownParent: $("#modal-customer")
  })
});

$('#modal-customer').on('shown.bs.modal', function () {
    $('#id_cus_id').focus();

    $('#id_cus_id').on('keypress', function (e) {
      if(e.which === 13){
        $('#id_cus_brn').focus();
        event.preventDefault();
        return false;        
      }
    });

    $('#id_cus_brn').on('keypress', function (e) {
      if(e.which === 13){
        $('#id_cus_name_th').focus();
        event.preventDefault();
        return false;        
      }
    });    

    $('#id_cus_name_th').on('keypress', function (e) {
      if(e.which === 13){
        $('#id_cus_name_en').focus();
        event.preventDefault();
        return false;        
      }
    });    

    $('#id_cus_name_en').on('keypress', function (e) {
      if(e.which === 13){
        $('#form_submit').focus();
        event.preventDefault();
        return false;        
      }
    });    

});

function validate(evt) {
  var theEvent = evt || window.event;

  // Handle paste
  if (theEvent.type === 'paste') {
      key = event.clipboardData.getData('text/plain');
  } else {
  // Handle key press
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode(key);
  }
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
*/


/*
$(function () {
  var table = $('#customer-list-table').DataTable({
    "paging": true,
    "pageLength": 10,
    "lengthChange": false,
    "searching": true,
    "ordering": false,
    "info": false,
    "autoWidth": false,    
    "language": {
        //"searchPlaceholder": 'ค้นหา',        
        //"search": '<i class="fa fa-search"></i>',
        //"search": 'ค้นหา',
        "lengthMenu": '_MENU_ จำนวน',      
        "search": '',
        "searchPlaceholder": "{% trans 'Search' %}",          
        "paginate": {},
        "previous": '<i class="fa fa-angle-left"></i>',
        "next": '<i class="fa fa-angle-right"></i>'        
    },
    //"dom": "<'#searchid'f>trip"
  });
});
*/

/*
$( window ).on( "load", function(){
  $("#searchid :input").addClass('empty');
} );
*/

/*
$(document).on('keyup','#searchid :input', function() {
    var input = $("#searchid :input");
    if(input.val().length === 0) {
        input.removeClass('no-icon');
        input.addClass('empty');
        
    } else {
        input.removeClass('empty');
        input.addClass('no-icon')
    }
});
*/

</script>


{% endblock %}
