{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer Update' %} {% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  

  <!-- Content Header (Page header) -->
  <div class="content-header">
  
    <div class="">
      <div class="row mb-2">
        <div class="col-8">          
          <h4 class="display-6 m-0 text-dark">{{customer.cus_name_th}} <span> - {{customer.cus_id|stringformat:"04d"}}{{customer.cus_brn|stringformat:"03d"}}</span></h4>
        </div>
        <div class="col-4">
          {% comment %}
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
            {% render_field form.cus_active id="id_cus_active" class="form-control" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Pending" data-onstyle="success" data-offstyle="danger"%}
            </li>
          </ol>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->  
  <section class="content">

    <!-- Default box -->
    <div class="card">

      <!--
      <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 pt pl-4 pr-4">        

      </div>

      <div class="card-header" style="vertical-align: middle;">
        <div class="card-tools">          
          <a href="#" id="mainOfficeSaveButton" type="button" class="btn btn-primary btn-md"><i class="fas fa-save fa-md"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>
        </div>
      </div>
      -->

      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <ul class="nav nav-tabs navbar-expand" id="customer" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="mainoffice-tab" data-toggle="tab" href="#mainoffice" role="tab" aria-controls="mainoffice" aria-selected="false">{% trans 'Main Office' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="site-tab" data-toggle="tab" href="#site" role="tab" aria-controls="site" aria-selected="true">{% trans 'Site' %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="billing-tab" data-toggle="tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">{% trans 'Billing' %}</a>
              </li>
            </ul>        
          </div>
        </div>

        <div class="tab-content" id="customerContent">

          <div class="tab-pane fade show active" id="mainoffice" role="tabpanel" aria-labelledby="mainoffice-tab">          


            {% comment %}
            <div id="result"></div>

            <div class="pt-2" id="show-error">
            {% if cus_main_form.errors %}
                {% for field in cus_main_form %}                
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}

              {% if cus_main_form_is_valid %}
                <div class="alert alert-success">
                    <i class="fas fa-save"></i>&nbsp;&nbsp;Saved complete. Back to <a href="{% url 'customer-list' %}">Customer List</a>
                </div>
              {% endif %}
            {% endif %}
            </div>
            {% endcomment %}


            <!--<form id="cus_main_form" method="post" action="{% url 'cus-main-update' cus_main_form.instance.pk %}">-->
            <form id="cus_main_form" method="POST" action="{% url 'update_cus_main' %}">
            {% csrf_token %}

            <div class="clearfix">
              <div class="float-left">&nbsp;</div>
              <div class="float-right">
                <div class="float-left pt-2">
                  <div class="form-check d-inline">
                    <input class="form-check-input" id="checkboxMainOfficeForSite" type="checkbox">
                    <label class="form-check-label">For Site</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div class="form-check d-inline">
                    <input class="form-check-input" id="checkboxMainOfficeForBill" type="checkbox">
                    <label class="form-check-label">For Bill</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>              
                </div>

                {% comment %}
                <label class="switch">                                    
                  {% if cus_main.cus_active|default_if_none:0 %}
                  <input type="checkbox" id="id_cus_main_cus_active" name="cus_main_cus_active" checked>
                  {% else %}
                  <input type="checkbox" id="id_cus_main_cus_active" name="cus_main_cus_active">
                  {% endif %}                  
                  <div class="slider"></div>
                </label>
                {% endcomment %}

                {% if cus_main.cus_active|default_if_none:0 %}
                <input type="checkbox" id="id_cus_main_cus_active" name="cus_main_cus_active" value=1 checked>
                {% else %}
                <input type="checkbox" id="id_cus_main_cus_active" name="cus_main_cus_active" value=0>
                {% endif %}                  


              </div>
            </div>


            <!-- TODO -->
            <div class="row pt-3">

              <div class="col-md-6">

                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">TH</h3>
                  </div>
                  <div class="card-body">

                    <div class="form-group">  

                      <div class="input-group">
                        <label for="id_cus_main_cus_name_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                        <div class="col-sm-8">                          
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_name_th" name="cus_main_cus_name_th" value="{{ cus_main.cus_name_th }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_add1_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_add1_th" name="cus_main_cus_add1_th" value="{{ cus_main.cus_add1_th|default_if_none:''}}">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_add2_th" name="cus_main_cus_add2_th" value="{{ cus_main.cus_add2_th|default_if_none:''}}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_subdist_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_subdist_th" name="cus_main_cus_subdist_th" value="{{ cus_main.cus_subdist_th|default_if_none:'' }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_disrict" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                        <div class="col-sm-8">
                          {% if cus_main_form.cus_district.errors %}                
                            {% render_field cus_main_form.cus_main_cus_district class="form-control form-control-sm is-invalid" %}
                            {% for error in cus_main_form.cus_main_cus_district.errors %}
                            <div class="invalid-feedback">
                              {{error}}
                            </div>
                            {% endfor %}
                          {% else %}                          
                                                      
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_district" name="cus_main_cus_district" value="{{ cus_main.cus_district}}">

                          {% endif %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_city_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                        <div class="col-sm-8">                          
                          {% render_field cus_main_form.cus_main_cus_city_th class="form-control form-control-sm" %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                        <div class="col-sm-8">
                          {% render_field cus_main_form.cus_main_cus_country_th class="form-control form-control-sm" %}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </form>

              <!-- Main Office Tab English -->
              <div class="col-md-6">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">EN</h3>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      
                      <div class="input-group">
                        <label for="id_cus_main_cus_name_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_name_en" name="cus_main_cus_name_en" value="{{ cus_main.cus_name_en }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_add1_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_add1_en" name="cus_main_cus_add1_en" value="{{ cus_main.cus_add1_en|default_if_none:''}}">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_add2_en" name="cus_main_cus_add2_en" value="{{ cus_main.cus_add2_en|default_if_none:''}}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_subdist_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_subdist_en" name="cus_main_cus_subdist_en" value="{{ cus_main.cus_subdist_en|default_if_none:'' }}">
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_disrict_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                        <div class="col-sm-8">
                          {% if cus_main_form.cus_district.errors %}                
                            {% render_field cus_main_form.cus_main_cus_district_en class="form-control form-control-sm" %}
                            {% for error in cus_main_form.cus_main_cus_district.errors %}
                            <div class="invalid-feedback">
                              {{error}}
                            </div>
                            {% endfor %}
                          {% else %}                          

                          {% render_field cus_main_form.cus_main_cus_district_en class="form-control form-control-sm" %}

                          {% endif %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_city_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                        <div class="col-sm-8">                                                    
                          {% render_field cus_main_form.cus_main_cus_city_en class="form-control form-control-sm" %}
                        </div>
                      </div>

                      <div class="input-group">
                        <label for="id_cus_main_cus_country_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                        <div class="col-sm-8">
                          {% render_field cus_main_form.cus_main_cus_country_en class="form-control form-control-sm" %}
                        </div>
                      </div>

                    </div>                    
                  </div>
                </div>
              </div>
              <!-- Main Office Tab English -->

            </div>
            <!-- /.row -->            


            <!-- Others - Zip, Phone, Fax, Email, Zone, Group, Business Type, etc. -->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-info">

                  <div class="card-body"> 
                    {% comment %}                  
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="cus_main_cus_zip">{% trans 'Zip' %}</label>
                        {% if cus_main_form.cus_zip.errors %}                
                          {% render_field cus_main_form.cus_zip class="form-control form-control-sm is-invalid" %}
                          {% for error in cus_main_form.cus_zip.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field cus_main_form.cus_zip class="form-control form-control-sm" %}
                        {% endif %} 
                      </div>
                      <div class="form-group col-md-2">
                        <label for="cus_tel">{% trans 'Phone' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_tel" name="cus_tel" value="{{ cus_main.cus_tel }}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="cus_main_cus_fax">{% trans 'Fax' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_fax" name="cus_main_cus_fax" value="{{ cus_main.cus_fax }}">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="cus_main_cus_email">{% trans 'Email' %}</label>
                        <input type="text" class="form-control form-control-sm" id="id_cus_main_cus_email" name="cus_main_cus_email" value="{{ cus_main.cus_email }}">
                      </div>    
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="cus_main_cus_zone">{% trans 'Zone' %}</label>
                        {% if cus_main_form.cus_zone.errors %}                
                          {% render_field cus_main_form.cus_zone class="form-control col-sm-12 form-control-sm is-invalid" %}
                          {% for error in cus_main_form.cus_zone.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field cus_main_form.cus_zone class="form-control col-sm-12 form-control-sm" %}
                        {% endif %}      
                      </div>
                    </div>
                    {% endcomment %}

                  </div>


                </div>
              </div>
            </div>


            {% comment %}
            <!-- Contact Person -->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Contact Information</h3>
                  </div>
                  <div class="card-body">

                    <div class="input-group">
                      <label for="id_cus_contact" class="col-sm-2 col-form-label form-control-sm">{% trans 'Contact Person' %}</label>
                      <div class="col-sm-10">
                        {% if cus_main_form.cus_contact.errors %}                
                          {% render_field cus_main_form.cus_contact class="form-control form-control-sm is-invalid" %}
                          {% for error in cus_main_form.cus_contact.errors %}
                          <div class="invalid-feedback">
                            {{error}}
                          </div>
                          {% endfor %}                
                        {% else %}
                          {% render_field cus_main_form.cus_contact class="form-control form-control-sm" %}                        
                        {% endif %}                      
                        {% render_field cus_main_form.cus_contact_display class="form-control form-control-sm" %}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            {% endcomment %}
            <!-- TODO -->

            <div class="float-right">
              <a href="#" id="cusMainSaveButton" type="button" class="btn btn-primary btn-md"><i class="fas fa-save fa-md"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>
            </div>
            <!--</form>-->

          </div>        



          <!-- Site Tab -->
          <div class="tab-pane fade" id="site" role="tabpanel" aria-labelledby="site-tab">

            <div class="clearfix">
              <div class="float-left">&nbsp;</div>
              <div class="float-right">
                <div class="float-left pt-2">
                  <div class="form-check d-inline">
                    <input class="form-check-input" id="checkboxSiteForBill" type="checkbox">
                    <label class="form-check-label">For Bill</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>              
                </div>              

                <label class="switch">
                  {% if cus_main_form.cus_site %}
                  <input type="checkbox" id="id_cus_site" checked>
                  {% else %}
                  <input type="checkbox" id="id_cus_site">
                  {% endif %}
                  <div class="slider"></div>
                </label>

              </div>
            </div>

            <div class="container-fluid pt-2">

              <div class="row pt-3">

                <!-- Site Tab Thai -->
                <div class="col-md-6">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">TH</h3>
                    </div>
                    <div class="card-body">

                      <div class="form-group">  

                        <div class="input-group">
                          <label for="id_cus_name_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_name_th" name="cus_name_th" value="{{ customer.cus_name_th }}">

                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_add1_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_add1_th" name="cus_add1_th" value="{{ customer.cus_add1_th }}">
                            <input type="text" class="form-control form-control-sm" id="id_cus_add2_th" name="cus_add2_th" value="{{ customer.cus_add2_th }}">
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_subdist_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_subdist_th" name="cus_subdist_th" value="{{ customer.cus_subdist_th }}">
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_disrict" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                          <div class="col-sm-8">

                            {% if form.cus_district.errors %}                
                              {% render_field form.cus_district class="form-control form-control-sm is-invalid" %}
                              {% for error in form.cus_district.errors %}
                              <div class="invalid-feedback">
                                {{error}}
                              </div>
                              {% endfor %}
                            {% else %}                          
                              
                            {% render_field form.cus_district class="form-control form-control-sm" %}

                            {% endif %}
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_city" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                          <div class="col-sm-8">
                            {% render_field form.cus_city_th_text class="form-control form-control-sm" %}
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                          <div class="col-sm-8">                        
                            {% render_field form.cus_country_th_text class="form-control form-control-sm" %}
                          </div>
                        </div>                      
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Site Tab Thai -->

                <!-- Site Tab English -->
                <div class="col-md-6">
                  <div class="card card-info">
                    <div class="card-header">
                      <h3 class="card-title">EN</h3>
                    </div>
                    <div class="card-body">


                      <div class="form-group">

                        <div class="input-group">
                          <label for="id_cus_name_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_name_en" name="cus_name_th" value="{{ customer.cus_name_en }}">
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_add1_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Address' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_add1_en" name="cus_add1_th" value="{{ customer.cus_add1_en }}">
                            <input type="text" class="form-control form-control-sm" id="id_cus_add2_en" name="cus_add2_th" value="{{ customer.cus_add2_en }}">
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_subdist_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Sub-District' %}</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" id="id_cus_subdist_en" name="cus_subdist_en" value="{{ customer.cus_subdist_en }}">
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_disrict" class="col-sm-4 col-form-label form-control-sm">{% trans 'District' %}</label>
                          <div class="col-sm-8">                                                    
                            {% render_field form.cus_district_en_text class="form-control form-control-sm" %}
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_city" class="col-sm-4 col-form-label form-control-sm">{% trans 'City' %}</label>
                          <div class="col-sm-8">
                            {% render_field form.cus_city_en_text class="form-control form-control-sm" %}
                          </div>
                        </div>

                        <div class="input-group">
                          <label for="id_cus_country" class="col-sm-4 col-form-label form-control-sm">{% trans 'Country' %}</label>
                          <div class="col-sm-8">                        
                            {% render_field form.cus_country_en_text class="form-control form-control-sm" %}
                          </div>
                        </div>                      

                      </div>                    
                    </div>
                  </div>
                </div>
                <!-- Site Tab English -->



              </div>
            </div>
          </div>

          <!-- Billing -->
          <div class="tab-pane fade" id="billing" role="tabpanel" aria-labelledby="billing-tab">            
            <div class="clearfix">
              <div class="float-left">&nbsp;</div>
              <div class="float-right">
                <div class="float-left pt-2">
                  &nbsp;
                </div>
                <label class="switch">
                  <input type="checkbox" id="id_cus_billing_active">
                  <div class="slider"></div>
                </label>                
              </div>
            </div>

            <div class="container-fluid pt-2">
            billing content...
            </div>
          </div>
          <!-- end billing -->

        </div>
        <!-- /.end tabs -->
      </div>



      <!-- /.card-body -->

      <!--
      <div class="card-footer text-right">        
        <a href="#" type="button" onclick="customerupdateform.submit()" class="btn btn-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>        
      </div>
      -->
      <!-- /.card-footer-->

  </div>
  <!-- /.card -->

  <div class="modal fade" id="modal-customer">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
  </form>

  <div class="container">
    <div class="row"></div>
  </div>

</section>
<!-- /.content -->

</div>

<!-- Customer District Modal -->
<div class="modal fade" id="districtmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'District Lookup' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Loading...' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-success btn-sm">{% trans 'Select' %}</button>
      </div>
    </div>
  </div>
</div>


<!-- /.content-wrapper -->
{% endblock %}



{% block javascript %}
<script>

  
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var target = $(e.target).attr("href") // activated tab    
    
    //$('#id_cus_site_active').bootstrapSwitch('_width');
    /*
    $('body').on('shown.bs.tab', function(e) {
        var $switches = $('.bootstrap-switch-container input');
        $switches.each(function(index, element) {
            var $element = $(element);
            if ($element.is(':visible')) {
                $element.bootstrapSwitch('_width');
            }
        });
    }); 
    */   
  });
  

  $(document).ready(function(){        

    $('#district_lookup').on('click', function (e) {
      var obj = $(this);      
      $.ajax({
          url: obj.attr("data-url"),
          type: 'get',          
          dataType: 'json',
          beforeSend: function () {
            $("#districtmodal").modal("show");
          },
          success: function (data) {
            var result = ""
            var count = data.results.length;
            var dist_id = data.results[0]["dist_id"];
            //result += "<div class='col-12 text-center pb-2'><h5>" + dist_id + "</h5></div>";
            result += "<table class='table table-hover table-sm'>";
            result += " <thead>";
            result += "   <tr>";
            result += "     <th scope='col'>{% trans 'ID' %}</th>";
            result += "     <th scope='col'>{% trans 'Name' %}</th>";
            result += "     <th scope='col'>{% trans 'City' %}</th>";
            result += "   </tr>";
            result += " </thead>";
            result += " <tbody>";

            for(var i=0; i<count; i++) {              
              var dist_id = data.results[i]["dist_id"];
              var dist_name_th = data.results[i]["dist_th"];
              var city_name_th = data.results[i]["city_th"];

              result += "<tr>";
              result += "<td>" + dist_id + "</td>";        
              result += "<td>" + dist_name_th + "</td>";
              result += "<td>" + city_name_th + "</td>";
              result += "</td>";
              result += "</tr>";              
            }
            result += " </tbody>";
            result += "</table>";

            /*
            if(data.is_paginated) {
              result += "<div>";
              result += "  <span>";
              if(data.previous_page>0) {
                result += "          <a href='?page=" + data.previous_page + "'><i class='fas fa-arrow-circle-left'></i></a>";
              }
              result += "      &nbsp;";
              result += "      <span>";
              result += "          {% trans 'Page' %} " + data.current_page + "{% trans ' / ' %}" + data.pages;
              result += "      </span>";
              result += "      &nbsp;";
              if(data.next_page>0) {

              }
              result += "          <a href='?page=" + data.next_page + "'><i class='fas fa-arrow-circle-right'></i></a>";
              result += "  </span>";
              result += "</div>";              
            } else {
              alert("not found");
            }
            */
            
            $("#districtmodal .modal-body").html(result);            
          },
          error: function(data){
            $("#districtmodal .modal-body").html("{% trans 'There is no data.' %}");
          }          
      });

   });

 });


  $("#cusMainSaveButton").click( function() {
    event.preventDefault();    
    update_cus_main();
  });

  function update_cus_main() {
    cus_id = "{{customer.cus_id|stringformat:'04d'}}";
    cus_brn = "{{customer.cus_brn|stringformat:'03d'}}";
    cus_no = cus_id + cus_brn;

    // Main Office TH
    if ($('#id_cus_main_cus_active').is(":checked"))
      cus_main_cus_active = 1;
    else
      cus_main_cus_active = 0;

    cus_main_cus_name_th = $('#id_cus_main_cus_name_th').val();    
    cus_main_cus_add1_th = $('#id_cus_main_cus_add1_th').val();
    cus_main_cus_add2_th = $('#id_cus_main_cus_add2_th').val();
    cus_main_cus_subdist_th = $('#id_cus_main_cus_subdist_th').val();

    // Main Office EN
    cus_main_cus_name_en = $('#id_cus_main_cus_name_en').val();
    cus_main_cus_add1_en = $('#id_cus_main_cus_add1_en').val();
    cus_main_cus_add2_en = $('#id_cus_main_cus_add2_en').val();
    cus_main_cus_subdist_en = $('#id_cus_main_cus_subdist_en').val();

    cus_main_cus_country_en = $('#id_cus_main_cus_country_en').val();

    //alert(cus_main_cus_country_en);

    $.ajax({
        url : "/customer/ajax/update_cus_main/",
        type : "POST",
        data : {          
          csrfmiddlewaretoken: '{{ csrf_token }}',
          cus_id : cus_id,
          cus_brn : cus_brn,
          cus_no : cus_no,

          cus_main_cus_active : cus_main_cus_active,
          cus_main_cus_name_th : cus_main_cus_name_th,
          cus_main_cus_add1_th : cus_main_cus_add1_th,
          cus_main_cus_add2_th : cus_main_cus_add2_th,
          cus_main_cus_subdist_th :  cus_main_cus_subdist_th,

          cus_main_cus_name_en : cus_main_cus_name_en,
          cus_main_cus_add1_en : cus_main_cus_add1_en,
          cus_main_cus_add2_en : cus_main_cus_add2_en,
          cus_main_cus_subdist_en :  cus_main_cus_subdist_en,

          cus_main_cus_country_en : cus_main_cus_country_en
        },
        success : function(json) {
          if(json.form_is_valid) {          
            $(document).Toasts('create', {
              class: 'bg-success', 
              title: "{% trans 'Message' %}",
              subtitle: '',
              autohide: true,
              delay: 3000,
              body:  "Save complete!" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
              autoDismiss: true,
              close: true,
              autoremove: true,
            })
          }
          else {            
            $(document).Toasts('create', {
              class: 'bg-danger', 
              title: "{% trans 'Error' %}",
              subtitle: '',
              autohide: true,
              delay: 5000,
              body: json.message,
              autoDismiss: true,
              close: true,
              autoremove: true,
              preventDuplicates: true,       
            })            
          }
        },
    });
  };

</script>
{% endblock %}

