{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

<form method="post" action="{% url 'customer-create' %}" class="js-customer-create-form">  
  {% csrf_token %}

  <div class="modal-header">
    <h4 class="modal-title"><i class="fas fa-plus text-secondary"></i>&nbsp;&nbsp;เพิ่มรายการ</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">


    <div class="row">
      <div class="col">
        <input type="number" name="cus_id" step="1" class="form-control" placeholder="Customer Code" required="" id="id_cus_id">
      </div>
      <div class="col">        
        <input type="number" name="cus_brn" step="1" class="form-control" placeholder="Branch Code" required="" id="id_cus_brn">
      </div>
    </div>

    {{form.upd_by}} 
    {{form.upd_flag}} 
  
    <hr>

    <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">Main Office</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Site</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Billing</a>
      </li>
    </ul>

    <div class="tab-content" id="custom-content-above-tabContent">
      
      <!--<h6><b>Main Office</b></h6>-->

      <p>&nbsp;</p>
      <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
          <div class="form-group row">
            <label for="company" class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-5">
              <input type="text" name="cus_name_th" step="1" class="form-control" placeholder="ชื่อบริษัท (TH)" required="" id="id_cus_name_th">
            </div>
            <div class="col">
              <input type="text" name="cus_name_en" step="1" class="form-control" placeholder="ชื่อบริษัท (EN)" required="" id="id_cus_name_en">
            </div>            
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="cus-address1-th" placeholder="ที่อยู่ 1 (TH)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-address1-en" placeholder="ที่อยู่ 1 (EN)">
            </div>            
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="cus-address2-th" placeholder="ที่อยู่ 2 (TH)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-address2-en" placeholder="ที่อยู่ 2 (EN)">
            </div>            
          </div>
          <div class="form-group row">
            <label for="sub-district" class="col-sm-2 col-form-label">Sub-District</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="cus-subdistrict-th" placeholder="แขวง (TH)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-subdistrict-en" placeholder="แขวง (EN)">
            </div>            
          </div>
          <div class="form-group row">
            <label for="district" class="col-sm-2 col-form-label">District</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="cus-district-th" placeholder="เขต (TH)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-district-en" placeholder="เขต (EN)">
            </div>            
          </div>
          <div class="form-group row">
            <label for="city-country" class="col-sm-2 col-form-label">City / Country</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="cus-city-th" placeholder="จังหวัด (TH)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-country-th" placeholder="ประเทศ (TH)">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="cus-city-en" placeholder="จังหวัด (EN)">
            </div>
            <div class="col">
              <input type="text" class="form-control" id="cus-country-en" placeholder="ประเทศ (EN)">
            </div>  
          </div>

          <div class="form-group row">
            <div class="col-2 col-form-label">
              <label class="col-sm-2 col-form-label">&nbsp;</label>
            </div>
            <div class="col">
              <label for="cus-zip">Zip</label>
              <input type="text" id="cus-zip" class="form-control" placeholder="Zip Code">
            </div>            
            <div class="col">
              <label for="cus-telephone">Phone</label>
              <input type="text" id="cus-telephone" class="form-control" placeholder="Phone">
            </div>
            <div class="col">
              <label for="cus-fax">Fax</label>
              <input type="text" class="form-control" placeholder="Fax">
            </div>
            <div class="col">
              <label for="cus-fax">Email</label>
              <input type="text" id="cus-email" class="form-control" placeholder="E-mail">
            </div>            
          </div>                
      </div>
      <hr>
      <h6><b>Contact Information</b></h6>
      <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id.
      </div>

      <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
         Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam. 
      </div>
      <div class="tab-pane fade" id="custom-content-above-messages" role="tabpanel" aria-labelledby="custom-content-above-messages-tab">
         Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna. 
      </div>
    </div>

  </div>

  <div class="modal-footer align-right">
    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;</button>
  </div>

</form>