{% for item in current_page %}
    <tr>
        <td>{{item.cus_id}}</td>
        <td>{{item.cus_brn|stringformat:"03d"}}</td>
        <td><a href="{% url 'customer-update' item.cus_no %}">{{item.cus_name_th}}</a></td>
        <td><a href="{% url 'customer-update' item.cus_no %}">{{item.cus_name_en}}</a></td>
        <td>{{item.cus_zone}}</td>
        <td>
          {% if item.cus_active %}
          <span class="badge badge-success">Active</span>
          {%else%}
          <span class="badge badge-secondary">Pending</span>
          {%endif%}
        </td>
        <td class="text-right py-0 align-middle">
          <div class="btn-group btn-group-sm">
            <a href="{% url 'customer-update' item.cus_no %}" type="button" class="btn btn-info btn-xs js-update-customer" data-url="{% url 'customer-update' item.cus_no %}">
              <i class="fas fa-pen fa-xs"></i>
            </a>
            &nbsp;
            <button type="button" class="btn btn-danger btn-xs js-delete-customer" data-url="{% url 'customer-delete' item.cus_no %}">
              <i class="fas fa-trash fa-xs"></i>
            </button>
          </div>
        </td>                    
    </tr>
{% endfor %}