{% extends "page_generic.html" %}

{% load i18n %}
{% block title %} {{ page_title}} - {% trans 'Contract List' %} {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Contract List' %}</h1>
          </div>
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Contract</li>
            </ol>
            -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div id="contract_list" class="card">

        <div class="col-8 offset-3 pt-4"> 

          <form id="search_contract_form" class="form-row" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-row">

              <div class="col-3">
                {% if form.cus_id.errors %}                
                  {% render_field form.cus_id class="form-control form-control-md is-invalid" %}                

                  {% for error in form.cus_id.errors %}
                  <div class="invalid-feedback">
                    {{error}}
                  </div>
                  {% endfor %}
                {% else %}

                  {% render_field form.cus_id class="form-control form-control-md" %}

                {% endif %}
              </div>
              
              <div class="col-3">
                {% if form.cus_brn.errors %}                
                  {% render_field form.cus_brn class="form-control form-control-md is-invalid" %}
                  {% for error in form.cus_brn.errors %}
                  <div class="invalid-feedback">
                    {{error}}
                  </div>
                  {% endfor %}                
                {% else %}
                  {% render_field form.cus_brn class="form-control form-control-md" %}
                {% endif %}              
              </div>

              <div class="col-3">
                {% if form.cus_vol.errors %}                
                  {% render_field form.cus_vol class="form-control form-control-md is-invalid" %}
                  {% for error in form.cus_vol.errors %}
                  <div class="invalid-feedback">
                    {{error}}
                  </div>
                  {% endfor %}                
                {% else %}
                  {% render_field form.cus_vol class="form-control form-control-md" %}
                {% endif %}              
              </div>

              <div colass="col-2">
                <button id="search_contract_button" type="button" class="btn btn-md btn-primary col-xs-2"><i class="fas fa-search fa-sm"></i>&nbsp;{% trans 'Search' %}</button>
              </div>

            </div>
          </form>

        </div>

        {% if form.errors %}
        <div class="col-md-6 offset-md-3 pt-2 pl-15">
          <div class="container-fluid" id="show-error">       
            <!--
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong><i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            -->

            <!--
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                </div>
            {% endfor %}
            -->
          </div>        
        </div>
        {% endif %}

        <div class="card-header" style="vertical-align: middle;">
          <div class="card-tools">
            <!--
            <button type="button" class="btn btn-success btn-sm js-create-customer" data-url="{% url 'customer-create' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;{% trans 'Add' %}</button>
            -->          
            <!--
            <div class="float-right"><a href="{% url 'customer-create' %}" type="button" class="btn btn-success btn-sm float-right"><i class="fas fa-plus fa-xs"></i>&nbsp;&nbsp;{% trans 'Add' %}</a></div>-->          
          </div>
        </div>
        

        <div class="card-body">
          
          <div class="float-right pb-3"><a href="{% url 'contract_create' %}" type="button" class="btn btn-success btn-md"><i class="fas fa-plus fa-xs"></i>&nbsp;&nbsp;{% trans 'New Contract' %}</a></div>

          <!-- amnaj -->
          {% if current_page %}
            <table id="customer-list-table" class="table table-bordered table-striped table-sm">
              <thead>
              <tr>
                <th scope="col">{% trans 'Contract ID' %}</th>
                <th scope="col">{% trans 'Customer Name (TH)' %}</th>
                <th scope="col">{% trans 'Customer Name (EN)' %}</th>
                <th scope="col">&nbsp;</th>
              </tr>
              </thead>
              <tbody>
                {% include 'contract/partial_contract_list.html' %}
              </tbody>
            </table>

            {% if is_paginated %}
            <div>
                <span>
                    {% if current_page.has_previous %}
                        <a href="?page={{current_page.previous_page_number}}&cusname={{cus_name|default:''}}&cusid={{cus_id|default:'' }}&cusbrn={{cus_brn|default:''}}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}
                    &nbsp;
                    <span>
                        {% trans 'Page' %} {{ current_page.number }} {% trans '/' %} {{ current_page.paginator.num_pages }}
                    </span>
                    &nbsp;
                    {% if current_page.has_next %}
                        <a href="?page={{ current_page.next_page_number }}&cusname={{cus_name|default:''}}&cusid={{cus_id|default:'' }}&cusbrn={{cus_brn|default:'' }}"><i class="fas fa-arrow-circle-right"></i></a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
          
          {% else %}
          <div class="table-responsive">
            <table class="table table-bordered text-secondary table-striped table-sm table-condensed">
              <thead>
              <tr>
                <th scope="col">{% trans 'Contract ID' %}</th>
                <th scope="col">{% trans 'Customer Name (TH)' %}</th>
                <th scope="col">{% trans 'Customer Name (EN)' %}</th>
                <!--<th scope="col">{% trans 'Status' %}</th>-->
                <th scope="col">&nbsp;</th>       
              </tr>
              </thead>
              <tbody>            
                <tr class="bg-warning">
                  <td colspan="5" align="center"><br>{% trans 'There is no contract.' %}<br><br></td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endif %}
       
        </div>
        <!-- /.card-body -->

        <!--
        <div class="card-footer">
          &nbsp;
        </div>
        -->

        <!-- /.card-footer-->

    </div>
    <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>



<!-- Delete Contract Modal -->
<div class="modal fade" id="delete_customer_contract_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <i class="fas fa-trash fa-sm text-secondary"></i>&nbsp;&nbsp;<strong>{% trans 'Delete contract' %}</strong>
          <input id="id_select_customer_contract_id" type="hidden" readonly>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">      
        <div class="row">
          <div class="col-12">
            <div class="card card-info">
              <div class="card-body">
                Loading...
              </div>
            </div>
          </div>          
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal">{% trans 'Cancel' %}</button>      

        <button type="button" onclick="delete_customer_contract_item()" class="btn btn-danger btn-md">&nbsp;<i class="fas fa-trash"></i>&nbsp;&nbsp;Delete&nbsp;</button>

      </div>

    </div>
  </div>
</div>


{% endblock %}




{% block javascript %}
<script>

  $('#id_cus_id').focus();
  $("#id_cus_id").select();
  
  $(document).on('keypress', '#id_cus_id_old', function(e) {
    if(e.which == 13) {      
      e.preventDefault();


      cus_id = $("#id_cus_id").val();      
      cus_brn = $('#id_cus_brn').val();
      cus_vol = $('#id_cus_vol').val();

      if(cus_id=="") {
        $(document).Toasts('create', {
          class: "bg-danger", 
          title: "{% trans 'System message' %}",
          subtitle: '',
          autohide: true,
          delay: 2000,
          body: "Please select Customer ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
          autoDismiss: true,
          close: true,
          autoremove: true,
        });        
        $('#id_cus_id').focus();    
        return false;
      }

      if(cus_brn=="") {
        $('#id_cus_brn').focus();
        return false;  
      }

      if(cus_vol=="") {
        $('#id_cus_vol').focus();
        return false;
      }

      if(cus_id <= 0) {
        $('#id_cus_id').focus();      
      } else {
        $("#search_contract_form").submit();
        $("#id_cus_id").select();
      }
    }
  });


$(document).on('keypress', '#id_cus_id', function(e) {
  if(e.which == 13) {      
    e.preventDefault();

    var obj = $(this);
        var id_cus_id = obj.val();
        while (id_cus_id.length < 7) 
          id_cus_id = "0" + id_cus_id;        
        $('#id_cus_id').val(id_cus_id);

    $('#id_cus_brn').focus();
    $('#id_cus_brn').select();
  }
});

$(document).on('keypress', '#id_cus_brn', function(e) {
  if(e.which == 13) {      
    e.preventDefault();

    var obj = $(this);
        var id_cus_brn = obj.val();
        while (id_cus_brn.length < 3) 
          id_cus_brn = "0" + id_cus_brn;
        $('#id_cus_brn').val(id_cus_brn);
    $('#id_cus_vol').focus();
    $('#id_cus_vol').select();
  }
});


$(document).on('keypress', '#id_cus_vol', function(e) {
  if(e.which == 13) {      
    e.preventDefault();

    // TODO: field validation
    cus_id = $('#id_cus_id').val();
    cus_brn = $('#id_cus_brn').val();
    cus_vol = $('#id_cus_vol').val();
    
    if(cus_id=="") {
      alert("Please entet Customer ID.");
      $('#id_cus_id').focus();        
      return false;
    }

    if(cus_brn=="") {
      alert("Please entet Customer Branch.");
      $('#id_cus_brn').focus();
      return false;     
    }

    if(cus_vol=="") {
      alert("Please entet Customer Volume.");
      $('#id_cus_vol').focus();
      return false;
    }

    var obj = $(this);
    var id_cus_vol = obj.val();
    while (id_cus_vol.length < 3) 
      id_cus_vol = "0" + id_cus_vol;
    
    $("#search_contract_form").submit();
    
  }
});





  $("#id_cus_id").on('click', function(){
    //$(this).select();
    $("#id_cus_id").select();
  });


  /*
  $(document).on('keypress', '#id_cus_brn', function(e) {
    if(e.which == 13) {      
      e.preventDefault();
      
      cus_id = $("#id_cus_id").val();
      cus_brn = $("#id_cus_brn").val();
    
      if(cus_id <= 0)
        $('#id_cus_id').focus();

      if(cus_id < 0)
        $('#id_cus_brn').focus();
      else {
        if(cus_brn=="")
          $('#id_cus_brn').val(0);

         $("#search_contract_form").submit();
      }

    }
  });
  */

  $(document).on('click', '#search_contract_button', function(event) {
    $("#search_contract_form").submit();
    $("#id_cus_id").select();
  });

  /*
  $(document).on('click', '#vert-tabs-contract-en-tab', function(event) {
    cus_name_en = jQuery('#customer_name_en').val();
    $(".card-title").html(cus_name_en);

  });

  $(document).on('click', '#vert-tabs-contract-th-tab', function(event) {
    cus_name_th = jQuery('#customer_name_th').val();
    $(".card-title").html(cus_name_th);

  });

  $('#id_cus_id').focus();

  $('#id_cus_id').on('keypress', function (e) {
    if(e.which === 13){      
      event.preventDefault();
      alert("a");
      //$('#id_cus_brn').focus();
      //return false;     
    }
  });

  $('#id_cus_brn').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_vol').focus();
      event.preventDefault();
      return false;        
    }
  });
  */

  /*
  $('#id_cus_vol').on('keypress', function (e) {
    if(e.which === 13){      
      event.preventDefault();
      $('#contract-form').submit();
      return false;    
    }
  });
  */

  $("#contract-form").submit(function(e) {
    e.preventDefault();

    var data = $(this).serialize();
    $.ajax({
          type:'POST',
          url:'{% url "contract_create" %}',
          data:{
              cus_id:$('#id_cus_id').val(),
              //cus_brn:$('#id_cus_brn').val(),
              //cus_vol:$('#id_cus_vol').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
          },
          beforeSend: function(){
            $('#waitingDialog').modal();          
          },
          complete: function(){
            $('#waitingDialog').modal('hide');
          },
          success:function(json){
            $(".card-body").html("");
            $(".card-title").html('Company');

            $(".card-body").html(json.html_form);
            $(".card-title").html(json.cus_name_th);
            $("#id_cus_id_error").html('');
            $("#id_cus_brn_error").html('');
            $("#id_cus_vol_error").html('');

            if (json.errorlist) {     
              for (item in json.errorlist) {
                switch(item) {
                  case 'cus_id':
                    if(json.errorlist.cus_id)
                      $("#id_cus_id_error").html(json.errorlist.cus_id);
                    break;
                  case 'cus_brn':
                    if(json.errorlist.cus_brn)
                      $("#id_cus_brn_error").html(json.errorlist.cus_brn);
                    break;
                  case 'cus_vol':
                    if(json.errorlist.cus_vol)
                      $("#id_cus_vol_error").html(json.errorlist.cus_vol);
                    break;
                }
              }
            }

            $("#id_cus_id").select();
          },
          error : function(xhr,errmsg,err) {
          console.log(xhr.status + ": " + xhr.responseText);
      }
    });

  });


  function delete_customer_contract(cnt_id) {
    $('#id_select_customer_contract_id').val(cnt_id);

    if (cnt_id != null) {
      result = "";
      result += "<div>Would you like to delete the Service ID <b>" + cnt_id + " </b>&nbsp;&nbsp;?</div>";

      $("#delete_customer_contract_modal .modal-body").html(result);
      $("#delete_customer_contract_modal").modal("show");
    }
  }


  function delete_customer_contract_item() {
    cnt_id = $('#id_select_customer_contract_id').val();
    cus_id = $('#id_cus_id').val();
    //alert(cus_id);

    $.ajax({
        url : "/contract/ajax/delete_customer_contract",
        type: 'get',
        dataType: 'json',
        data: {
          cnt_id: cnt_id,
          cus_id: cus_id,
        },
        beforeSend: function () {
          
        },    
        success: function (data) {          

          $(document).Toasts('create', {
            class: data.class, 
            title: "{% trans 'System Message' %}",
            subtitle: '',
            autohide: true,
            delay: 2000,      
            body: data.message,
            autoDismiss: true,
            close: true,
            autoremove: true,
          });                    
        


        // Reloade contract list table
        $.ajax({
          url : "/contract/ajax/reload_contract_list",
          type: 'get',          
          dataType: 'json',
          data: {
            cnt_id: data.cnt_id,
            cus_id: cus_id,
          },
          beforeSend: function () {
            
          },    
          success: function (data) {

            if(cus_id!=""){
              result = "";
              result += "<div class='float-right pb-3'><a href='contract/create' type='button' class='btn btn-success btn-md'><i class='fas fa-plus fa-xs'></i>&nbsp;&nbsp;{% trans 'New Contract' %}</a></div>";
              result += "<table id='customer-list-table' class='table table-bordered table-striped table-sm'>";
              result += "  <thead>";
              result += "  <tr>";
              result += "    <th scope='col'>{% trans 'Contract ID' %}</th>";
              result += "    <th scope='col'>{% trans 'Customer Name (TH)' %}</th>";
              result += "    <th scope='col'>{% trans 'Customer Name (EN)' %}</th>";
              result += "    <th scope='col'>&nbsp;</th>";
              result += "  </tr>";
              result += "  </thead>";
              result += "  <tbody>";

              if(data.cus_contract_list.length > 0) {
              for(var i=0; i<data.cus_contract_list.length; i++) {
                result += "  <tr>";          
                result += "      <td>" + data.cus_contract_list[i]["cnt_id"] + "</td>";
                result += "      <td><a href=''>" + data.cus_contract_list[i]["cus_name_th"] + "</a></td>";
                result += "      <td><a href=''>" + data.cus_contract_list[i]["cus_name_en"] + "</a></td>";
                result += "      <td class='text-right py-0 align-middle'>";
                result += "        <div class='btn-group btn-group-sm'>";
                result += "          <a href='contract/" + data.cus_contract_list[i]["cnt_id"] + "/update' type='button' class='btn btn-info btn-xs js-update-customer' data-url=''>";
                result += "            <i class='fas fa-pen fa-xs'></i>";
                result += "          </a>&nbsp;";
                result += "          <button type='button' onclick='delete_customer_contract(" + data.cus_contract_list[i]["cnt_id"] + ")' class='btn btn-danger btn-xs js-delete-contract'><i class='fas fa-trash fa-xs'></i></button>";
                result += "        </div>";
                result += "      </td>";
                result += "  </tr>";              
              }  
              } else {
                result += "  <tr class='bg-warning'>";
                result += "    <td colspan='5' align='center'><br>{% trans 'There is no contract.' %}<br><br></td>";
                result += "  </tr>";
              }

              result += "  </tbody>";
              result += "</table>";

              //amnaj
              $("#contract_list .card-body").html(result);
              $("#delete_customer_contract_modal").modal("hide");

            } else {
              //alert("reload page");
              location.reload();
              $("#delete_customer_contract_modal").modal("hide");
            }
            
            
          },
          error: function(data){
            // do nothing        
          }
        });    

        },
        error: function(data){
          alert("error!");
        }
    });
  }

</script>

{% endblock %}