{% extends "page_generic.html" %}

{% block title %}{{ page_title}} - ระบบลูกค้า{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><small><i class="fas fa-handshake text-secondary"></i></small>&nbsp;&nbsp;Contract <small><small><small>| contract Information</small></small></small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Contract</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <!--<div class="card-tools">-->
          <form method="POST" id="contract-form">
          {% csrf_token %}
          <div class="form-group row justify-content-md-center col-sm-12" >            
            <div class="col-sm-3 mt-2">
              <!--<input class="form-control" id="customer_id" type="text" placeholder="Customer ID">-->
              {{ form.customer_id }} 
              {{ form.customer_id.errors }}
            </div>
            <div class="col-sm-2 mt-2">
              <!--<input class="form-control" id="customer_branch" type="text" placeholder="Branch No">-->
              {{ form.customer_branch }} 
              {{ form.customer_branch.errors }}
            </div>
            <div class="col-sm-2 mt-2">
              <!--<input class="form-control" id="customer_volume" type="text" placeholder="Volume No">-->
              {{ form.customer_volume }}
              {{ form.customer_volume.errors }}
            </div>
          </div>
          </form>

        </div>
        
        <div class="card-body">
          Content
        </div>
        <!-- /.card-body -->

      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}
<script>
  $('#id_customer_id').focus();

  $('#id_customer_id').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_customer_branch').focus();
      event.preventDefault();
      return false;        
    }
  });

  $('#id_customer_branch').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_customer_volume').focus();
      event.preventDefault();
      return false;        
    }
  });

  $('#id_customer_volume').on('keypress', function (e) {
    if(e.which === 13){      
      event.preventDefault();
      $('#contract-form').submit();
      return false;    
    }
  });

/*
$(document).on('submit', '#contract-form',function(e){
  e.preventDefault();
  $.ajax({        
        type:'POST',
        url:'{% url "search_contract_number" %}',
        data:{
            customer_id:$('#customer_id').val(),
            customer_branch:$('#customer_branch').val(),
            customer_volume:$('#customer_volume').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("contract-form").reset();
            $(".card-body").html('<div class="col-md-12">'+
                '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +
                    '<div class="col p-4 d-flex flex-column position-static">' +
                        '<p class="mb-auto">' + json.contract_number + '</p>' +
                    '</div>' +
                '</div>' +
            '</div>' 
            )
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
    }
  });
});
*/

</script>
{% endblock %}