{% extends "page_generic.html" %}

{% block title %}{{ page_title}} - ระบบลูกค้า{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><small><i class="fas fa-handshake text-secondary"></i></small>&nbsp;&nbsp;Contract <small><small><small>| contract Information</small></small></small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Contract</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <!--<div class="card-tools">-->
          <div class="form-group row justify-content-md-center col-md-12" >
            
           <div class="col-sm-4">
              <label for="contract_number">Contract Number</label>
              <input class="form-control" id="contract_number" type="text">
            </div>
            <div class="col-sm-2">
              <label for="branch_number">Branch Number</label>
              <input class="form-control" id="branch_number" type="text">
            </div>
            <div class="col-sm-2">
              <label for="volume_number">Volume Number</label>
              <input class="form-control" id="volume_number" type="text">
            </div>

          </div>

        </div>
        
        <div class="card-body">
          Content
        </div>
        <!-- /.card-body -->

      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->

{% endblock %}
