{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer Update' %} {% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <form id="contractupdateform" method="post" action="{% url 'contract-update' form.instance.pk %}" class="js-contract-update-form">
    {% csrf_token %}
  
    <div class="">
      <div class="row mb">
        <div class="col-8">          
          <h1 class="m-0 text-dark">&nbsp;<strong>{{contract.cnt_id}}</strong></h1>
        </div>
        <div class="col-4">

          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              {% render_field form.cnt_active id="id_cnt_active" class="form-control" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Pending" data-onstyle="success" data-offstyle="danger"%}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <!-- Main content -->  
  <section class="content">
    
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title"><strong>{{ customer.cus_name_th }}&nbsp;&nbsp;-&nbsp;&nbsp;{{customer.cus_zone.zone_en}}</strong></h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>

      <div class="card-body">

        <div class="" id="show-error">
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation"></i>&nbsp;&nbsp;Your data is not correct. {{ field.name }} - {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
          {% if form_is_valid %}
            <div class="alert alert-success">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Saved complete. Back to <a href="{% url 'customer-list' %}">Customer List</a>
            </div>
          {% endif %}
        {% endif %}
        </div>


        <div class="row">

          <div class="col-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="thai-tab" data-toggle="tab" href="#thai" role="tab" aria-controls="thai" aria-selected="true">TH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="english-tab" data-toggle="tab" href="#english" role="tab" aria-controls="english" aria-selected="false">EN</a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active" id="thai" role="tabpanel" aria-labelledby="thai-tab">

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_name_th">{% trans 'Company' %}</label>
                    <input type="text" class="form-control form-control-sm" id="id_cus_name_th" name="cus_name_th" readonly value="{{ customer.cus_name_th }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_tel">{% trans 'Site Name' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cus_address_th">{% trans 'Address' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_add1_th }}&nbsp;{{ customer.cus_add2_th }}">
                  </div>                  
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_subdist_th">{% trans 'Sub-District' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_subdist_th }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_district">{% trans 'District' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_district }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_city">{% trans 'City' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_city }}">
                  </div>                  
                  <div class="form-group col-md-2">
                    <label for="cus_country">{% trans 'Country' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_country }}">
                  </div>                  
                  <div class="form-group col-md-2">
                    <label for="cus_country">{% trans 'Zip' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_zip }}">
                  </div>                                    
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_contact">{% trans 'Contact Person' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{customer.cus_contact.con_fname_th}}&nbsp;{{customer.cus_contact.con_lname_th}}">
                  </div>    
                  <div class="form-group col-md-2">
                    <label for="cus_contact_position">{% trans 'Position' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.con_position_th }}">
                  </div>                  

                  <div class="form-group col-md-2">
                    <label for="cus_tel">{% trans 'Phone' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_tel }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_fax">{% trans 'Fax' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_fax }}">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="cus_email">{% trans 'Email' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_email }}">
                  </div>
                </div>

              </div>


              <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab">


                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_name_en">{% trans 'Company' %}</label>
                    <input type="text" class="form-control form-control-sm" id="id_cus_name_en" name="cus_name_en" readonly value="{{ customer.cus_name_en }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_tel">{% trans 'Site Name' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cus_address_en">{% trans 'Address' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_add1_en }}&nbsp;{{ customer.cus_add2_en }}">
                  </div>                  
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_subdist_en">{% trans 'Sub-District' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_subdist_en }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_district">{% trans 'District' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_district.dist_en }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_city">{% trans 'City' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_city.city_en }}">
                  </div>                  
                  <div class="form-group col-md-2">
                    <label for="cus_country">{% trans 'Country' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_country.country_en }}">
                  </div>                  
                  <div class="form-group col-md-2">
                    <label for="cus_country">{% trans 'Zip' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_zip }}">
                  </div>                                    
                </div>

                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="cus_contact">{% trans 'Contact Person' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{customer.cus_contact.con_fname_en}}&nbsp;{{customer.cus_contact.con_lname_en}}">
                  </div>    
                  <div class="form-group col-md-2">
                    <label for="cus_contact_position">{% trans 'Position' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_contact.con_position_en }}">
                  </div>                  

                  <div class="form-group col-md-2">
                    <label for="cus_tel">{% trans 'Phone' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_tel }}">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="cus_fax">{% trans 'Fax' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_fax }}">
                  </div>

                  <div class="form-group col-md-2">
                    <label for="cus_email">{% trans 'Email' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly value="{{ customer.cus_email }}">
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->



    <div class="card card-default">

      <div class="card-header">
        <h1 class="card-title"><strong>{% trans 'Contract Information' %}</strong></h1>
        <div class="card-tools">
          <a href="javascript:void(0);" type="button" onclick="customerupdateform.submit()" class="btn btn-outline-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>        
        </div>        
      </div>
      <!-- /.card-header -->

      <div class="card-body">


        <div class="row">

          <div class="col-12">

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cus_zip">{% trans 'Contract Ref.' %}</label>
                <input type="text" class="form-control form-control-sm" value={{contract.cnt_doc_no}}>
              </div>
              <div class="form-group col-md-6">
                <label for="cus_tel">{% trans 'Created Date' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_doc_date|date:'d/m/Y'}}" placeholder="Created Date">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="cus_zip">{% trans 'Effect Term From' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_eff_frm|date:'d/m/Y'}}" placeholder="From">
              </div>
              <div class="form-group col-md-3">
                <label for="cus_tel">{% trans 'Effect Term To' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_eff_to|date:'d/m/Y'}}" placeholder="To">
              </div>
              <div class="form-group col-md-3">
                <label for="cus_zip">{% trans 'Contract Term From' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_sign_frm|date:'d/m/Y'}}" placeholder="From">
              </div>
              <div class="form-group col-md-3">
                <label for="cus_tel">{% trans 'Contract Term To' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_sign_to|date:'d/m/Y'}}" placeholder="To">
              </div>              
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">

                <label for="cus_zip">{% trans 'Wage Rate' %}</label>
                <div class="input-group-append">
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_wage_id.wage_en}}&nbsp;&nbsp;|&nbsp;&nbsp;{{contract.cnt_wage_id.wage_8hr}}" readonly>
                
                  <button id="wage_rate_lookup" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-url=""><i class="fas fa-search fa-sm"></i></button>
                </div>                
              </div>
              <div class="form-group col-md-3">
                <label for="cus_zip">{% trans 'Guard Amount' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_guard_amt}}" readonly>
              </div>
              <div class="form-group col-md-3">
                <label for="cus_tel">{% trans 'Sale Amount' %}</label>
                <input type="text" class="form-control form-control-sm text-right" value="{{contract.cnt_sale_amt}}" readonly>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label>{% trans 'Authorized by' %}</label>
                <input type="text" class="form-control form-control-sm" value="{{contract.cnt_apr_by.apr_name_en}}&nbsp;&nbsp;({{contract.cnt_apr_by.apr_name_th}})" readonly>
              </div>                 
            </div>

          </div>
          
        </div>
        <!-- /.row -->     


      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  


    <div class="card card-default">

      <div class="card-header">
        <h1 class="card-title"><strong>Service List</strong></h1>
        <div class="card-tools">
          
          <!--<a href="javascript:void(0);" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus fa-sm"></i>&nbsp;&nbsp;{% trans 'New' %}</a>-->

          <button id="add_service_button" type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-url="{% url 'get_district_list' %}"><i class="fas fa-plus fa-sm"></i>&nbsp;New</button>

        </div>        
      </div>

      <div class="card-body">
        <!-- Service List -->
        <div class="row">

          <div class="col-md-12">
            <table id="customer-list-table1" class="table table-bordered table-sm table-responsive">
              <tr class="table-secondary">
                <!--<th scope="col">{% trans 'Service ID' %}</th>-->
                <th>{% trans 'Eff Frm' %}</th>
                <th scope="col">{% trans 'Eff To' %}</th>            
                <th scope="col" nowrap>{% trans 'Shift Time' %}</th>
                <th scope="col">{% trans 'Qty' %}</th>
                <th scope="col">{% trans 'Rank' %}</th>
                <th scope="col">{% trans 'Rate' %}</th>
                <th scope="col">{% trans 'Ext.Cost' %}</th>
                <th scope="col">{% trans 'MON' %}</th>
                <th scope="col">{% trans 'TUE' %}</th>
                <th scope="col">{% trans 'WED' %}</th>
                <th scope="col">{% trans 'THU' %}</th>
                <th scope="col">{% trans 'FRI' %}</th>
                <th scope="col">{% trans 'SAT' %}</th>
                <th scope="col">{% trans 'SUN' %}</th>
                <th scope="col">{% trans 'PUB' %}</th>
                <th scope="col">{% trans 'Remark' %}</th>
                <th scope="col">{% trans 'Active' %}</th>
                <th>&nbsp;</th>
              </tr>
              <tbody>
                {% for item in cus_service %}
                  <tr>
                  <!--<td>{{item.srv_id}}</td>-->
                  {% if item.srv_active %}
                  <td><small><a href="javascript:void(0);">{{item.srv_eff_frm|date:'d/m/Y'}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_eff_to|date:'d/m/Y'}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_shif_id}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_qty}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_rank}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_rate}}</a></small></td>
                  <td></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_mon}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_tue}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_wed}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_thu}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_fri}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_sat}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_sun}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_pub}}</a></small></td>
                  <td><small><a href="javascript:void(0);">{{item.srv_rem}}</a></small></td>
                  <td><small><span class="badge badge-success">{% trans 'Active' %}</span></small></td>
                  {% else %}
                  <td><small>{{item.srv_eff_frm|date:'d/m/Y'}}</small></td>
                  <td><small>{{item.srv_eff_to|date:'d/m/Y'}}</small></td>
                  <td><small>{{item.srv_shif_id}}</small></td>
                  <td><small>{{item.srv_qty}}</small></td>
                  <td><small>{{item.srv_rank}}</small></td>
                  <td><small>{{item.srv_rate}}</small></td>
                  <td></td>
                  <td><small>{{item.srv_mon}}</small></td>
                  <td><small>{{item.srv_tue}}</small></td>
                  <td><small>{{item.srv_wed}}</small></td>
                  <td><small>{{item.srv_thu}}</small></td>
                  <td><small>{{item.srv_fri}}</small></td>
                  <td><small>{{item.srv_sat}}</small></td>
                  <td><small>{{item.srv_sun}}</small></td>
                  <td><small>{{item.srv_pub}}</small></td>
                  <td><small>{{item.srv_rem}}</small></td>                  
                  <td><span class="badge badge-secondary">{% trans 'Pending' %}</span></td>
                  {% endif %}

                  <td>
                    <div class="btn-group btn-group-sm">
                      <a href="javascript:void(0);" type="button" class="btn btn-info btn-xs js-update-contract-service">
                        <i class="fas fa-pen fa-xs"></i>
                      </a>
                      &nbsp;
                      <button type="button" class="btn btn-danger btn-xs js-delete-contract-service">
                        <i class="fas fa-trash fa-xs"></i>
                      </button>
                    </div>
                  </td>
                  </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </section>
  </form>
<!-- /.content -->
</div>


<!-- Service List Modal -->
<div class="modal fade" id="service_list_modal" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-plus fa-sm"></i>&nbsp;&nbsp;<strong>{% trans 'Add New Service' %}</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        

        <!-- Service List Modal -->
        <div class="row">
          <div class="col-12">
            <div class="card card-info">

              <div class="card-body">

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="cus_zip">{% trans 'Effect Term From' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cus_tel">{% trans 'Effect Term To' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cus_zip">{% trans 'Rank' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cus_tel">{% trans 'Shift' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>                  
                </div>
      
                <div class="form-row">

                  <div class="form-row col-6">
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Mon' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Tue' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Wed' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Thu' %}</label>                        
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                  </div>

                  <div class="form-row col-6">
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Fri' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Sat' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Sun' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-3">
                      <label for="cus_zip">{% trans 'Pub' %}</label>                        
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                  </div>

                </div>              

                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label for="cus_zip">{% trans 'QTY' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="cus_tel">{% trans 'Cost' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>

                  <div class="form-group col-md-3">
                    <label for="cus_zip">{% trans 'Total Cost' %}</label>
                    <input type="text" class="form-control form-control-sm" readonly>
                  </div>


                  <div class="form-group col-md-3 text-center">
                    <label for="cus_zip">&nbsp;</label>
                    <div class="form-check">
                      <!--<input class="form-check-input" type="checkbox" checked>-->
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">{% trans 'Active' %}</label>
                    </div>                                                
                  </div>

                </div>   

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="cus_zip">{% trans 'Remark' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cus_tel">{% trans 'Cost Rate' %}</label>
                    <input type="text" class="form-control form-control-sm" value="">
                  </div>
                </div>   

              </div>
            </div>
          </div>
          
        </div>
        <!-- /.row --> 

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans 'Cancel' %}</button>
        <button type="button" class="btn btn-success btn-sm">{% trans 'Add' %}</button>
      </div>
    </div>
  </div>
</div>


<!-- Wage Rate Modal -->
<div class="modal fade" id="wageratemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Wage Rate Lookup' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Loading...' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-success btn-sm">{% trans 'Select' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-wrapper -->
{% endblock %}



{% block javascript %}
<script>
  $(document).ready(function(){    

    $('#add_service_button').on('click', function (e) {
      var obj = $(this);      
      $("#service_list_modal").modal("show");

      /*
      $.ajax({
        url: obj.attr("data-url"),
        type: 'get',          
        dataType: 'json',
        beforeSend: function () {
          $("#wageratemodal").modal("show");
        },
        success: function (data) {
          var result = ""
          var count = data.results.length;
          var dist_id = data.results[0]["dist_id"];

          result += "<table class='table table-hover table-sm'>";
          result += " <thead>";
          result += "   <tr>";
          result += "     <th scope='col'>{% trans 'ID' %}</th>";
          result += "     <th scope='col'>{% trans 'Name' %}</th>";
          result += "     <th scope='col'>{% trans 'City' %}</th>";
          result += "   </tr>";
          result += " </thead>";
          result += " <tbody>";

          for(var i=0; i<count; i++) {              
            var dist_id = data.results[i]["dist_id"];
            var dist_name_th = data.results[i]["dist_th"];
            var city_name_th = data.results[i]["city_th"];

            result += "<tr>";
            result += "<td>" + dist_id + "</td>";        
            result += "<td>" + dist_name_th + "</td>";
            result += "<td>" + city_name_th + "</td>";
            result += "</td>";
            result += "</tr>";              
          }
          result += " </tbody>";
          result += "</table>";
          
          $("#districtmodal .modal-body").html(result);            
        },
        error: function(data){
          $("#districtmodal .modal-body").html("{% trans 'There is no data.' %}");
        }          
      });
      */
   });

    $('#wage_rate_lookup').on('click', function (e) {
      var obj = $(this);      
      $.ajax({
          url: obj.attr("data-url"),
          type: 'get',          
          dataType: 'json',
          beforeSend: function () {
            $("#wageratemodal").modal("show");
          },
          success: function (data) {
            var result = ""
            var count = data.results.length;
            var dist_id = data.results[0]["dist_id"];

            result += "<table class='table table-hover table-sm'>";
            result += " <thead>";
            result += "   <tr>";
            result += "     <th scope='col'>{% trans 'ID' %}</th>";
            result += "     <th scope='col'>{% trans 'Name' %}</th>";
            result += "     <th scope='col'>{% trans 'City' %}</th>";
            result += "   </tr>";
            result += " </thead>";
            result += " <tbody>";

            for(var i=0; i<count; i++) {              
              var dist_id = data.results[i]["dist_id"];
              var dist_name_th = data.results[i]["dist_th"];
              var city_name_th = data.results[i]["city_th"];

              result += "<tr>";
              result += "<td>" + dist_id + "</td>";        
              result += "<td>" + dist_name_th + "</td>";
              result += "<td>" + city_name_th + "</td>";
              result += "</td>";
              result += "</tr>";              
            }
            result += " </tbody>";
            result += "</table>";
            
            $("#districtmodal .modal-body").html(result);            
          },
          error: function(data){
            $("#districtmodal .modal-body").html("{% trans 'There is no data.' %}");
          }          
      });
   });

 });

</script>
{% endblock %}
