{% extends "page_generic.html" %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ page_title}} - {% trans 'Customer Update' %} {% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <form id="contractupdateform" method="post" action="{% url 'contract-update' form.instance.pk %}" class="js-contract-update-form">
    {% csrf_token %}
  
    <div class="">
      <div class="row mb-2">
        <div class="col-8">          
          <h1 class="m-0 text-dark">{{contract.cnt_id}}</h1>
        </div>
        <div class="col-4">

          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">
              {% render_field form.cnt_active id="id_cnt_active" class="form-control" type="checkbox" data-toggle="toggle" data-on="Active" data-off="Pending" data-onstyle="success" data-offstyle="danger"%}
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <!-- Main content -->  
  <section class="content">
    
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">{{ customer.cus_name_th }}</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
      </div>


      <div class="card-body">

        <div class="" id="show-error">
        {% if form.errors %}
            {% for field in form %}                
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <i class="fas fa-exclamation"></i>&nbsp;&nbsp;Your data is not correct. {{ field.name }} - {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
          {% if form_is_valid %}
            <div class="alert alert-success">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Saved complete. Back to <a href="{% url 'customer-list' %}">Customer List</a>
            </div>
          {% endif %}
        {% endif %}
        </div>


        <div class="row">          
          <div class="col-2">
            <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="vert-tabs-th-tab" data-toggle="pill" href="#vert-tabs-th" role="tab" aria-controls="vert-tabs-th" aria-selected="true">TH</a>
              <a class="nav-link" id="vert-tabs-en-tab" data-toggle="pill" href="#vert-tabs-en" role="tab" aria-controls="vert-tabs-en" aria-selected="false">EN</a>
            </div>
          </div>

          <div class="col-10">
            <div class="tab-content" id="vert-tabs-tabContent">
              <div class="tab-pane text-left fade show active" id="vert-tabs-th" role="tabpanel" aria-labelledby="vert-tabs-th-tab">

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="cus_zip">{% trans 'Company' %}</label>
                    <input type="text" class="form-control form-control-sm" id="id_cus_name_th" name="cus_name_th" readonly value="{{ customer.cus_name_th }}">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cus_tel">{% trans 'Site Name' %}</label>
                    <input type="text" class="form-control form-control-sm" value="{{contract.cnt_doc_date|date:'d/m/Y'}}" placeholder="Created Date">
                  </div>
                </div>

              </div>
              
              <div class="tab-pane fade" id="vert-tabs-en" role="tabpanel" aria-labelledby="vert-tabs-en-tab">
                <div class="form-group">  

                  <div class="input-group">
                    <label for="id_cus_name_en" class="col-sm-4 col-form-label form-control-sm">{% trans 'Company' %}</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control form-control-sm" id="id_cus_name_en" name="cus_name_en" readonly value="{{ customer.cus_name_en }}">
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  









    <div class="card card-default">

      <!--
      <div class="card-header">
        <h3 class="card-title">&nbsp;</h3>
        <div class="card-tools">
          &nbsp;
        </div>
      </div>
      -->
      <!-- /.card-header -->

      <div class="card-body">


          <!-- TODO -->
          <div class="row">

            <div class="col-md-6">

              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">{% trans 'Contract Information' %}</h3>
                </div>
                <div class="card-body">

                  <!--
                  <div class="form-group">  
                    <div class="input-group">
                      <label for="id_cus_name_th" class="col-sm-4 col-form-label form-control-sm">{% trans 'Customer Name' %}</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" id="id_cus_name_th" name="cus_name_th" value="">
                      </div>
                    </div>
                  </div>
                  -->

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Contract Ref.' %}</label>
                      <input type="text" class="form-control form-control-sm" value={{contract.cnt_doc_no}}>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Created Date' %}</label>
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_doc_date|date:'d/m/Y'}}" placeholder="Created Date">
                    </div>
                  </div>


                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Effect Term From' %}</label>
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_eff_frm|date:'d/m/Y'}}" placeholder="From">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Effect Term To' %}</label>
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_eff_to|date:'d/m/Y'}}" placeholder="To">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Contract Term From' %}</label>
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_sign_frm|date:'d/m/Y'}}" placeholder="From">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Contract Term To' %}</label>
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_sign_to|date:'d/m/Y'}}" placeholder="To">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-4">

                      <label for="cus_zip">{% trans 'Wage Rate' %}</label>
                      <div class="input-group-append">
                      <input type="text" class="form-control form-control-sm" value="{{contract.cnt_wage_id}}">
                      
                        <button id="wage_rate_lookup" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-url=""><i class="fas fa-search fa-sm"></i></button>
                      </div>

                    </div>
                    <div class="form-group col-md-4">
                      <label for="cus_zip">{% trans 'Guard Amount' %}</label>
                      <input type="text" class="form-control form-control-sm" value={{contract.cnt_guard_amt}} readonly>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="cus_tel">{% trans 'Sale Amount' %}</label>
                      <input type="text" class="form-control form-control-sm text-right" value={{contract.cnt_sale_amt}} readonly>
                    </div>        
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Authorized by' %}</label>
                      <input type="text" class="form-control form-control-sm" value={{contract.cnt_apr_by}} readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">&nbsp;</label>
                      <input type="text" class="form-control form-control-sm" value={{contract.cnt_apr_by}} readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">{% trans 'Service Information' %}</h3>
                </div>
                <div class="card-body">

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Effect Term From' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Effect Term To' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Rank' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Shift' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                  </div>              

                  <div class="form-row">
                    <div class="form-row col-6">
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Mon' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Tue' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Wed' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Thu' %}</label>                        
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                    </div>

                    <div class="form-row col-6">
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Fri' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Sat' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Sun' %}</label>
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                      <div class="form-group col-3">
                        <label for="cus_zip">{% trans 'Pub' %}</label>                        
                        <input type="text" class="form-control form-control-sm" value="">
                      </div>
                    </div>
                  </div>              

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="cus_zip">{% trans 'QTY' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="cus_tel">{% trans 'Cost' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>

                    <div class="form-group col-md-3">
                      <label for="cus_zip">{% trans 'Cost' %}</label>
                      <input type="text" class="form-control form-control-sm" readonly>
                    </div>


                    <div class="form-group col-md-3 text-center">
                      <label for="cus_zip">&nbsp;</label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" checked>
                        <label class="form-check-label">{% trans 'Active' %}</label>
                      </div>                                                
                    </div>

                  </div>   

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="cus_zip">{% trans 'Remark' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="cus_tel">{% trans 'Cost Rate' %}</label>
                      <input type="text" class="form-control form-control-sm" value="">
                    </div>
                  </div>   

                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->     




            <!-- Contact Person -->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-info">
                  
                  <div class="card-header">
                    <h3 class="card-title">{% trans 'Service List' %}</h3>
                  </div>

                  <div class="card-body">
                    <table id="customer-list-table1" class="table table-bordered table-striped table-sm">
                      <thead>
                      <tr>
                        <th scope="col">{% trans 'Service ID' %}</th>
                        <th scope="col">{% trans 'Eff From' %}</th>
                        <th scope="col">{% trans 'Eff To' %}</th>            
                        <th scope="col">{% trans 'Shift Time' %}</th>
                        <th scope="col">{% trans 'Qty' %}</th>
                        <th scope="col">{% trans 'Rank' %}</th>
                        <th scope="col">{% trans 'Rate' %}</th>
                        <th scope="col">{% trans 'Qty' %}</th>
                        <th scope="col">{% trans 'MON' %}</th>
                        <th scope="col">{% trans 'TUE' %}</th>
                        <th scope="col">{% trans 'WED' %}</th>
                        <th scope="col">{% trans 'THU' %}</th>
                        <th scope="col">{% trans 'FRI' %}</th>
                        <th scope="col">{% trans 'SAT' %}</th>
                        <th scope="col">{% trans 'SUN' %}</th>
                        <th scope="col">{% trans 'PUB' %}</th>
                        <th scope="col">{% trans 'Remark' %}</th>
                        <th scope="col">{% trans 'Status' %}</th>
                      </tr>
                      </thead>
                      <tbody>
                        {% include 'customer/partial_customer_list.html' %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
            <!-- TODO -->
      </div>
      <!-- /.card-body -->


      <div class="card-footer text-right">
        <a href="#" type="button" onclick="customerupdateform.submit()" class="btn btn-success btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</a>        
      </div>
      <!-- /.card-footer-->    

    </div>
    <!-- /.card -->
  



  <div class="modal fade" id="modal-customer">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
  </section>
  </form>
<!-- /.content -->

</div>

<!-- Wage Rate Modal -->
<div class="modal fade" id="wageratemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Wage Rate Lookup' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% trans 'Loading...' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="button" class="btn btn-success btn-sm">{% trans 'Select' %}</button>
      </div>
    </div>
  </div>
</div>
<!-- /.content-wrapper -->
{% endblock %}



{% block javascript %}
<script>
  $(document).ready(function(){    

    $('#wage_rate_lookup').on('click', function (e) {
      var obj = $(this);      
      $.ajax({
          url: obj.attr("data-url"),
          type: 'get',          
          dataType: 'json',
          beforeSend: function () {
            $("#wageratemodal").modal("show");
          },
          success: function (data) {
            var result = ""
            var count = data.results.length;
            var dist_id = data.results[0]["dist_id"];

            result += "<table class='table table-hover table-sm'>";
            result += " <thead>";
            result += "   <tr>";
            result += "     <th scope='col'>{% trans 'ID' %}</th>";
            result += "     <th scope='col'>{% trans 'Name' %}</th>";
            result += "     <th scope='col'>{% trans 'City' %}</th>";
            result += "   </tr>";
            result += " </thead>";
            result += " <tbody>";

            for(var i=0; i<count; i++) {              
              var dist_id = data.results[i]["dist_id"];
              var dist_name_th = data.results[i]["dist_th"];
              var city_name_th = data.results[i]["city_th"];

              result += "<tr>";
              result += "<td>" + dist_id + "</td>";        
              result += "<td>" + dist_name_th + "</td>";
              result += "<td>" + city_name_th + "</td>";
              result += "</td>";
              result += "</tr>";              
            }
            result += " </tbody>";
            result += "</table>";
            
            $("#districtmodal .modal-body").html(result);            
          },
          error: function(data){
            $("#districtmodal .modal-body").html("{% trans 'There is no data.' %}");
          }          
      });

   });

 });

</script>
{% endblock %}
