{% extends "page_generic.html" %}

{% block title %}{{ page_title}} - ระบบลูกค้า{% endblock %}

{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><small><i class="fas fa-handshake text-secondary"></i></small>&nbsp;&nbsp;Contract <small><small><small>| contract Information</small></small></small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Contract</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">

          <form method="POST" id="contract-form">
          {% csrf_token %}
          <div class="form-group row justify-content-md-center col-sm-12">
            <div class="col-sm-2 mt-3 text-sm-right"><label>Contract No</label></div>
            <div class="col-sm-3 mt-2">
              {{ form.cus_id }}
              <p class="text-danger">{{ form.cus_id.errors.as_text }}</p>
            </div>
            <div class="col-sm-2 mt-2">
              {{ form.cus_brn }} 
              <p class="text-danger">{{ form.cus_brn.errors.as_text }}</p>
            </div>
            <div class="col-sm-2 mt-2">
              {{ form.cus_vol }}
              <p class="text-danger">{{ form.cus_vol.errors.as_text }}</p>
            </div>
          </div>
          </form>
        </div>
        
        <div class="card-body">
            &nbsp;            
        </div>
        <!-- /.card-body -->

      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}
<script>
  $('#id_cus_id').focus();

  $('#id_cus_id').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_brn').focus();
      event.preventDefault();
      return false;        
    }
  });

  $('#id_cus_brn').on('keypress', function (e) {
    if(e.which === 13){
      $('#id_cus_vol').focus();
      event.preventDefault();
      return false;        
    }
  });


  /*
  $('#id_cus_vol').on('keypress', function (e) {
    if(e.which === 13){      
      event.preventDefault();
      $('#contract-form').submit();
      return false;    
    }
  });
  */
  
  $('#id_cus_vol').on('keypress', function (e) {
    if(e.which === 13){      
      event.preventDefault();

      $.ajax({        
            type:'POST',
            url:'{% url "search_contract_number" %}',
            data:{
                cus_id:$('#id_cus_id').val(),
                cus_brn:$('#id_cus_brn').val(),
                cus_vol:$('#id_cus_vol').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json){
                /*
                document.getElementById("contract-form").reset();
                $(".card-body").html('<div class="col p-4 d-flex flex-column position-static">' +
                        '<p class="mb-auto">' + json.cnt_id + '</p>' +
                        '<p class="mb-auto">' + json.error_message + '</p>' +
                    '</div>'            
                )
                */

                $(".card-body").html("");
                $(".card-body").html(json.error_message);
                $(".card-body").html(json.html_form);

            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });

      return false;    
    }
  });

</script>
{% endblock %}