{% extends "page_generic_print.html" %}

{% load i18n %}
{% block title %} {{ page_title}} - {% trans 'Contract Document' %} {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-8">
            <h1 class="m-0 pt-2 text-dark">{% trans 'Preview #' %} {{ cnt_id}} - {{customer.cus_name_th}}</h1>
          </div>
          <div class="col-sm-4 pt-2">
            <div class="float-right">
              <button type="button" class="btn btn-secondary btn-sm" onclick="closetab()">&nbsp;&nbsp;{% trans 'Close' %}&nbsp;&nbsp;</button>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'download-contract' file_name %}"><i class="fas fa-download"></i>&nbsp;&nbsp;{% trans 'Download MS Word' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div id="contract_list" class="card">

        <div class="card-body">                  
          <div class='col-8 offset-2'>
            
            <div class="text-center"><strong>บริษัท การ์ดฟอร์ซ ซิเคียวริตี้ เซอร์วิสเซส (ประเทศไทย) จำกัด ('การ์ดฟอร์ซ')</strong></div>
            
            <div class="text-center"><strong>การให้บริการรักษาความปลอดภัย</strong></div>
            <div>&nbsp;</div>
            <div class="float-right">
              <table>
                <tr><td>เลขที่</td><td><strong>{{cnt_doc_no}}</strong></td></tr>
                <tr><td>วันที่</td><td>{{today_date}}</td></tr>
              </table>
            </div>
            <br><br><br><br>
            <div>1. ชื่อลูกค้า: <strong>{{customer_name}}</strong></div><br>
            <div>
              2. ที่อยู่ ที่สามารถเรียกเก็บเงินของลูกค้า(ในใบแจ้งหนี้ / ใบกำกับภาษี / ใบเสร็จรับเงิน):<br>
              <strong>{{ customer_address }}</strong>
            </div>
            <br>
            <div>3. รายละเอียดการให้บริการโดยทางบริษัทการ์ดฟอร์ซ ซิเคียวริตี้ เซอร์วิส (ประเทศไทย) จำกัด (‘การ์ดฟอร์ซ’) การให้บริการรักษาความปลอดภัย</div>
            <br>
            <div>
              4. ที่อยู่ของสถานที่ที่จะให้บริการ<br>
              <strong>{{ customer_address }}</strong>
            </div>
            <br>
            <div>5. วันเริ่มให้บริการ&nbsp;&nbsp;&nbsp;<strong>{{ effective_from }}</strong>&nbsp;&nbsp;&nbsp;ถึงวันที่&nbsp;&nbsp;&nbsp;<strong>{{ effective_to }}</strong></div>            
            <br>
            <div>6. การให้บริการจะเป็นระยะเวลา 1 ปีและจะต่อสัญญาไปจนกว่าฝ่ายใดฝ่ายหนึ่งจะยกเลิกสัญญาตามอนุประโยคที่ 19</div>
            <br>
            <div><strong>7. เงื่อนไขพิเศษ</strong></div>
            <div>7.1  คำสั่งประจำตำแหน่งที่ได้ตกลงไว้โดย บริษัท การ์ดฟอร์ซ ซิเคียวริตี้ เซอร์วิสเซส (ประเทศไทย) จำกัด (‘การ์ดฟอร์ซ’) กับผู้ว่าจ้าง</div>
            <div>7.2  กฏและระเบียบของพนักงานรักษาความปลอดภัย บริษัท การ์ดฟอร์ซ ซิเคียวริตี้ เซอร์วิสเซส (ประเทศไทย) จำกัด (‘การ์ดฟอร์ซ’)</div>
          </div>
        </div>        
      </div>
    </section>

  </div>
{% endblock %}

{% block javascript %}
<script>
  function closetab() {
    window.top.close();  
  }
</script>

{% endblock %}