{% extends "page_generic_print.html" %}

{% load i18n %}
{% load humanize %}
{% block title %} Download Contract {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-8">
            {% if language_option == 'T' %}
            <h5 class="m-0 pt-2 text-dark">{{ cnt_id}} - {{customer.cus_name_th}}</h5>
            {% else %}
            <h5 class="m-0 pt-2 text-dark">{{ cnt_id}} - {{customer.cus_name_en}}</h5>
            {% endif %}
          </div>
          <div class="col-sm-4 pt-2">
            <div class="float-right">
              <button type="button" class="btn btn-secondary btn-sm" onclick="closetab()">&nbsp;&nbsp;{% trans 'Close' %}&nbsp;&nbsp;</button>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'download-contract' file_name %}"><i class="fas fa-download"></i>&nbsp;&nbsp;{% trans 'Download file' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div id="contract_list" class="card">

        <div class="card-body">

          {% if language_option == 'T' %}
            {% if is_new_report == '1' %}
              {% if is_amendment == '1' %}
                <!-- Guarding Services Addendum -->
                {% include 'contract/reports/renc102a_th.html' %}                
              {% else %}
                <!-- Guarding Services -->
                {% include 'contract/reports/renc102_th.html' %}
              {% endif %}
            {% else %}
              {% if is_amendment == '1' %}
                <!-- Service Agreement Amendment -->
                {% include 'contract/reports/rec102a_th.html' %}
              {% else %}
                <!-- Service Agreement -->
                {% include 'contract/reports/rec102_th.html' %}
              {% endif %}
            {% endif %}
          {% else %}
            {% if is_new_report == '1' %}
              {% if is_amendment == '1' %}
                <!-- GUARDING SERVICES ADDENDUM -->                
                {% include 'contract/reports/renc102a_en.html' %}
              {% else %}
                <!-- GUARDING SERVICES -->
                {% include 'contract/reports/renc102_en.html' %}
              {% endif %}
            {% else %}
              {% if is_amendment == '1' %}
              <!-- SERVICE AGREEMENT AMENDMENT -->
                {% include 'contract/reports/rec102a_en.html' %}
              {% else %}
                <!-- SERVICE AGREEMENT -->
                {% include 'contract/reports/rec102_en.html' %}
              {% endif %}
            {% endif %}
          {% endif %}        
        </div>        

      </div>
    </section>

  </div>
{% endblock %}

{% block javascript %}
<script>
  function closetab() {
    window.top.close();  
  }
</script>

{% endblock %}