{% extends "page_generic_print.html" %}

{% load i18n %}
{% block title %} {{ page_title}} - {% trans 'Contract Document' %} {% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Contract' %}</h1>
          </div>
          <div class="col-sm-6 pt-2">
            <div class="float-right">
              <button type="button" class="btn btn-secondary btn-sm" onclick="closetab()">&nbsp;&nbsp;{% trans 'Close' %}&nbsp;&nbsp;</button>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'download-contract' 'test.docx' %}"><i class="fas fa-download"></i>&nbsp;&nbsp;{% trans 'Download' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div id="contract_list" class="card">

        <!--
        <div class="card-header" style="vertical-align: middle;">
          <div class="card-tools">
            <button type="button" class="btn btn-info btn-sm js-create-customer" data-url=""><i class="fas fa-download"></i>&nbsp;&nbsp;{% trans 'Download' %}</button>            
          </div>
        </div>
        -->

        <div class="card-body">                  
          TODO
        </div>        

        <!--
        <div class="card-footer">
          &nbsp;
        </div>
        -->

    </div>

    </section>

  </div>
{% endblock %}




{% block javascript %}
<script>
  function closetab() {
    window.top.close();  
  }
</script>

{% endblock %}