{% if contract %}
<div class="row">

  <div class="col-1 col-sm-1">
    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">TH</a>
      <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">EN</a>
    </div>
  </div>

  <div class="col-11 col-sm-11">
    <div class="tab-content" id="vert-tabs-tabContent">
      <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab"> 
		{% if customer %}
			{% for item in customer %}
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label col-form-label-sm">Company</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control form-control-sm" id="customer_name_th" value="{{ item.cus_name_th }}" readonly>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
			    <div class="col-sm-5">
			      <input type="text" class="form-control form-control-sm" id="customer_name_th" value="{{ item.cus_add1_th }}" readonly>
			    </div>
			  </div>			  
		 	{% endfor %}
		{% endif %}		  
  	</div>

  	<div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
	{% if customer %}
		{% for item in customer %}
		  <div class="form-group row">
		    <label class="col-sm-2 col-form-label col-form-label-sm">Company</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control form-control-sm" id="customer_name_th" value="{{ item.cus_name_en }}" readonly>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control form-control-sm" id="customer_name_th" value="{{ item.cus_add1_en }}" readonly>
		    </div>
		  </div>
		{% endfor %}
	{% endif %}  	
  	</div>
  </div>

</div>

{% elif errorlist %}
<div class="col p-4 d-flex flex-column position-static">
	<div class="row">
		
	{% if errorlist %}

		{% for item in errorlist %}
			<p>{{ item }}</p>
		{% endfor %}
		
	{% endif %}

	<p>กรุณาตรวจสอบเงื่อนไขการป้อนข้อมูล</p>

	</div>
</div>
{% else %}
	<p class="mb-auto">Not found</p>
{% endif %}
