{% extends "page_generic.html" %}

{% load i18n %}

{% block title %}{% trans 'Change Password' %}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h4 class="m-0 text-dark">{% trans 'Change Password' %}</h4>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><i class="fa fa-home text-secondary" aria-hidden="true"></i>&nbsp;<a href="/">{% trans 'Home' %}</a></li>
            </ol>
            -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">

              <form action="" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="card-body">                  

                  <div class="form-group">                                                            
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Old Password' %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>
                      {{ form.password }}
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'New Password' %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </div>                      
                      {{ form.new_password }}
                    </div> 

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-lock-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Confirm New Password' %} </span>
                      </div>                      
                      {{ form.confirm_new_password }}
                    </div>
                    
                  </div>                

                  <div class="container">
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                          </div>
                      {% endfor %}
                  {% endif %}
                  </div> 

                </div>


                <div class="card-footer text-right">                 
                  <button type="submit" class="btn btn-success">{% trans 'OK' %}</button>
                </div>

              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}
