{% extends "page_generic.html" %}

{% load i18n %}

{% block title %}{% trans 'Change Language' %}{% endblock %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{% trans 'Change Language' %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <!--
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><i class="fa fa-home text-secondary" aria-hidden="true"></i>&nbsp;<a href="/">{% trans 'Home' %}</a></li>
            </ol>
            -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!-- Small boxes (Stat box) -->
        <div class="row">

          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">

              <form action="" method="post" autocomplete="off">
                {% csrf_token %}

                <div class="card-body">                  

                  <div class="form-group">                                       
                    <label for="{{ form.language_code.id_for_label }}">{{ form.language_code.label }}</label>
                    {{ form.language_code.errors }}
                    {{ form.language_code }}
                  </div>

                  <div class="container-fluid mb-12">
                    {% if messages %}

                    <div class="alert alert-success" role="alert">

                      <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                      {% for message in messages %}
                        {{ message }}                        
                      {% endfor %}
                    </div> 
                    {% endif %}



                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <i class="fas fa-exclamation"></i>&nbsp;&nbsp;{{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                  </div> 
                </div>

                <div class="card-footer text-right">                 
                  <button type="submit" class="btn btn-success">{% trans 'OK' %}</button>
                </div>                
              </form>


            </div>
          </div>
          
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </div>
  <!-- /.content-wrapper -->
{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}
