.login-box, .register-box {
    width: 400px;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
}

.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #e4e4e4;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
}

.login-box, .register-box {
    width: 360px;
    margin-bottom: 80px;
}

[class*=sidebar-dark-] {
    background-color: #d6d7d8;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #c6c8ca;
    color: rgba(255,255,255,.8);
}
