<aside class="control-sidebar control-sidebar-dark">

	<!--<div style="padding: 5px 12px 0 15px;">-->
	
	<div style="padding:5px 12px 0 15px; border-top: 5px solid #08798c; border-right: 5px solid #08798c; border-color: #08798c; border-left: 5px solid #08798c; border-bottom: 5px solid #08798c; background-color: #e9ecef; color: #000;">

	  <span><i class="fas fa-search"></i>&nbsp;<b>ค้นหาข้อมูลพนักงาน</b></span>
	    <form method="post" autocomplete="off" name="search_employee_form">
	      {% csrf_token %}
	      
	      <div class="p-0 pt-2">

	        <div class="form-group row">

	          <div class="input-group col-12">               
	              <div class="input-group-prepend"><span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px; height: 31px;"><b>รหัส</b></span></div>
	              <input type="number" min="3" maxlength="6" name="quick_search_emp_id" class="form-control form-control-sm border-bottom-1 border-left-0 rounded-0 bg-white" id="id_quick_search_emp_id" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
	          </div>


	          <div class="input-group col-12">               
	              <div class="input-group-prepend"><span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px; height: 31px;"><b>ชื่อ</b></span></div>
	              <input type="text" name="search_emp_firstname" class="form-control form-control-sm border-bottom-1 border-left-0 rounded-0 bg-white" id="id_search_emp_firstname">
	          </div>

	          <div class="input-group col-12">                  
	              <div class="input-group-prepend"><span class="input-group-text border-bottom-0 rounded-0" style="background-color: #d2d4d6; width:100px; height: 31px;"><b>นามสกุล</b></span></div>
	              <input type="text" name="search_emp_lastname" class="form-control form-control-sm datepicker border-bottom-1 border-left-0 rounded-0 bg-white" id="id_search_emp_lastname">
	          </div>

			  <div class="col-12 pt-2 text-right">			  				  	
			  	<button type="reset" class="btn btn-secondary btn-sm" onclick="employee_clear_button()">CLEAR</button>&nbsp;&nbsp;
			  	<button class="btn btn-info btn-sm" onclick="employee_search_button()">&nbsp;<i class="fas fa-search"></i>&nbsp;&nbsp;SEARCH</button>
			  </div>
			 
			  <div class="overflow-auto col-12 pt-2" id="employee_search_result" style="font-size: 13px;max-width: 400px; max-height: 200px;">
			  	สามารถค้นหาได้จาก รหัสพนักงาน / ชื่อ / นามสกุล
			  </div>

	        </div>


	      </div>


	    </form>   


	</div>

</aside>

<script>
  function employee_search_button() {
    event.preventDefault();

    quick_search_emp_id = $("#id_quick_search_emp_id").val();
    search_emp_firstname = $("#id_search_emp_firstname").val();
    search_emp_lastname = $("#id_search_emp_lastname").val();
	
	console.log(quick_search_emp_id + " " + search_emp_firstname + " " + search_emp_lastname);

	if(quick_search_emp_id == "") {
		id_quick_search_emp_id = 0;
	} 

	if(search_emp_firstname == "") {
		search_emp_firstname = "0";
	}

	if(search_emp_lastname == "") {
		search_emp_lastname = "0";
	}

	if (quick_search_emp_id==0 && search_emp_firstname=="0" && search_emp_lastname=="0") {		
		$("#id_quick_search_emp_id").focus();
		return false;
	} else {
		$.ajax({    	
			url: "/ajax-search-employee-d1/",
			type : "POST",
			data : {          
		  		csrfmiddlewaretoken: '{{ csrf_token }}',
		  		search_emp_id: quick_search_emp_id,
		  		search_emp_firstname: search_emp_firstname,
		  		search_emp_lastname: search_emp_lastname
			},
			success: function(data) {
				if(data.is_error) {
					$('#employee_search_result').html(data.error_message)
				} else {
					result_length = data.employee_search_list.length;
					result = "";

					result += "<div class='col-12 p-0'>"
					result += "พบทั้งหมด&nbsp;&nbsp;&nbsp;&nbsp;<span class='text-success'><b>" + result_length + "</b></span>&nbsp;&nbsp;&nbsp;&nbsp;รายการ"
					result += "</div>";

					result += "<div class='table-responsive'>"
					result += "<table class='table table-striped table-bordered table-sm'>";
					result += "  <thead style='background-color: #257638; color: #fff;'>";
					result += "    <tr>";
					result += "      <th scope='col'>รหัส</th>";
					result += "      <th scope='col'>ชื่อ</th>";
					result += "      <th scope='col'>นามสกุล</th>";
					result += "      <th scope='col'>ตำแหน่ง</th>";
					result += "      <th scope='col'>สถานะ</th>";
					result += "    </tr>";
					result += "  </thead>";
					result += "  <tbody>";
					
					for(i=0;i<result_length;i++) {
						result += "    <tr>";						
						result += "      <td>" + data.employee_search_list[i][0] + "</td>";
						result += "      <td>" + data.employee_search_list[i][1] + "</td>";
						result += "      <td>" + data.employee_search_list[i][2] + "</td>";
						result += "      <td>" + data.employee_search_list[i][3] + "</td>";
						result += "      <td>" + data.employee_search_list[i][4] + " - " + data.employee_search_list[i][5] + "</td>";
						result += "    </tr>";
					}

					result += "  </tbody>";
					result += "</table>";
					result += "</div>";

					$('#employee_search_result').html(result);

				}
				
			}
		});

	}
  }

  function employee_clear_button() {        
    $('#search_employee_form').trigger("reset");
    //$('#employee_search_result').html("สามารถค้นหาได้จาก รหัสพนักงาน / ชื่อ / นามสกุล")
    $('#employee_search_result').html("")
    $("#id_quick_search_emp_id").focus();
  }  
</script>