<font size="3em;">
<ul class="nav nav-pills nav-sidebar flex-column p-0" data-widget="treeview" role="menu" data-accordion="true">
  <li class="nav-item has-treeview p-0">
    
    {% if perms.contractreport.can_access_contract_menu_report %}
    <a href="#" class="nav-link">
      <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>SP-Admin Reports</b><i class="right fas fa-angle-left"></i></p>
    </a>

    <ul class="nav nav-treeview p-0">

      {% if perms.contractreport.can_access_contract_list_report %}
      <li class="nav-item p-0">
        <a href="/reports/sp-admin/contract-list/" class="nav-link"><p>Contract List</p></a>
      </li>
      {% endif %}

      {% if perms.customerreport.can_access_export_customer_address_main_report %}
      <li class="nav-item p-0">
        <a href="/reports/sp-admin/customer/export-customer-main-address/" class="nav-link"><p>Customer Address (Main)</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="/reports/sp-admin/customer/export-customer-site-address/" class="nav-link"><p>Customer Address (Site)</p></a>
      </li>
      {% endif %}

      {% if perms.dailyattendreport.can_access_gpm403_daily_guard_performance_by_contract_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/gpm-403-daily-guard-performance-by-contract/" class="nav-link"><p>GPM 403 Daily Guard Performance by Contract</p></a>
      </li>
      {% endif %}

    </ul>
    {% endif %}






    {% if perms.dailyattendreport.can_access_daily_attend_report %}
    <a href="#" class="nav-link">
      <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>CMS Reports</b><i class="right fas fa-angle-left"></i></p>
    </a>

    <ul class="nav nav-treeview p-0">

      {% if perms.dailyattendreport.can_access_gpm403_daily_guard_performance_by_contract_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/gpm-403-daily-guard-performance-by-contract/" class="nav-link"><p>GPM 403 Daily Guard Performance by Contract</p></a>
      </li>
      {% endif %}

      {% if perms.dailyattendreport.can_access_gpm_work_on_day_off_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/gpm-work-on-day-off-day-off/" class="nav-link"><p>GPM Work on Day Off</p></a>
      </li>
      {% endif %}


      {% if perms.dailyattendreport.can_access_gpm_422_no_of_guard_operation_by_empl_by_zone_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/gpm-422-no-of-guard-operation-by-empl-by-zone/" class="nav-link"><p>GPM 422 No. of Guard Operation by Employee / Zone</p></a>
      </li>
      {% endif %}

    </ul>
    {% endif %}


    <!-- PAYROLL -->
    {% if perms.dailyattendreport.can_access_psn_slip_d1_report %}
    <a href="#" class="nav-link">
      <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>Payroll Reports</b><i class="right fas fa-angle-left"></i></p>
    </a>            
    <ul class="nav nav-treeview p-0">

      {% if perms.dailyattendreport.can_access_psn_slip_d1_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/psn-slip-d1/" class="nav-link"><p>Income / Deduct Statement</p></a>
      </li>
      {% endif %}

      {% if perms.dailyattendreport.can_access_income_deduct_d1_report %}
      <li class="nav-item p-0">
        <a href="/reports/cms/income-deduct-d1/" class="nav-link"><p>Income / Deduct History</p></a>
      </li>
      {% endif %}

    </ul>
    {% endif %}


            
    <!-- CMS Report -->
    {% if perms.dailyattendreport.can_access_daily_attend_report %}
    <a href="#" class="nav-link">
      <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>SP-Admin Reports</b><i class="right fas fa-angle-left"></i></p>
    </a>

    <ul class="nav nav-treeview p-0">

      {% if perms.contractreport.can_access_contract_list_report %}
      <li class="nav-item p-0">
        <a href="/reports/sp-admin/contract-list/" class="nav-link"><p>Contract List</p></a>
      </li>
      {% endif %}

    </ul>
    {% endif %}


  </li> 

</ul>

</font>