{% load i18n %}
{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <!--<span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;">
      &nbsp;
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar p-0">

      <!-- Sidebar Menu -->
      <nav class="mt-1 p-0">

        <font size="3em;">
        <ul class="nav nav-pills nav-sidebar flex-column p-0" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview p-0">
            
            {% if perms.dailyattendreport.can_access_daily_attend_report %}
            <a href="#" class="nav-link">
              <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>CMS Reports</b><i class="right fas fa-angle-left"></i></p>
            </a>

            <ul class="nav nav-treeview p-0">

              {% if perms.dailyattendreport.can_access_gpm403_daily_guard_performance_by_contract_report %}
              <li class="nav-item p-0">
                <a href="/reports/cms/gpm403-daily-guard-performance-by-contract/" class="nav-link"><p>Daily Guard Performance by Contract</p></a>
              </li>
              {% endif %}

              {% if perms.dailyattendreport.can_access_gpm_work_on_day_off_report %}
              <li class="nav-item p-0">
                <a href="/reports/cms/gpm-work-on-day-off-day-off/" class="nav-link"><p>GPM Work on Day Off</p></a>
              </li>
              {% endif %}


              {% if perms.dailyattendreport.can_access_gpm_422_no_of_guard_operation_by_empl_by_zone_report %}
              <li class="nav-item p-0">
                <a href="/reports/cms/gpm-422-no-of-guard-operation-by-empl-by-zone/" class="nav-link"><p>GPM 422 No. of Guard Operation by Employee / Zone</p></a>
              </li>
              {% endif %}

            </ul>
            {% endif %}


            {% if perms.contractreport.can_access_contract_list_report %}
            <a href="#" class="nav-link">
              <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>SP-Admin Reports</b><i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview p-0">
              <li class="nav-item p-0">
                <a href="/reports/sp-admin/contract-list/" class="nav-link"><p>Contract List</p></a>
              </li>
              <li class="nav-item p-0">
                <a href="/reports/sp-admin/customer/export-customer-main-address/" class="nav-link"><p>Customer Address (Main)</p></a>
              </li>
              <li class="nav-item p-0">
                <a href="/reports/sp-admin/customer/export-customer-site-address/" class="nav-link"><p>Customer Address (Site)</p></a>
              </li>
              <li class="nav-item p-0">
                <a href="/reports/cms/gpm403-daily-guard-performance-by-contract/" class="nav-link"><p>Daily Guard Performance by Contract</p></a>
              </li>
            </ul>
            {% endif %}


          </li> 

        </ul>
        </font>


      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

{% block scripts %}
<script type='text/javascript'>
  function underconstruction() {
    alert("This area is underconstruction.");
  }

  $(document).ready(function() {
    var pathname = window.location.pathname;
    
    $('.nav-treeview > li > a[href="'+pathname+'"]').addClass('active');
    $('.nav-treeview > li > a[href="'+pathname+'"]').closest('.has-treeview').addClass('has-treeview menu-open');
    $('.nav-treeview > li > a[href="'+pathname+'"]').parents('li.has-treeview').children().addClass('active');
    
  });

</script>

{% endblock %}
