{% load i18n %}
{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <!--<span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;">
      &nbsp;
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar p-0">

      <!-- Sidebar Menu -->
      <nav class="mt-1 p-0">

        <font size="3em;">
        <ul class="nav nav-pills nav-sidebar flex-column p-0" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview p-0">
            
            {% if perms.dailyattendreport.can_access_daily_attend_report %}
            <a href="#" class="nav-link">
              <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>CMS Reports</b><i class="right fas fa-angle-left"></i></p>
            </a>

            <ul class="nav nav-treeview p-0">

              {% if perms.dailyattendreport.can_access_gpm403_daily_guard_performance_by_contract_report %}
              <li class="nav-item p-0">
                <a href="/reports/control-room/daily-attend/gpm403-daily-guard-performance-by-contract/" class="nav-link"><p>GPM403 Daily Guard Performance by Contract</p></a>
              </li>
              {% endif %}
            </ul>
            {% endif %}

          </li> 

        </ul>
        </font>


      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

{% block scripts %}
<script type='text/javascript'>
  function underconstruction() {
    alert("This area is underconstruction.");
  }

  $(document).ready(function() {
    var pathname = window.location.pathname;
    
    $('.nav-treeview > li > a[href="'+pathname+'"]').addClass('active');
    $('.nav-treeview > li > a[href="'+pathname+'"]').closest('.has-treeview').addClass('has-treeview menu-open');
    $('.nav-treeview > li > a[href="'+pathname+'"]').parents('li.has-treeview').children().addClass('active');
    
  });

</script>

{% endblock %}
