{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <!--<span class="brand-text font-weight-light"></span>-->
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;">
      &nbsp;
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        
        {% if request.path|slice:":15" == '/system-control' %}
        <!-- System Control - Company -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>Company<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'company-approve-priority' %}" class="nav-link">
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i>
                  <p>Approve Priority</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'company-company-information' %}" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Company Information</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Company Type</p></a>
              </li>
              <li class="nav-item">
                <a href="{% url 'company-department-list' %}" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Department</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Division</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Employee Grade</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Position</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Rank</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Section</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Zone</p></a>
              </li>
            </ul>
          </li>           
        </ul>
        <!-- /.System Control - Company -->

        <!-- System Control - Main Table -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>Main Table<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Address Type</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Bank</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>City</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Clear Employee</p></a>                
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Condition</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Contact Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Country</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Discipline</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>District</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Education Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Employee Status</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Frequency</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Holiday</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Hospital</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>House</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Insurance Type</p></a>
              </li>            
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Leave Policy</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Leave Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Message</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Nation</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Overtime Rate</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Overtime Reason</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Pay Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Performance Topic</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Period</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Promotion Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Provident Fund</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Public Holiday</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Punishment</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Recruitment Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Relation Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Religion</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Salary</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Shift</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Terminate Reason</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Terminate Type</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Title</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Training Topic</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Wage Rank</p></a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Wage Zone</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.System Control - Main Table -->

        <!-- System Control - User -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>User<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Permission Maintenance</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Salary Permission</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>User Information</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>User Type</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.System Control - User -->

        <!-- System Control - HRMS -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>HRMS<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Date Control</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon align-top"></i><p>Leave Employee<br>Maintenance</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Module Maintenance</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Password Setup</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Policy Maintenance</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Group List</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Item List</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Pay Rate</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Show Limit</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Tax</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Set Tax Parameter</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-check nav-icon"></i><p>Social Rate Set</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.System Control - HRMS -->

        {% endif %}

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

{% block scripts %}

<script type='text/javascript'>
$(document).ready(function() {
  var pathname = window.location.pathname;
  
  $('.nav-treeview > li > a[href="'+pathname+'"]').addClass('active');
  $('.nav-treeview > li > a[href="'+pathname+'"]').closest('.has-treeview').addClass('has-treeview menu-open');
  $('.nav-treeview > li > a[href="'+pathname+'"]').parents('li.has-treeview').children().addClass('active');
  
})
</script>
{% endblock %}