{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <!--<span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
      <img src="{% static 'img/logo-small.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;">
      &nbsp;
      <span class="brand-text font-weight-light"><img src="{% static 'img/logo-big.png' %}" width="150px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        
        {% if request.path|slice:":15" == '/system-control' %}
        <!-- System Control - Company -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>Company<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'company-approve-priority' %}" class="nav-link">&nbsp;&nbsp;Approve Priority</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'company-company-information' %}" class="nav-link">&nbsp;&nbsp;Company Information</a>
              </li>                            
            </ul>
          </li>           
        </ul>
        <!-- /.System Control - Company -->

        <!-- System Control - Main Table -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-cog"></i><p>Main Table<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;Sub 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">&nbsp;&nbsp;Sub 2</a>
              </li>              
            </ul>
          </li> 
        </ul>
        <!-- /.System Control - Main Table -->

        {% endif %}

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

{% block scripts %}

<script type='text/javascript'>
$(document).ready(function() {
  var pathname = window.location.pathname;
  
  $('.nav-treeview > li > a[href="'+pathname+'"]').addClass('active');
  $('.nav-treeview > li > a[href="'+pathname+'"]').closest('.has-treeview').addClass('has-treeview menu-open');
  $('.nav-treeview > li > a[href="'+pathname+'"]').parents('li.has-treeview').children().addClass('active');
  
})
</script>
{% endblock %}