{% load static %}

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">      
      <!--<span class="brand-text font-weight-light">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
      <!--<img src="{% static 'img/logo-small.png' %}" alt="Logo" class="brand-image img-circle elevation-3" style="opacity:.8;">
      &nbsp;-->
      <span class="brand-text font-weight-light pl-4"><img src="{% static 'img/logo-big.png' %}" width="180px;"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">

        <!-- Report - Customer & Contract -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Customer & Contract<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Contract List</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Export Customer Address<br>(Main)</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Export Customer Address<br>(Site)</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>GPM407 Work Performance<br>by Rank by Zone</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>GPM508  Estimate Actual<br>Cost Report</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Sales Report</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Visit Report by Criteria</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Visit Report by Overduce<br>Visites</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Customer & Contract -->

        <!-- Report - Schedule Daily Attend -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Schedule Daily Attend<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fas fa-caret-right nav-icon"></i><p>Daily Attendance Guards</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Another 34 reports</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Schedule Daily Attend -->

        {% comment %}
        <!-- Report - Personal -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Personal<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item align-top">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Amount of Employee Group <br>by Worktime</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Another 63 reports</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Personal -->
        {% endcomment %}

        {% comment %}
        <!-- Report - Income & Deduct -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Income & Deduct<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item align-top">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Batch Import Uniform</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Income & Deduct -->
        {% endcomment %}

        {% comment %}
        <!-- Report - Payroll Payment -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Payroll Payment<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item align-top">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Balance Summary Report</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Balance Summary<br>Terminate Report</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Deduction List by<br>Employee</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Group Insurance Deduction</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Income & Deduction<br>Statement</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Payment Pending by Zone</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Summary Deduction by<br>Payment Type</p></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Write off</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Payroll Payment -->
        {% endcomment %}

        <!-- Report - System -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>System<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item align-top">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Check Wage Active</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - System -->

        <!-- Report - Web Leave Report -->
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-line"></i><p>Web Leave Report<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item align-top">
                <a href="#" class="nav-link align-top"><i class="fas fa-caret-right nav-icon align-top"></i><p>Web leave complete <br>approval report</p></a>
              </li>
            </ul>
          </li> 
        </ul>
        <!-- /.Report - Web Leave Report -->

      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  {% block scripts %}

<script type='text/javascript'>
$(document).ready(function() {
  var pathname = window.location.pathname;
  
  $('.nav-treeview > li > a[href="'+pathname+'"]').addClass('active');
  $('.nav-treeview > li > a[href="'+pathname+'"]').closest('.has-treeview').addClass('has-treeview menu-open');
  $('.nav-treeview > li > a[href="'+pathname+'"]').parents('li.has-treeview').children().addClass('active');
  
})
</script>
{% endblock %}
