<font size="3em;">
<ul class="nav nav-pills nav-sidebar flex-column p-0" data-widget="treeview" role="menu" data-accordion="true">
  <li class="nav-item has-treeview p-0">
    
    {% if perms.contractreport.can_access_contract_list_report %}
    <a href="#" class="nav-link">
      <i class="fas fa-chart-pie"></i>&nbsp;&nbsp;&nbsp;<p><b>SP-Admin Reports</b><i class="right fas fa-angle-left"></i></p>
    </a>

    <ul class="nav nav-treeview p-0">

      {% if perms.contractreport.can_access_contract_list_report %}
      <li class="nav-item p-0">
        <a href="/reports/sp-admin/contract-list/" class="nav-link"><p>Contract List</p></a>
      </li>
      {% endif %}

      {% if perms.customerreport.can_access_export_customer_address_main_report %}
      <li class="nav-item p-0">
        <a href="/reports/sp-admin/customer/export-customer-main-address/" class="nav-link"><p>Customer Address (Main)</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="#" class="nav-link"><p>Customer Address (Site)</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="#" class="nav-link"><p>GPM407 Work Performance</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="#" class="nav-link"><p>Sales Report</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="#" class="nav-link"><p>Visit Report by Criteria</p></a>
      </li>

      <li class="nav-item p-0">
        <a href="#" class="nav-link"><p>Visit Report by Overdue</p></a>
      </li>

      {% endif %}

    </ul>
    {% endif %}

  </li> 
</ul>
</font>