{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Daily Guard Performance{% endblock %}
{% load static %}

{% block content %}
 	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	
		<div class="content-header">
			<div class="col-6 offset-3">

			</div>
		</div>

    	<!-- Main content -->
    	<section class="content">


    		<!-- SEARCH FORM -->
			<div class="card card-outline card-default" id="daily_attendance_search_card">

				<div class="card-body">
					

					<div class="d-flex justify-content-center">
						<form class="form-inline" name="daily_guard_performance_search_form" id="daily_guard_performance_search_form">
							<div class="form-inline">
								<label class="control-label">Employee ID&nbsp;&nbsp;</label>&nbsp;&nbsp;
							    <input type="number" class="form-control form-control-sm" id="id_search_emp_id">&nbsp;&nbsp;

			                    <label class="control-label" for="id_search_by_cnt_id">Date From/To</label>&nbsp;
			                    <input type="text" id="id_search_date_from" class="form-control form-control-sm" value="">
			                    <input type="text" id="id_search_date_to" class="form-control form-control-sm" value="">&nbsp;&nbsp;&nbsp;
							    
			                    <button id="id_search_submit_button" name="search_submit_button" type="button" class="btn btn-sm btn-primary">Search</button>&nbsp;
						        <button id="id_search_cancel_button" name="search_cancel_button" type="button" class="btn btn-sm btn-secondary">Cancel</button>							    
							</div>
						</form>

					</div>

			  	</div>
			</div>



    	</section>
	</div>
{% endblock %}


{% block javascript %}
<script>	
	
$(document).ready(function(){
	var today = new Date();
	var date = today.getDate() + "/" + ("0" + today.getMonth()+1).slice(-2) + '/' + today.getFullYear() + " 00:00";

	$('#id_search_date_from').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true, todayHighlight: true}).datepicker("setDate", new Date());
	
	$('#id_search_date_to').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true, todayHighlight: true}).datepicker("setDate", new Date());

	$("#id_search_emp_id").focus();
});


$(document).on('keyup keypress', '#daily_guard_performance_search_form input[type="text"]', function(e) {
	if(e.which == 13) {
		e.preventDefault();
		return false;
    }
});

$(document).on('keypress', '#id_search_emp_id', function(e) {
  if(e.which == 13) {      
    
    e.preventDefault();

  	var obj = $(this);
  	var id_emp_id = obj.val();
  	
  	if(id_emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนรหัสพนักงาน",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		$("#id_search_emp_id").focus();
  	} else {
  		$("#id_search_date_from").focus();
  	}
  }
});

$(document).on('keypress', '#id_search_date_from', function(e) {
  if(e.which == 13) {          
    e.preventDefault();
  	var obj = $(this);
  	var id_search_date_from = obj.val();
  	
  	if(id_search_date_from=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่เริ่มต้น",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		$("#id_search_date_from").focus();
  	} else {
  		$("#id_search_date_to").focus();
  	}
  }
});

$(document).on('click', '#id_search_submit_button', function(e) {    	
	var emp_id = $("#id_search_emp_id").val();
	var search_date_from = $("#id_search_date_from").val();
	var search_date_to = $("#id_search_date_to").val();

	if(emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่เริ่มต้น",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;		
	}

	if(emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนรหัสพนักงาน",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		    keys: ['enter', 'shift'],
		});
		return false;		
	} 

	if(search_date_from=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่เริ่มต้น",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;
	}

	if(search_date_to=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่สิ้นสุด",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;
	}


	alert("TODO");
	console.log(emp_id+","+search_date_from+","+search_date_to);

});

$(document).on('click', '#id_search_cancel_button', function(e) {    	
	$("#daily_guard_performance_search_form").trigger("reset");
	$("#id_search_emp_id").focus();	
});


</script>
{% endblock %}
