{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Daily Attendance{% endblock %}
{% load static %}

{% block content %}
 	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	
		<div class="content-header">
			<div class="col-6 offset-3">

			</div>
		</div>

    	<!-- Main content -->
    	<section class="content">

    		<!-- SEARCH FORM -->
			<div class="card card-outline card-default" id="daily_attendance_search_card">

			  <div class="card-body">
				<form class="form-inline" name="daily_attendance_search_form">
					{% csrf_token %}

			  	<div class="row col-12">

			  		<div class="float-left text-left col-5">
					    <div class="form-inline">
					        <label class="control-label">Date</label>&nbsp;&nbsp;				        
					        <input type="text" class="form-control form-control-sm" id="id_dly_date" placeholder="dd/mm/yyyy">&nbsp;&nbsp;
					    	<label class="control-label">Shift</label>&nbsp;&nbsp;
					        <select id="id_search_shift_option" class="form-control form-control-sm">
							  <option value="0">---------</option>
							  <option value="1" selected="">A | All</option>
							  <option value="2">D | Day shift</option>
							  <option value="3">N | Night shift</option>
					        </select>					        
					    </div>
					</div>

					<div class="float-right text-right col-7">
					    <div class="form-group">
		                      <input class="form-check-input" type="radio" name="searchOptions" id="id_search_by_cnt_id" value="1" checked>
		                      <label class="control-label" for="id_search_by_cnt_id">Contract No</label>&nbsp;
		                      <input type="number" min=0 id="id_cus_id" class="form-control form-control-sm col-2" value="">&nbsp;
		                      <input type="number" min=0 id="id_cus_brn" class="form-control form-control-sm col-1" value="000">&nbsp;
		                      <input type="number" min=0 id="id_cus_vol" class="form-control form-control-sm col-1" value="001">&nbsp;&nbsp;&nbsp;
		                      <input class="form-check-input" type="radio" name="searchOptions" id="id_search_by_empid" value="2" readonly>
		                      <label class="control-label" for="id_search_by_empid">Employee ID</label>&nbsp;
		                      <input type="text" id="id_search_emp_id" class="form-control form-control-sm col-2" readonly>&nbsp;&nbsp;

		                      <button id="cancelDailyAttendanceButton" type="button" class="btn btn-sm btn-warning pull-right">Cancel</button>
	                    </div>


	                </div>
	                

				</div>
				</form>
			  </div>
			  <!-- /.card-body -->

			  <!--
			  <div class="card-footer">
			  	&nbsp;
			  </div>
			  -->
			  <!-- /.card-footer -->
			</div>
			<!-- /.card -->




			<!-- DATA ENTRY FORM -->
			<div class="card card-outline card-secondary" id="daily_attendance_data_entry_card">

			  <!--
			  <div class="card-header">
			    <div class="card-tools">
			    	<button id="save_button" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus fa-sm"></i>&nbsp;&nbsp;{% trans 'Add' %}</button>&nbsp;&nbsp;|&nbsp;&nbsp;
		        	<button id="save_button" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</button>
		        	<button id="delete_button" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-sm"></i>&nbsp;&nbsp;{% trans 'Delete' %}</button>
			    </div>	
			  </div>
			  -->

			  <div class="card-body">
				<form class="form-inline" name="daily_attendance_form">
					{% csrf_token %}
				</form>

				<!-- Tab Header -->
		        <div class="clearfix">
		          <div class="float-left">
		            <ul class="nav nav-tabs navbar-expand nav-fill" id="customer" role="tablist">

		              <li class="nav-item active">
		                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1">{% trans 'Attendance Information' %}</a>
		              </li>

		              <li class="nav-item">
		                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2">{% trans 'Contract/Schedule Information' %}</a>
		              </li>

		            </ul>        
		          </div>
		        </div>


		        <!-- Tab Body -->
		        <div class="tab-content" id="dailyAttendanceBodyTab">
		            <div class="tab-pane fade show active pt-2" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

		            	<div id="id_schedule_option"></div>

		            	<div id="id_employee_list" class="bg-light">
							<font size='2em;'>
							<table id='employee_list_table' class='table table-responsive table-sm table-condensed table-wrapper-scroll-y my-custom-scrollbar'>
							  <thead>
							    <tr>
							      <th scope="col">&nbsp;</th>
							      <th scope="col" nowrap>Emp ID</th>
							      <th scope="col">Name</th>
							      <th scope="col">Rank</th>
							      <th scope="col">Shift</th>
							      <th scope="col">Late</th>
							      <th scope="col">Full</th>
							      <th scope="col">Relief</th>
							      <th scope="col" nowrap>Rel. ID</th>
							      <th scope="col">Name</th>
							      <th scope="col">TEL</th>
							      <th scope="col" nowrap>Call Time</th>
							      <th scope="col" nowrap>Call Amt</th>
							      <th scope="col" nowrap>Call Paid</th>
							      <th scope="col">Spare</th>
							      <th scope="col">Wage</th>
							      <th scope="col" nowrap>Upd Date</th>
							      <th scope="col" nowrap>Upd By</th>
							      <th scope="col" nowrap>Upd Flag</th>
							      <th scope="col" nowrap>Upd Gen</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td colspan="20" class="text-center"><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
						<font size='2em'><span class="text-danger">x</span> is absent.</font>
		        	</div>

		            <div class="tab-pane fade show" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
		            	TODO
		        	</div>

		        </div>



			  </div>
			  <!-- /.card-body -->

			  <!--
			  <div class="card-footer">
			  	&nbsp;
			  </div>
			  -->

			  <!-- /.card-footer -->

			  <!--
			  <div id="test" class="overlay">
				<i class="fas fa-2x fa-sync-alt fa-spin"></i>
			  </div>
			  -->
			</div>
			<!-- /.card -->


					
    		<!-- EMPLOYEE DETAIL -->
			<div class="card card-outline card-success">

			  <div class="card-header">
			    
	            <div class="form-check d-inline">
	              <input class="form-check-input" id="id_absent_check" name="absent_check" type="checkbox">
	              <label class="form-check-label"><b>Absent</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
	            </div>

	            <div class="form-check d-inline">
	              <input class="form-check-input" id="id_late_check" name="late_check" type="checkbox">
	              <label class="form-check-label"><b>Late</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
	            </div>

	            <div class="form-check d-inline">
	              <input class="form-check-input" id="id_phone_check" name="phone_check" type="checkbox">
	              <label class="form-check-label"><b>Phone</b></label>&nbsp;&nbsp;&nbsp;&nbsp;
	            </div>

			    <div class="card-tools">
					<button id="add_button" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus fa-sm"></i>&nbsp;&nbsp;{% trans 'New' %}</button>
					<button id="reset_button" type="button" class="btn btn-secondary btn-sm">&nbsp;{% trans 'Cancel' %}</button>&nbsp;&nbsp;|&nbsp;&nbsp;
		        	<button id="save_button" type="button" class="btn btn-primary btn-sm"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</button>
		        	<button id="delete_button" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash fa-sm"></i>&nbsp;&nbsp;{% trans 'Delete' %}</button>		        			      
			    </div>
			    <!-- /.card-tools -->

			  </div>

			  <!-- /.card-header -->
			  <div class="card-body">


			  	<div class="col-md-10 float-left">

					<form class="form-row" id="dailyAttendanceDataEntryForm">
					{% csrf_token %}

					  	<div class="row col-12">

						  <div class="form-row">
							<div class="form-group col-md-2">
						      	<label for="id_emp_id">Employee ID</label>     
								<div class="input-group">                            	
						      		<input type="number" id="id_emp_id" name="id_emp_id" class="form-control form-control-sm" value="" />
						      		<button id="emp_id_lookup_button" type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-url=""><i class="fas fa-search fa-sm"></i></button>
						    	</div>
							</div>

						    <div class="form-group col-md-2">
						      <label for="id_emp_fullname_th">Name</label>
						      <input type="text" class="form-control form-control-sm" id="id_emp_fullname_th" readonly>
						    </div>

							<div class="form-group col-1">
								<label for="id_emp_rank">Rank</label>
								<input type="text" class="form-control form-control-sm" id="id_emp_rank" readonly>
							</div>

							<div class="form-group col-1">
								<label for="id_emp_dept">Dept</label>
								<input type="text" class="form-control form-control-sm" id="id_emp_dept" readonly>
							</div>

						    <div class="form-group col-2">
						      <label class="control-label"><b>Join</b></label>
						      <input type="text" id="id_emp_join_date" class="form-control form-control-sm" readonly>
						    </div>

						    <div class="form-group col-2">
						      <label class="control-label nowrap"><b>Terminate</b></label>
						      <input type="text" id="id_emp_term_date" class="form-control form-control-sm" readonly>
						    </div>

						    <div class="form-group col-2">
						      <label class="control-label"><b>Status</b></label>
						      <input type="text" id="id_emp_status" class="form-control form-control-sm" readonly>
						    </div>
						</div>

					  </div>

					  <div class="row col-12">
						  
				            <div class="form-check">
				              <input class="form-check-input" id="id_relief_check" name="relief_check" type="checkbox">
				              <label class="form-check-label">Relief</label>&nbsp;&nbsp;&nbsp;&nbsp;
				            </div>
						  
					  </div>

					  <div class="row col-12">
						  <div class="form-row">

							<div class="form-group col-3">
						      	<label for="id_sent_spare">Sent spare</label>     
						      	<input type="number" id="id_sent_spare" name="sent_spare" class="form-control form-control-sm" />					    	
							</div>
							<div class="form-group col-9">
						      	<label for="id_sent_spare">Shift</label>
						        <select id="id_shift_option" class="form-control form-control-sm">
								  <option value="99" selected>99   # DAY OFF ########</option>
								  <option value="999">999   # ANOTHER SITE #</option>
						        </select>					        					      	
							</div>

						  </div>
					  </div>


					  <div class="row col-12">
						  <div class="form-row container-fluid">
							<div class="form-group col-2">
						      	<label for="id_job_type_option">Job Type</label>
						        <select id="id_job_type_option" class="form-control form-control-sm" readonly>
								  <option value="00" selected>00 :No</option>
						        </select>	
							</div>
							<div class="form-group col-6">
						      	<label for="id_remark">Remark</label>     
						      	<input type="text" id="id_remark" name="remark" class="form-control form-control-sm" readonly />
							</div>
						  </div>
					  </div>

					  <input type="hidden" id="id_add_new_record_status" name="add_new_record_status" value=0 ?>

					</form>



				</div>
			

				<div class="col-md-2 float-left">
					<font size='2em;'> 
					<table class="table table-sm table-bordered">
					  <thead>
					    <tr>
					      <td colspan="4" class="text-center bg-info"><b>Normal</b></td>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td class="text-center"><b>D</b><!--&nbsp;&nbsp;<i class="fas fa-sun"></i>--></td>
					      <td class="text-center"><div id="totalNDP">0</div></td>
					      <td class="text-center"><div id="totalNDA">0</div></td>
					      <td class="text-center text-danger"><div id="totalNDM">0</div></td>
					    </tr>
					    <tr>
					      <td class="text-center"><b>N</b><!--&nbsp;&nbsp;<i class="fas fa-moon"></i>--></td>
					      <td class="text-center"><div id="totalNNP">0</div></td>
					      <td class="text-center"><div id="totalNNA">0</div></td>
					      <td class="text-center text-danger"><div id="totalNNM">0</div></td>
					    </tr>

					    <!--

						LBLNDP = totalNDP
						LBLNNP = totalNNP
						LBLPDP = totalPDP
						LBLPNP = totalPNP						
					    -->
					  </tbody>
					</table>

					<font size='2em;'> 
					<table class="table table-sm table-bordered">
					  <thead>
					    <tr>
					      <td colspan="4" class="text-center bg-info"><b>Public</b></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td class="text-center"><b>D</b><!--&nbsp;&nbsp;<i class="fas fa-sun"></i>--></td>
					      <td class="text-center"><div id="totalPDP">0</div></td>
					      <td class="text-center"><div id="totalPDA">0</div></td>
					      <td class="text-center text-danger"><div id="totalPDM">0</div></td>
					    </tr>
					    <tr>
					      <td class="text-center"><b>N</b><!--&nbsp;&nbsp;<i class="fas fa-moon"></i>--></td>
					      <td class="text-center"><div id="totalPNP">0</div></td>
					      <td class="text-center"><div id="totalPNA">0</div></td>
					      <td class="text-center text-danger"><div id="totalPNM">0</div></td>
					    </tr>
					  </tbody>
					</table>					
					</font>
				</div>
				<!--</form>-->
			  </div>
			  <!-- /.card-body -->

			  <!--
			  <div class="card-footer">
			  	&nbsp;
			  </div>
			  -->
			  <!-- /.card-footer -->

			</div>
			<!-- /.card -->



    	</section>
	</div>
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function(){
		$("#id_cus_id").on('click', function(){
			$("#id_cus_id").select();
		});
		$("#id_cus_brn").on('click', function(){
			$("#id_cus_brn").select();
		});
		$("#id_cus_vol").on('click', function(){
			$("#id_cus_vol").select();
		});

		disableAllElements();

		$('#id_cus_id').focus();
		$('#id_cus_id').select();
	});

 	function disableAllElements() {
 		$("#dailyAttendanceDataEntryForm:input").attr("disabled", true);
 		$("#dailyAttendanceDataEntryForm").trigger("reset");

 		$("#id_emp_id").attr("disabled", true);
 		$("#id_sent_spare").attr("disabled", true);

		result = "";
		result += "<option value='0' selected></option>";
		result += "<option value='099'>99   # DAY OFF ########</option>";
		result += "<option value='0999'>999   # ANOTHER SITE #</option>";
		var $el = $("#id_shift_option");
		$el.empty();
		$el.append(result);
 		$("#id_shift_option").attr("disabled", true); 		

 		$("#emp_id_lookup_button").attr("disabled", true);
 		$("#add_button").attr("disabled", true);
 		$("#reset_button").attr("disabled", true);
 		$("#save_button").attr("disabled", true);
 		$("#delete_button").attr("disabled", true);

 		$("#id_absent_check").attr("disabled", true);
		$("#id_late_check").attr("disabled", true);
 		$("#id_phone_check").attr("disabled", true);

 		$("#id_emp_id").attr("disabled", true);
 		$("#emp_id_lookup_button").attr("disabled", true);
		$("#id_sent_spare").attr("disabled", true);
		$("#id_shift_option").attr("disabled", true);
		$("#id_job_type_option").attr("disabled", true);
		$("#id_remark").attr("disabled", true);
 	}

 	function enableAllElements() { 		
 		$("#dailyAttendanceDataEntryForm:input").attr("disabled", false);                              
 		
 		//$("#id_emp_id").attr("disabled", false);
 		//$("#emp_id_lookup_button").attr("disabled", false);
 		//$("#id_sent_spare").attr("disabled", false);
 		//$("#id_shift_option").attr("disabled", false); 		

 		$("#add_button").attr("disabled", false);
 		//$("#reset_button").attr("disabled", true);
 		//$("#save_button").attr("disabled", true);
 		//$("#delete_button").attr("disabled", true);

 		$("#id_absent_check").attr("disabled", false);
		$("#id_late_check").attr("disabled", false);
 		$("#id_phone_check").attr("disabled", false);
 	}

	$(document).on('keyup keypress', '#daily_attendance_search_form input[type="text"]', function(e) {
		if(e.which == 13) {
			e.preventDefault();
			return false;
	    }
	});

    $(document).on('keypress', '#id_cus_id', function(e) {
      if(e.which == 13) {      
        e.preventDefault();

        var obj = $(this);
      	var id_cus_id = obj.val();

      	if(id_cus_id!=0) {
	      	while (id_cus_id.length < 7)
	        	id_cus_id = "0" + id_cus_id;
	      	$('#id_cus_id').val(id_cus_id);

	        $('#id_cus_brn').focus();
	        $('#id_cus_brn').select();
      	} else {
      		$(this).focus();      		
      	}

      }
    });

    $(document).on('keypress', '#id_cus_brn', function(e) {
      if(e.which == 13) {      
        e.preventDefault();

      	var obj = $(this);
      	var id_cus_brn = obj.val();

      	while (id_cus_brn.length < 3) 
        	id_cus_brn = "0" + id_cus_brn;
      	
      	$('#id_cus_brn').val(id_cus_brn);

        $('#id_cus_vol').focus();
        $('#id_cus_vol').select();
      }
    });


    /* ID_CUS_VOL */
    $(document).on('keypress', '#id_cus_vol', function(e) {
      if(e.which == 13) { 
      	
      	showLoading();

        e.preventDefault();
        
    	var obj = $(this);
      	var id_cus_vol = obj.val();
      	while (id_cus_vol.length < 3) 
        	id_cus_vol = "0" + id_cus_vol;

        $('#id_cus_vol').val(id_cus_vol);

        var attendance_date = $('#id_dly_date').val();
      	var cus_id = $('#id_cus_id').val();
      	var cus_brn = $('#id_cus_brn').val();
      	var cus_vol = $('#id_cus_vol').val();

		$.ajax({
			url : "/monitoring/ajax/get_attendance_information/",
			type : "POST",
			data : {          
		  		csrfmiddlewaretoken: '{{ csrf_token }}',
		  		attendance_date: attendance_date,
		  		cus_id: cus_id,
		  		cus_brn: cus_brn,
		  		cus_vol: cus_vol,
			},
			success : function(data) {
				if(data.is_found) {

					// Get Schedule list info
					result = "";
					schedule_list_length = data.schedule_list.length;
					for(i=0; i<schedule_list_length; i++) {
						result += data.schedule_list[i];
					}

					// TODO
					//$('#id_schedule_option').text(result);
					$('#id_schedule_option').text("");

					// Get Employee info
					result = "";
					result += "<font size='2em;'>";
					//result += "<table id='employee_list_table' class='table table-sm table-fixed table-condensed table-wrapper-scroll-y my-custom-scrollbar'>";
					result += "<table id='employee_list_table' class='table table-responsive table-sm table-condensed table-wrapper-scroll-y my-custom-scrollbar'>";
					result += "  <thead>";
					result += "    <tr>";
					result += "      <th scope='col'>&nbsp;</th>";
					result += "      <th scope='col' nowrap>Emp ID</th>";
					result += "      <th scope='col' nowrap>Name</th>";
					result += "      <th scope='col'>Rank</th>";
					result += "      <th scope='col'>Shift</th>";
					result += "      <th scope='col'>Late</th>";
					result += "      <th scope='col'>Full</th>";
					result += "      <th scope='col'>Relief</th>";
					result += "      <th scope='col' nowrap>Rel. ID</th>";
					result += "      <th scope='col'>Name</th>";
					result += "      <th scope='col'>Tel</th>";
					result += "      <th scope='col' nowrap>Call Time</th>";
					result += "      <th scope='col' nowrap>Call Amt</th>";
					result += "      <th scope='col' nowrap>Call Paid</th>";
					result += "      <th scope='col'>Spare</th>";
					result += "      <th scope='col'>Wage</th>";
					result += "      <th scope='col' nowrap>Upd Date</th>";
					result += "      <th scope='col' nowrap>Upd By</th>";
					result += "      <th scope='col' nowrap>Upd Flag</th>";
					result += "      <th scope='col' nowrap>Upd Gen</th>";
					result += "    </tr>";
					result += "  </thead>";
					result += "  <tbody class='sortable'>";

					if(data.employee_list.length>0) {
						for(i=0; i<data.employee_list.length; i++) {
							emp_id = data.employee_list[i]["emp_id"];
							emp_fname_th = data.employee_list[i]["emp_fname_th"];
							emp_lname_th = data.employee_list[i]["emp_lname_th"];
							sch_rank = data.employee_list[i]["sch_rank"];
							shf_desc = data.employee_list[i]["shf_desc"];
							absent = data.employee_list[i]["absent"];
							tel_man = data.employee_list[i]["tel_man"];
							tel_time = data.employee_list[i]["tel_time"];
							tel_amt = data.employee_list[i]["tel_amt"];
							tel_paid = data.employee_list[i]["tel_paid"];
							spare = data.employee_list[i]["spare"];
							wage_id = data.employee_list[i]["wage_id"];
							upd_date = data.employee_list[i]["upd_date"];
							upd_by = data.employee_list[i]["upd_by"];
							upd_flag = data.employee_list[i]["upd_flag"];
							upd_gen = data.employee_list[i]["upd_gen"];
							result += "    <tr>";							
							if(absent==1) {
								result += "	     <td><font class='text-danger'>x</font></td>";
							} else {
								result += "	     <td>&nbsp</td>";
							}
							
							result += "	     <td>" + emp_id + "</td>";
							result += "	     <td nowrap>" + emp_fname_th + "&nbsp;&nbsp;" + emp_lname_th + "</td>";
							result += "	     <td>" + sch_rank + "</td>";
							result += "	     <td nowrap>" + shf_desc + "</td>";
							result += "	     <td></td>";
							result += "	     <td></td>";
							result += "	     <td></td>";
							result += "	     <td></td>";
							result += "	     <td></td>";
							result += "	     <td class='text-center'>" + tel_man + "</td>";
							result += "	     <td nowrap>" + tel_time + "</td>";
							result += "	     <td>" + tel_amt + "</td>";
							result += "	     <td>" + tel_paid + "</td>";
							result += "	     <td>" + parseInt(spare) + "</td>";
							result += "	     <td>" + wage_id + "</td>";
							result += "	     <td nowrap>" + upd_date + "</td>";
							result += "	     <td>" + upd_by + "</td>";
							result += "	     <td>" + upd_flag + "</td>";
							result += "	     <td>" + upd_gen + "</td>";
							result += "    </tr>";
						}

						enableAllElements();

						$("#id_dly_date").attr("readonly", true);
						$("#id_search_shift_option").attr("readonly", true);
						$("#id_cus_id").attr("readonly", true);
						$("#id_cus_brn").attr("readonly", true);
						$("#id_cus_vol").attr("readonly", true);
						$("input[name=searchOptions]").attr("disabled",true);
					}
					else {
							result += "    <tr class='text-center'>";
							result += "	     <td colspan='20'><br><br>There is no data.<br><br><br></td>";
							result += "	   </tr>"
					}
					result += "  </tbody>";
					result += "</table>";					
					result += "</font>";

					$('#id_employee_list').html(result);


					// Show available Shift Option
					var $el = $("#id_shift_option");
					$el.empty();				
					result += "<option value='0' selected></option>";
					$el.append(result);
					if(data.schedule_list.length>0) {
						for(i=0; i<data.schedule_list.length; i++) {
							shf_id = data.schedule_list[i]["shf_id"];
							shf_desc = data.schedule_list[i]["shf_desc"];
							$el.append($("<option></option>").attr("value", shf_id).text(shf_desc));
						}
					}
									
					// TOTAL
					$("#totalNDP").html(data.totalNDP);
					$("#totalNNP").html(data.totalNNP);
					$("#totalPDP").html(data.totalPDP);
					$("#totalPNP").html(data.totalPNP);

					$("#totalNDA").html(data.totalNDA);
					$("#totalNNA").html(data.totalNNA);
					$("#totalPDA").html(data.totalPDA);
					$("#totalPNA").html(data.totalPNA);

					$("#totalNDM").html(data.totalNDM);
					$("#totalNNM").html(data.totalNNM);
					$("#totalPDM").html(data.totalPDM);
					$("#totalPNM").html(data.totalPNM);
				} else {
					$.alert({
					    title: 'Error',
					    type: 'red',
					    content: "No attendance schedule is available on <strong>" + attendance_date + "</strong><br>Please contact your supervisor to generate the schedule first.",
					    animation: 'zoom',
					    animationBounce: 1.5,
					    closeIcon: false,
					    boxWidth: '38%',
					    useBootstrap: false,
					});					
				}
			}
		});

		$.LoadingOverlay("hide");
      	
      }
    });


	/*
    $(document).on('keypress', '#id_emp_id', function(e) {
      if(e.which == 13) {      
        e.preventDefault();
        alert("emp_id keypress");
      }
    });
	*/

	$(document).on('keypress', '#id_emp_id', function(e) {
		if(e.which == 13) {      
			e.preventDefault();

			cus_id = $('#id_cus_id').val();
			cus_brn = $('#id_cus_brn').val();
			cus_vol = $('#id_cus_vol').val();
			emp_id = $(this).val();
			shift_id = $("#id_shift_option").val();

			if(cus_id=="") {
				alert("Please entet Customer ID.");
				$('#id_cus_id').focus();				
				return false;
			}

			if(cus_brn=="") {
				alert("Please entet Customer Branch.");
				$('#id_cus_brn').focus();
				return false;			
			}

			if(cus_vol=="") {
				alert("Please entet Customer Volume.");
				$('#id_cus_vol').focus();
				return false;
			}
		
			if(emp_id=="") {
			  	$(document).Toasts('create', {
			    	class: "bg-danger", 
			    	title: "{% trans 'Error' %}",
			    	subtitle: '',
			    	autohide: true,
			    	delay: 2000,
			    	body: "Please select Employee ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
			    	autoDismiss: true,
			    	close: true,
			    	autoremove: true,
			  	});    		
	    		$("#id_emp_id").focus();
			} else {
				
				showLoading();

				$.ajax({
			    	url : "/monitoring/ajax/get_employee",
			    	type : "GET",
			    	data : {          
			      		csrfmiddlewaretoken: '{{ csrf_token }}',
			      		emp_id: emp_id,
			      		shift_id: shift_id,
			      		cus_id: cus_id,
			      		cus_brn: cus_brn,
			      		cus_vol: cus_vol,

			    	},
			    	success: function(data) {
						$("#id_emp_name_th").val("");
		    			$("#id_emp_rank").val("");
		    			$("#id_emp_dept").val("");
		    			$("#id_emp_status").val("");
		    			$("#id_emp_join_date").val("");
		    			$("#id_emp_term_date").val("");

			    		/*		    			
			    		$("#id_emp_name_th").css("background-color", '');
			    		$("#id_emp_name_th").animate({color:''}, 1000);
			    		$("#employeePhoto").html("<img src='/static/img/profile-128x128.png' width='90px;'' />");
						*/

			    		if(data.is_found) {
			    			$("#id_emp_fullname_th").val(data.emp_fname_th.trim() + "  " + data.emp_lname_th.trim());
							$("#id_emp_rank").val(data.emp_rank);
			    			$("#id_emp_dept").val(data.emp_dept);
			    			$("#id_emp_status").val(data.emp_status);
			    			if(data.emp_status_id=='9') {		    				
				    			$("#id_emp_status").animate({color:'red'}, 1000);
			    			} else {
			    				$("#id_emp_status").animate({color:'#495057'}, 1000);
			    			}
			    			$("#id_emp_join_date").val(data.emp_join_date);
			    			$("#id_emp_term_date").val(data.emp_term_date);

			    			$("#save_button").attr("disabled", false);
			    			$("#delete_button").attr("disabled", true);

			    			/*
							$("#employeePhoto").html("<img src='data:image/png;base64," + data.employee_photo + "' style='width:90px;'/>");
			    			$("#id_emp_name_th").val(data.emp_fname_th.trim() + "  " + data.emp_lname_th.trim());
			    			$("#id_emp_rank").val(data.emp_rank);
			    			$("#id_emp_dept").val(data.emp_type);
				    		$("#id_emp_name_th").css("background-color", 'green');
				    		$("#id_emp_name_th").animate({color:'white'}, 1000);
				    		*/
			    		} else {

						  	$(document).Toasts('create', {
						    	class: "bg-danger", 
						    	title: "{% trans 'Error' %}",
						    	subtitle: '',
						    	autohide: true,
						    	delay: 2000,
						    	body: "Employee ID not found.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
						    	autoDismiss: true,
						    	close: true,
						    	autoremove: true,
						  	});
			    		}

			    		//showLoading();
			    		$.LoadingOverlay("hide");
			    		$("#id_emp_id").select();
			    	},
			    });
			}		
		}
	});

	$('#id_dly_date').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true}).datepicker("setDate", new Date());
	
	$("input:radio[name='searchOptions']").change(function(){
		var _val = $(this).val();
		if(_val==1) {
			// Search by Contract ID
			$("#id_cus_id").focus();		
			$("#id_cus_id").attr("readonly", false);
			$("#id_cus_brn").attr("readonly", false);
			$("#id_cus_vol").attr("readonly", false);

			$("#id_emp_id").attr("readonly", true);
		} else {
			// Search by Employee ID
			$("#id_emp_id").focus();
			$("#id_emp_id").attr("readonly", false);
			$("#id_cus_id").attr("readonly", true);
			$("#id_cus_brn").attr("readonly", true);
			$("#id_cus_vol").attr("readonly", true);
		}
	});


	function showLoading() {
		$.LoadingOverlaySetup({
		    background      : "rgba(0, 0, 0, 0.5)",
		    image           : "/static/img/logo-small.png",
		    imageAnimation  : "1.5s fadein",
		    imageColor      : "#ffcc00"
		});
		$.LoadingOverlay("show");	
	}


    $(document).on('click', '#id_absent_check', function(e) {
        
    });

    $(document).on('click', '#id_late_check', function(e) {
        
    });

    $(document).on('click', '#id_phone_check', function(e) {
        
    });

    function clearEmployeeListTable() {
    	var result = "";
		result += "<font size='2em;'>";
		//result += "<table id='employee_list_table' class='table table-sm table-fixed table-condensed table-wrapper-scroll-y my-custom-scrollbar'>";
		result += "<table id='employee_list_table' class='table table-responsive table-sm table-condensed table-wrapper-scroll-y my-custom-scrollbar'>";

		result += "  <thead>";
		result += "    <tr>";
		result += "      <th scope='col'>&nbsp;</th>";
		result += "      <th scope='col' nowrap>Emp ID</th>";
		result += "      <th scope='col'>Name</th>";
		result += "      <th scope='col'>Rank</th>";
		result += "      <th scope='col'>Shift</th>";
		result += "      <th scope='col'>Late</th>";
		result += "      <th scope='col'>Full</th>";
		result += "      <th scope='col'>Relief</th>";
		result += "      <th scope='col' nowrap>Rel. ID</th>";
		result += "      <th scope='col'>Name</th>";
		result += "      <th scope='col'>TEL</th>";
		result += "      <th scope='col' nowrap>Call Time</th>";
		result += "      <th scope='col' nowrap>Call Amt</th>";
		result += "      <th scope='col' norwrap>Call Paid</th>";
		result += "     <th scope='col'>Spare</th>";
		result += "      <th scope='col'>Wage</th>";
		result += "      <th scope='col' nowrap>Upd Date</th>";
		result += "      <th scope='col' nowrap>Upd By</th>";
		result += "      <th scope='col' nowrap>Upd Flag</th>";
		result += "      <th scope='col' nowrap>Upd Gen</th>";
		result += "    </tr>";
		result += "  </thead>";
		result += "  <tbody>";
		result += "    <tr>";
		result += "      <td colspan='20' class='text-center'><br><br>There is no data.<br><br><br></td>";
		result += "    </tr>";
		result += "  </tbody>";
		result += "</table>";
		result += "</font>";
		$("#id_employee_list").html(result);
    }

    // RowClick
	$(document).on('click', '#employee_list_table tbody tr', function(row, $el, field) {
		$("#id_add_new_record_status").val(0);

		$("#id_emp_id").attr("disabled", true);
		$("#id_late_check").hide();
		$("#id_late_check").next("label").hide();
		$("#id_phone_check").hide();
		$("#id_phone_check").next("label").hide();

		var cus_id = $("#id_cus_id").val();
		var cus_brn = $("#id_cus_brn").val();
		var cus_vol = $("#id_cus_vol").val();
		
		var absent = $(this).find('td:eq(0)').text();
		//console.log("absent = " + absent);

		var emp_id = $(this).find('td:eq(1)').text();
		var emp_fullname_th = $(this).find('td:eq(2)').text();
		var sch_rank = $(this).find('td:eq(3)').text();
		var shf_desc = $(this).find('td:eq(4)').text();	

		$("#emp_id_lookup_button").attr("disabled", true);

		$("#id_emp_fullname_th").val(emp_fullname_th);
		$("#id_emp_id").val(emp_id);
		$("#id_emp_rank").val(sch_rank);

		// Get Employee information
		$.ajax({
	    	url : "/monitoring/ajax/get_employee",
	    	type : "GET",
	    	data : {          
	      		csrfmiddlewaretoken: '{{ csrf_token }}',
	      		emp_id: emp_id,
	      		shf_desc: shf_desc,
	      		cus_id: cus_id,
	      		cus_vol: cus_vol,
	      		cus_brn: cus_brn,
	    	},
	    	success: function(data) {
	    		if(data.is_found) {
	    			//$("#id_emp_fullname_th").val(data.emp_fname_th.trim() + "  " + data.emp_lname_th.trim());
	    			//$("#id_emp_fullname_th").val("AA");
					$("#id_emp_rank").val(data.emp_rank);
	    			$("#id_emp_dept").val(data.emp_dept);
	    			$("#id_emp_status").val(data.emp_status);
	    			$("#id_emp_join_date").val(data.emp_join_date);
	    			$("#id_emp_term_date").val(data.emp_term_date);

	    			var emp_join_date = data.emp_join_date;
	    			var emp_term_date = data.emp_term_date;
	    		} else {
	    			var emp_join_date = "";
	    			var emp_term_date = "";
	    		}
	    		//$.LoadingOverlay("hide");
	    	},
	    });


		$(this).addClass('highlight').siblings().removeClass('highlight');

		if(absent=="x") {
			$("#id_absent_check").prop("checked", true);
		} else {
			$("#id_absent_check").prop("checked", false);
		}
		
		shift_id =  parseInt(shf_desc.substring(0,4));
		//console.log("shift_id = " + shift_id);
		$('#id_shift_option').val(shift_id);

		if(shift_id==999 || shift_id==99) {
			$("#save_button").attr("disabled", true);
			$("#delete_button").attr("disabled", true);
			$("#id_shift_option").attr("disabled", true);
			$("#id_remark").attr("disabled", true);
		} else {
			$("#save_button").attr("disabled", false);
			$("#delete_button").attr("disabled", false);
			$("#id_shift_option").attr("disabled", false);
			//$("#id_job_type_option").attr("disabled", true);
		}
		
	});

    $(document).on('click', '#add_button', function(e) {
    	$("#id_add_new_record_status").val(1);

    	$("#reset_button").attr("disabled", false);
    	$("#save_button").attr("disabled", false);
    	$("#delete_button").attr("disabled", true);

    	$("#dailyAttendanceDataEntryForm").trigger("reset");

    	$("#id_emp_id").attr("disabled", false);
    	$("#emp_id_lookup_button").attr("disabled", false);
		$("#id_sent_spare").attr("disabled", false);
		$("#id_shift_option").attr("disabled", false);

    	$("#id_absent_check").prop("checked", false);
		$("#id_late_check").show();
		$("#id_late_check").next("label").show();
		$("#id_phone_check").show();
		$("#id_phone_check").next("label").show();

        $('#id_emp_id').focus();     
    });

    $(document).on('click', '#reset_button', function(e) {    	
    	$("#id_add_new_record_status").val(0);
    	$("#dailyAttendanceDataEntryForm").trigger("reset");

    	$('#id_emp_id').focus();
    });




    $(document).on('click', '#save_button', function(e) {
    	//amnaj
    	var AEdly = $("#id_add_new_record_status").val();
    	//alert(AEdly);

    	var dly_date = $("#id_dly_date").val();
      	var cus_id = $('#id_cus_id').val();
      	var cus_brn = $('#id_cus_brn').val();
      	var cus_vol = $('#id_cus_vol').val();    	
    	var emp_id = $("#id_emp_id").val();
    	var emp_rank = $("#id_emp_rank").val();
    	var emp_dept = $("#id_emp_dept").val();
    	var shift_id = $("#id_shift_option").val();
    	var shift_name = $("#id_shift_option option:selected").text();

    	var absent_status = 0;
    	if($("#id_absent_check").is(":checked")) 
    		absent_status = 1;

    	var late_status = 0;
    	if($("#id_late_check").is(":checked"))
    		late_status = 1;

    	var phone_status = 0;
    	if($("#id_phone_check").is(":checked"))
    		phone_status =1;

    	var relief_status = 0;
    	if($("#id_relief_check").is(":checked"))
    		relief_status = 1;

    	var job_type_option = $("#id_job_type_option").val();
    	var remark = $("#id_remark").val();

    	var totalNDP = $("#totalNDP").text();
    	var totalNDA = $("#totalNDA").text();
    	var totalNDM = $("#totalNDM").text();

    	var totalNNP = $("#totalNNP").text();
    	var totalNNA = $("#totalNNA").text();
    	var totalNNM = $("#totalNNM").text();

    	var totalPDP = $("#totalPDP").text();
    	var totalPDA = $("#totalPDA").text();
    	var totalPDM = $("#totalPDM").text();

    	var totalPNP = $("#totalPNP").text();
    	var totalPNA = $("#totalPNA").text();
    	var totalPNM = $("#totalPNM").text();

    	if(emp_id==""){
		  	$(document).Toasts('create', {
		    	class: "bg-danger", 
		    	title: "{% trans 'Error' %}",
		    	subtitle: '',
		    	autohide: true,
		    	delay: 2000,
		    	body: "Please select Employee ID.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
		    	autoDismiss: true,
		    	close: true,
		    	autoremove: true,
		  	});

		  	$('#id_emp_id').focus();
    		return false;
    	}
    	
    	if(shift_id=="0"){
		  	$(document).Toasts('create', {
		    	class: "bg-danger", 
		    	title: "{% trans 'Error' %}",
		    	subtitle: '',
		    	autohide: true,
		    	delay: 2000,
		    	body: "Please select Shift.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
		    	autoDismiss: true,
		    	close: true,
		    	autoremove: true,
		  	});

		  	$('#id_shift_option').focus();
    		return false;
    	}

		showLoading();

		$.ajax({
	    	url : "/monitoring/ajax/get_employee",
	    	type : "GET",
	    	data : {          
	      		csrfmiddlewaretoken: '{{ csrf_token }}',
	      		cus_id: cus_id,
	      		cus_brn: cus_brn,
	      		cus_vol: cus_vol,
	      		emp_id: emp_id,
	      		shift_id: shift_id,	      		
	    	},
	    	success: function(data) {
				$("#id_emp_name_th").val("");
    			$("#id_emp_rank").val("");
    			$("#id_emp_dept").val("");
    			$("#id_emp_status").val("");
    			$("#id_emp_join_date").val("");
    			$("#id_emp_term_date").val("");

	    		if(data.is_found) {
	    			$("#id_emp_fullname_th").val(data.emp_fname_th.trim() + "  " + data.emp_lname_th.trim());
					$("#id_emp_rank").val(data.emp_rank);
	    			$("#id_emp_dept").val(data.emp_dept);
	    			$("#id_emp_status").val(data.emp_status);
	    			
	    			if(data.emp_status_id=='9') {		    				
		    			$("#id_emp_status").animate({color:'red'}, 1000);
	    			} else {
	    				$("#id_emp_status").animate({color:'#495057'}, 1000);
	    			}
	    			$("#id_emp_join_date").val(data.emp_join_date);
	    			$("#id_emp_term_date").val(data.emp_term_date);

	    			$("#save_button").attr("disabled", false);
	    			$("#delete_button").attr("disabled", true);

	    	

	    			//alert("TODO - check if employee is available.");		
					$.ajax({
				    	url : "/monitoring/ajax/save_daily_attendance",
				    	type : "GET",
				    	data : {          
				      		csrfmiddlewaretoken: '{{ csrf_token }}',
				      		AEdly: AEdly,
				      		dly_date: dly_date,		      		
				      		cus_id: cus_id,
				      		cus_brn: cus_brn,
				      		cus_vol: cus_vol,
				      		emp_id: emp_id,
				      		emp_rank: emp_rank,
				      		emp_dept: emp_dept,
				      		shift_id: shift_id,
				      		shift_name: shift_name,
				      		absent_status: absent_status,
				      		late_status: late_status,
				      		phone_status: phone_status,
				      		relief_status: relief_status,
				      		job_type_option: job_type_option,
				      		remark: remark,
				      		totalNDP: totalNDP,
				      		totalNDA: totalNDA,
				      		totalNDM: totalNDM,
				      		totalNNP: totalNNP,
				      		totalNNA: totalNNA,
				      		totalNNM: totalNNM,
				      		totalPDP: totalPDP,
				      		totalPDA: totalPDA,
				      		totalPDM: totalPDM,
				      		totalPNP: totalPNP,
				      		totalPNA: totalPNA,
				      		totalPNM: totalPNM,
				    	},
				    	success: function(data) {
				    		if(data.success) {				    							    		
								$.alert({
								    title: data.title,
								    type: data.type,
								    content: data.message,
								    animation: 'zoom',
								    animationBounce: 1.5,
								    closeIcon: false,
								    boxWidth: '38%',
								    useBootstrap: false,
								});
								/*
								$("#dailyAttendanceDataEntryForm").trigger("reset");								
								$("#id_emp_id").attr("disabled", true);
 								$("#emp_id_lookup_button").attr("disabled", true);
 								$("#id_sent_spare").attr("disabled", true);
 								$("#id_shift_option").attr("disabled", true);
 								*/
 								$("#id_emp_id").focus();
				    		} else {
								$.alert({
								    title: data.title,
								    type: data.type,
								    content: data.message,
								    animation: 'zoom',
								    animationBounce: 1.5,
								    closeIcon: false,
								    boxWidth: '38%',
								    useBootstrap: false,
								});

								$("#id_emp_id").focus();
				    		}				    		
				    	},
				    });
	    		} else {

				  	$(document).Toasts('create', {
				    	class: "bg-danger", 
				    	title: "{% trans 'Error' %}",
				    	subtitle: '',
				    	autohide: true,
				    	delay: 2000,
				    	body: "Employee ID not found.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
				    	autoDismiss: true,
				    	close: true,
				    	autoremove: true,
				  	});
	    		}

	    		$.LoadingOverlay("hide");
	    		$("#id_emp_id").select();
	    	},
	    });    	    	

    });


    $(document).on('click', '#delete_button', function(e) {
      	var cus_id = $('#id_cus_id').val();
      	var emp_fullname_th = $('#id_emp_fullname_th').val();
      	var cus_brn = $('#id_cus_brn').val();
      	var cus_vol = $('#id_cus_vol').val();    	
    	var emp_id = $("#id_emp_id").val();
    	var shift_id = $("#id_shift_option").val();
    	var dly_date = $("#id_dly_date").val();

    	//console.log(cus_id+","+cus_brn+","+cus_vol+","+emp_id+","+shift_option+","+dly_date)			

		$.confirm({
		    title: 'Confirmation',
		    type: 'red',
		    content: 'Do you want to delete?<br><b>' + emp_id + " | " + emp_fullname_th + "</b>",
			animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: true,
		    boxWidth: '38%',
		    useBootstrap: false,		    
		    buttons: {
		        confirm: {
		        	text: 'Delete',
		        	btnClass: 'btn-danger',
		        	action: function () {		        					
						showLoading();
						$.ajax({
					    	url : "/monitoring/ajax/delete_employee",
					    	type : "GET",
					    	data : {          
					      		csrfmiddlewaretoken: '{{ csrf_token }}',
					      		cus_id: cus_id,
					      		cus_brn: cus_brn,
					      		cus_vol: cus_vol,
					      		emp_id: emp_id,
					      		shift_id: shift_id,
					      		dly_date: dly_date,
					    	},
					    	success: function(data) {
					    		if(data.success) {
									$.ajax({
										url : "/monitoring/ajax/get_attendance_information/",
										type : "POST",
										data : {          
									  		csrfmiddlewaretoken: '{{ csrf_token }}',
									  		attendance_date: dly_date,
									  		cus_id: cus_id,
									  		cus_brn: cus_brn,
									  		cus_vol: cus_vol,
										},
										success : function(data) {
											if(data.is_found) {

												// Get Schedule list info
												result = "";
												schedule_list_length = data.schedule_list.length;
												for(i=0; i<schedule_list_length; i++) {
													result += data.schedule_list[i];
												}

												// TODO
												//$('#id_schedule_option').text(result);
												$('#id_schedule_option').text("");

												// Get Employee info
												result = "";
												result += "<font size='2em;'>";
												result += "<table id='employee_list_table' class='table table-responsive table-sm table-condensed table-wrapper-scroll-y my-custom-scrollbar'>";
												result += "  <thead>";
												result += "    <tr>";
												result += "      <th scope='col'>&nbsp;</th>";
												result += "      <th scope='col' nowrap>Emp ID</th>";
												result += "      <th scope='col' nowrap>Name</th>";
												result += "      <th scope='col'>Rank</th>";
												result += "      <th scope='col'>Shift</th>";
												result += "      <th scope='col'>Late</th>";
												result += "      <th scope='col'>Full</th>";
												result += "      <th scope='col'>Relief</th>";
												result += "      <th scope='col' nowrap>Rel. ID</th>";
												result += "      <th scope='col'>Name</th>";
												result += "      <th scope='col'>TEL</th>";
												result += "      <th scope='col' nowrap>Call Time</th>";
												result += "      <th scope='col' nowrap>Call Amt</th>";
												result += "      <th scope='col' nowrap>Call Paid</th>";
												result += "      <th scope='col'>Spare</th>";
												result += "      <th scope='col'>Wage</th>";
												result += "      <th scope='col' nowrap>Upd Date</th>";
												result += "      <th scope='col' nowrap>Upd By</th>";
												result += "      <th scope='col' nowrap>Upd Flag</th>";
												result += "      <th scope='col' nowrap>Upd Gen</th>";
												result += "    </tr>";
												result += "  </thead>";
												result += "  <tbody class='sortable'>";

												if(data.employee_list.length>0) {
													for(i=0; i<data.employee_list.length; i++) {
														emp_id = data.employee_list[i]["emp_id"];
														emp_fname_th = data.employee_list[i]["emp_fname_th"];
														emp_lname_th = data.employee_list[i]["emp_lname_th"];
														sch_rank = data.employee_list[i]["sch_rank"];
														shf_desc = data.employee_list[i]["shf_desc"];
														absent = data.employee_list[i]["absent"];
														tel_man = data.employee_list[i]["tel_man"];
														tel_time = data.employee_list[i]["tel_time"];
														tel_amt = data.employee_list[i]["tel_amt"];
														tel_paid = data.employee_list[i]["tel_paid"];
														spare = data.employee_list[i]["spare"];
														wage_id = data.employee_list[i]["wage_id"];
														upd_date = data.employee_list[i]["upd_date"];
														upd_by = data.employee_list[i]["upd_by"];
														upd_flag = data.employee_list[i]["upd_flag"];
														upd_gen = data.employee_list[i]["upd_gen"];
														result += "    <tr>";							
														if(absent==1) {
															result += "	     <td><font class='text-danger'>X</font></td>";
														} else {
															result += "	     <td>&nbsp</td>";
														}
														
														result += "	     <td>" + emp_id + "</td>";
														result += "	     <td nowrap>" + emp_fname_th + "&nbsp;&nbsp;" + emp_lname_th + "</td>";
														result += "	     <td>" + sch_rank + "</td>";
														result += "	     <td nowrap>" + shf_desc + "</td>";
														result += "	     <td></td>";
														result += "	     <td></td>";
														result += "	     <td></td>";
														result += "	     <td></td>";
														result += "	     <td></td>";
														result += "	     <td class='text-center'>" + tel_man + "</td>";
														result += "	     <td>" + tel_time + "</td>";
														result += "	     <td>" + tel_amt + "</td>";
														result += "	     <td>" + tel_paid + "</td>";
														result += "	     <td>" + parseInt(spare) + "</td>";
														result += "	     <td>" + wage_id + "</td>";
														result += "	     <td nowrap>" + upd_date + "</td>";
														result += "	     <td>" + upd_by + "</td>";
														result += "	     <td>" + upd_flag + "</td>";
														result += "	     <td>" + upd_gen + "</td>";
														result += "    </tr>";
													}

													enableAllElements();

													$("#id_dly_date").attr("readonly", true);
													$("#id_search_shift_option").attr("readonly", true);
													$("#id_cus_id").attr("readonly", true);
													$("#id_cus_brn").attr("readonly", true);
													$("#id_cus_vol").attr("readonly", true);
													$("input[name=searchOptions]").attr("disabled",true);
												}
												else {
														result += "    <tr class='text-center'>";
														result += "	     <td colspan='20'><br><br>There is no data.<br><br><br></td>";
														result += "	   </tr>"
												}
												result += "  </tbody>";
												result += "</table>";					
												result += "</font>";

												$('#id_employee_list').html(result);

												// TOTAL
												$("#totalNDP").html(data.totalNDP);
												$("#totalNNP").html(data.totalNNP);
												$("#totalPDP").html(data.totalPDP);
												$("#totalPNP").html(data.totalPNP);

												$("#totalNDA").html(data.totalNDA);
												$("#totalNNA").html(data.totalNNA);
												$("#totalPDA").html(data.totalPDA);
												$("#totalPNA").html(data.totalPNA);

												$("#totalNDM").html(data.totalNDM);
												$("#totalNNM").html(data.totalNNM);
												$("#totalPDM").html(data.totalPDM);
												$("#totalPNM").html(data.totalPNM);												
											}
										}
									});
					    			
							 		$("#dailyAttendanceDataEntryForm:input").attr("disabled", true);
							 		$("#dailyAttendanceDataEntryForm").trigger("reset");

									$("#totalNDP").html("");
									$("#totalNNP").html("");
									$("#totalPDP").html("");
									$("#totalPNP").html("");

									$("#totalNDA").html("");
									$("#totalNNA").html("");
									$("#totalPDA").html("");
									$("#totalPNA").html("");

									$("#totalNDM").html("");
									$("#totalNNM").html("");
									$("#totalPDM").html("");
									$("#totalPNM").html("");									
					    		} else {
					    			alert("error");
					    		}
					    		
					    	}
					    });
					   	$.LoadingOverlay("hide");
					}
		        },
		        cancel: {		        	
		        	action: function () {
		            	//$.alert('Canceled!');
		        	}
		        }
		    }
		});

    });

 	$("#cancelDailyAttendanceButton").click( function() {
    	event.preventDefault();    	

    	//$("#id_cus_id").val("0002526");
    	$("#id_cus_brn").val("000");
    	$("#id_cus_vol").val("001");

    	clearEmployeeListTable();
    	disableAllElements();

		$("#id_dly_date").attr("readonly", false);
		$("#id_search_shift_option").attr("readonly", false);

		$("#id_cus_id").attr("readonly", false);
		$("#id_cus_brn").attr("readonly", false);
		$("#id_cus_vol").attr("readonly", false);
		$("input[name=searchOptions]").attr("disabled", false);		

		$("#totalNDP").html("");
		$("#totalNNP").html("");
		$("#totalPDP").html("");
		$("#totalPNP").html("");

		$("#totalNDA").html("");
		$("#totalNNA").html("");
		$("#totalPDA").html("");
		$("#totalPNA").html("");

		$("#totalNDM").html("");
		$("#totalNNM").html("");
		$("#totalPDM").html("");
		$("#totalPNM").html("");

    	$("#id_cus_id").focus();
    });

</script>
{% endblock %}
		
