{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Daily Monitoring Reports{% endblock %}
{% load static %}

{% block content %}
 	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	
	    <!-- Main content -->
		<section class="content pt-2">
			<div class="container-fluid">
	        	<div class="row">
		        	<div class="col-md-3">

		        		<!--
			            <div class="card card-secondary card-outline">
			              <div class="card-body box-profile">
			                <div class="text-center">
			                </div>
			                <h3 class="profile-username text-center">{{ employee.emp_fname_th }} {{ employee.emp_lname_th }}</h3>
			                <p class="text-muted text-center">{{ employee.pos_en }}</p>
			                <ul class="list-group list-group-unbordered mb-3">
			                  <li class="list-group-item">
			                    <b>CUSTOMER & CONTRACT</b>
			                  </li>                        
			                  <li class="list-group-item">
			                    <b>SCHEDULE & DAILY ATTEND</b>
			                  </li>                      
			                  <li class="list-group-item">
			                    <b>PERSONAL</b>
			                  </li>
			                </ul>
			              </div>
			            </div>
		        		-->
    
						<!--Accordion wrapper-->
						<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

						  <!-- Accordion card -->
						  <div class="card">

						    <!-- Card header -->
						    <div class="card-header bg-success" role="tab" id="headingOne1" style="padding:2px 0 2px 8px;">
						      <a class="text-dark" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
						        <h6 class="mb-0">
						         <b>CUSTOMER & CONTRACT</b>&nbsp;&nbsp;&nbsp;<small><i class="fas fa-angle-down rotate-icon"></i></small>
						        </h6>
						      </a>
						    </div>

						    <!-- Card body -->
						    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
						      <div class="card-body" style="padding:0 0 0 8px;">
								<table class="table table-hover"> 
								  <tbody>
								    <tr>
								    	<td><a href="#" class="text-secondary" onclick="load_report('Contract List', 'cnt_contract_status')">1. Contract List</a></td>
								    </tr>
								  </tbody>
								</table>
						      </div>
						    </div>

						  </div>
						  <!-- Accordion card -->

						  <!-- Accordion card -->
						  <div class="card">

						    <!-- Card header -->
						    <div class="card-header bg-success" role="tab" id="headingTwo2" style="padding:2px 0 2px 8px;">
						      <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
						        <h6 class="mb-0">
						        	<b>SCHEDULE & DAILY ATTEND</b>&nbsp;&nbsp;&nbsp;<small><i class="fas fa-angle-down rotate-icon"></i></small>
						        </h6>
						      </a>
						    </div>

						    <!-- Card body -->
						    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
						      <div class="card-body" style="padding:0 0 0 5px;">
								<table class="table table-hover"> 
								  <tbody>
								    <tr>
								    	<td><a href="#" class="text-secondary" onclick="load_report('GPM Continue 7 Work Day List', 'gpm_7day')">1. GPM_Continue 7 Work Day List</a></td>
								    </tr>
								    <tr>
										<td><a href="#" class="text-secondary" onclick="load_report('GPM Reject Continue 7 Work Day List', 'gpm_r7day')">2. GPM_Reject Continue 7 Work Day List</a></td>
								    </tr>
								    <tr>
								    	<td></td>
								    </tr>
								    <tr>
								    	<td></td>
								    </tr>    
								  </tbody>
								</table>

						      </div>
						    </div>

						  </div>
						  <!-- Accordion card -->

						  <!-- Accordion card -->
						  <div class="card">

						    <!-- Card header -->
						    <div class="card-header bg-success" role="tab" id="headingThree3" style="padding:2px 0 2px 8px;">
						      <a class="collapsed text-dark" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
						        aria-expanded="false" aria-controls="collapseThree3">
						        <h6 class="mb-0">
						        	<b>PERSONAL</b>&nbsp;&nbsp;&nbsp;<small><i class="fas fa-angle-down rotate-icon"></i></small>
						        </h6>
						      </a>
						    </div>

						    <!-- Card body -->
						    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
						      <div class="card-body" style="padding:0 0 0 5px;">
								<table class="table table-hover"> 
								  <tbody>
								    <tr>
								    	<td><a href="#" class="text-secondary" onclick="load_report('Guard Working by Zone', 'psn_emp_zone')">1. Guard Working by Zone</a></td>
								    </tr>
								    <tr>
										<td><a href="#" class="text-secondary" onclick="load_report('Terminate Employee List', 'psn_terminate_g07')">2. Terminate Employee List</a></td>
								    </tr>
								    <tr>
								    	<td><a href="#" class="text-secondary" onclick="load_report('Terminate Employee Date', 'psn_terminate_g09')">3. Terminate Employee Date</a></td>
								    </tr>
								    <tr>
								    	<td><a href="#" class="text-secondary" onclick="load_report('Terminate Employee Zone', 'psn_term_zone')">4. Terminate Employee Zone</a></td>
								    </tr>    
								  </tbody>
								</table>
						      </div>
						    </div>

						  </div>
						</div>

		        	</div>




					<div class="col-md-9">
						<div class="card">

							<div class="row" style="padding:3px 6px 3px 4px;">
								<div class="col-8">
									<div class="d-flex left pt-2 pl-1">
										<h5><i class="fas fa-chart-line"></i>&nbsp;&nbsp;<span id="id_report_name">Report Name</span></h5>
									</div>					
								</div>

								<div class="col-4 pt-1">
									<div class="d-flex flex-row-reverse">
							            <button class="btn btn-outline-info btn-sm dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							              <i class="fas fa-print fa-sm"></i>&nbsp;&nbsp;Print
							            </button>

							            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink"> 
							            	<font size="2em;">
							              <a class="dropdown-item" href="#" onclick="print_document()"><i class="fa fa-eye text-secondary" aria-hidden="true"></i>&nbsp;&nbsp;Display on screen</a>
							              <a class="dropdown-item" href="#">&nbsp;<i class="far fa-file-excel text-secondary"></i>&nbsp;&nbsp;Download Excel file</a>
							          		</font>
							            </div>

									</div>
								</div>
							</div>
						</div>


						<div class="card">

							<div class="row" style="padding: 3px;">
								<div class="col-12">
									<div class="d-flex left">
										<div class="col-8 offset-2 pt-3 pb-1" id="id_report_form">
											
											<!--<div class='alert alert-info' role='alert'>Please select a report.</div>-->
											
			


			{% comment %}
            <div class="card card-info" style="box-shadow: none;">
              <form class="form-horizontal">
                <div class="card-body">

                  <div class="form-group row">
                    <label class="col-3 col-form-label">Employee Type</label>
                    <div class="col-9">
                      <input type="text" class="form-control form-control-sm" id="id_emp_type">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-3 col-form-label">Dept / Zone</label>
                    <div class="col-9">
                      <input type="text" class="form-control form-control-sm" id="id_dept_zone">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-3 col-form-label">Year</label>
                    <div class="col-9">
                      <input type="text" class="form-control form-control-sm" id="id_year">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-3 col-form-label">Month</label>
                    <div class="col-9">
                      <input type="text" class="form-control form-control-sm" id="id_month">
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-3 col-form-label">Employee ID</label>

                    <div class="col-9" style="padding:0px;">
                    	<div class="col-6 float-left">
                      		<input type="text" class="form-control form-control-sm" id="id_emp_id_from" value="0">
                      	</div>

                      	<div class="col-6 float-right">
                      		<input type="text" class="form-control form-control-sm" id="id_emp_id_to" value="9999999">
                      	</div>
                    </div>
                  </div>

                  <!--
                  <div class="form-group row">
                    <div class="offset-3 col-8">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Report English</label>
                      </div>
                    </div>
                  </div>
              	  -->

                </div>
                <!--
                <div class="card-footer text-right">
                  <button type="submit" class="btn btn-default">Cancel</button>
                  <button type="submit" class="btn btn-info">Sign in</button>
                </div>
            	-->
              </form>
            </div>
            {% endcomment %}


										</div>
									</div>					
								</div>
							</div>

						</div>



					</div>
	      		</div>
	  		</div>
		</section>
  
	</div>
{% endblock %}


{% block javascript %}
<script>	
	
$(document).ready(function() {
	//
});


function load_report(report_name, report_id) {	
	html = "<div class='alert alert-warning' role='alert'>&nbsp;Sorry. This report is not available.</div>";

	switch(report_id) {
		case "psn_emp_zone":
			$("#id_report_name").html(report_name);
			break;

		case "psn_terminate_g07":			
			$("#id_report_name").html(report_name + " | <small>รายชื่อพนักงานลาออก</small>");
			html = "";
			html += "<div class='card card-info' style='box-shadow: none;'>";
			html += "  <form class='form-horizontal'>";
			html += "    <div class='card-body'>";
			html += "      <div class='form-group row'>";
			html += "        <label class='col-3 col-form-label'>Employee Type</label>";
			html += "        <div class='col-9'>";
			html += "          <input type='text' class='form-control form-control-sm' id='id_emp_type'>";
			html += "        </div>";
			html += "      </div>";
			html += "      <div class='form-group row'>";
			html += "        <label class='col-3 col-form-label'>Dept / Zone</label>";
			html += "        <div class='col-9'>";
			html += "          <input type='text' class='form-control form-control-sm' id='id_dept_zone'>";
			html += "        </div>";
			html += "      </div>";

			html += "      <div class='form-group row'>";
			html += "        <label class='col-3 col-form-label'>Year / Month</label>";
			html += "        <div class='col-9' style='padding:0px;'>";
			html += "        	<div class='col-6 float-left'>";
			html += "          		<input type='text' class='form-control form-control-sm' id='id_year' placeholder='Year'>";
			html += "          	</div>";
			html += "          	<div class='col-6 float-right'>";
			html += "          		<input type='text' class='form-control form-control-sm' id='id_month' placeholder='Month'>";
			html += "          	</div>";
			html += "        </div>";		
			html += "      </div>";

			html += "      <div class='form-group row'>";
			html += "        <label class='col-3 col-form-label'>Employee ID</label>";
			html += "        <div class='col-9' style='padding:0px;'>";
			html += "        	<div class='col-6 float-left'>";
			html += "          		<input type='text' class='form-control form-control-sm' id='id_emp_id_from' value='0'>";
			html += "          	</div>";
			html += "          	<div class='col-6 float-right'>";
			html += "          		<input type='text' class='form-control form-control-sm' id='id_emp_id_to' value='9999999'>";
			html += "          	</div>";
			html += "        </div>";		
			html += "      </div>";

			html += "    </div>";
			html += "  </form>";
			html += "</div>";
			break;

		case "psn_terminate_g09":
			$("#id_report_name").html(report_name + " | <small>รายชื่อพนักงานลาออก (ระบุวัน)</small>");
			break;

		case "psn_term_zone":
			$("#id_report_name").html(report_name + " | <small>รายชื่อพนักงานลาออก (ระบุโซน)</small>");
			break;

		default:
			$("#id_report_name").html("");
			break;
	}

	$("#id_report_form").html(html);
}


function print_document() {
	var report_name = $("#id_report_name").text();	
	if(report_name=="Report Name") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาเลือกรายงานก่อนสั่งพิมพ์",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});		
		return false;
	}

	//
	switch(report_name) {
		case "psn_emp_zone":
			$("#id_report_name").html(report_name);
			break;

		case "psn_terminate_g07":
			break;

		default:
			break;
	}

}


function download_document() {
	var report_name = $("#id_report_name").text();	
	if(report_name=="Report Name") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาเลือกรายงานก่อนดาวน์โหลดไฟล์",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});		
		return false;
	}

	//
}


</script>
{% endblock %}
