{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Daily Guard Performance{% endblock %}
{% load static %}

{% block content %}
 	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	
		<!--
		<div class="content-header">
			<div class="col-6 offset-3">

			</div>
		</div>
		-->

    	<!-- Main content -->
    	<section class="content pt-2">


    		<!-- SEARCH FORM -->
			<div class="card card-outline card-default" id="daily_attendance_search_card">

				<div class="card-body">
					
					<div class="d-flex justify-content-center">
						<form class="form-inline" name="daily_guard_performance_search_form" id="daily_guard_performance_search_form">
							<div class="form-inline">
								<label class="control-label">Employee ID&nbsp;&nbsp;</label>&nbsp;&nbsp;
							    <input type="number" class="form-control form-control-sm" id="id_search_emp_id">&nbsp;&nbsp;

			                    <label class="control-label" for="id_search_by_cnt_id">Date From/To</label>&nbsp;
			                    <input type="text" id="id_search_date_from" class="form-control form-control-sm" value="">
			                    <input type="text" id="id_search_date_to" class="form-control form-control-sm" value="">&nbsp;&nbsp;&nbsp;
							    
			                    <button id="id_search_submit_button" name="search_submit_button" type="button" class="btn btn-sm btn-primary"><i class="fas fa-search"></i>&nbsp;Search</button>&nbsp;
						        <button id="id_search_cancel_button" name="search_cancel_button" type="button" class="btn btn-sm btn-secondary">Cancel</button>							    
							</div>
						</form>

					</div>

			  	</div>
			</div>
			<!-- END SEARCH FORM -->



			<!-- Employee Information -->
			<div class="card card-outline card-secondary" id="id_employee_information">
			  <div class="card-body">
				<form id="id_employee_information_form">
				  <div class="form-row">
				    <div class="col-3">				      
				      <input type="text" class="form-control form-control-sm" placeholder="ชื่อ-นามสกุล" id="id_emp_fullname" readonly="">
				    </div>

				    <div class="col-2">
				      <input type="text" class="form-control form-control-sm" placeholder="แผนก" id="id_emp_dept" readonly="">
				    </div>

				    <div class="col-1">
				      <input type="text" class="form-control form-control-sm" placeholder="ประเภท" id="id_emp_type" readonly="">
				    </div>

				    <div class="col-2">
				      <input type="text" class="form-control form-control-sm" placeholder="วันเริ่มงาน" id="id_emp_join_date" readonly="">
				    </div>

				    <div class="col-2">
				      <input type="text" class="form-control form-control-sm" placeholder="วันสิ้นสุด" id="id_emp_term_date" readonly="">
				    </div>

				    <div class="col-2">
				      <input type="text" class="form-control form-control-sm" placeholder="สถานะ" id="id_emp_status" readonly="">
				    </div>
				  </div>
				</form>			  	
			  </div>
			</div>
			<!-- END Employee Information -->



			<!-- Income Information -->
			<div class="card card-outline card-secondary" id="id_income_information">
			  <div class="card-body">
				<form id="id_income_information_form">
				  <div class="form-row">
				    <div class="col">
				      <label>Hours</label>
				      <input type="text" class="form-control form-control-sm" placeholder="Hours" id="id_hours" readonly="">
				    </div>

				    <div class="col">
				      <label>Day</label>
				      <input type="text" class="form-control form-control-sm" placeholder="Day" id="id_day" readonly="">
				    </div>

				    <div class="col">
				      <label>BAS</label>
				      <input type="text" class="form-control form-control-sm" placeholder="BAS" id="id_bas" readonly="">
				    </div>

				    <div class="col">
				      <label>GOT</label>
				      <input type="text" class="form-control form-control-sm" placeholder="GOT" id="id_got" readonly="">
				    </div>

				    <div class="col">
				      <label>BON</label>
				      <input type="text" class="form-control form-control-sm" placeholder="BON" id="id_bon" readonly="">
				    </div>

				    <div class="col">
				      <label>PUB</label>
				      <input type="text" class="form-control form-control-sm" placeholder="PUB" id="id_pub" readonly="">
				    </div>

				    <div class="col">
				      <label>DOF</label>
				      <input type="text" class="form-control form-control-sm" placeholder="DOF" id="id_dof" readonly="">
				    </div>
				  </div>

				</form>			  	
			  </div>
			</div>
			<!-- END Income Information -->

			<!-- TABLE LIST -->
			<div class="card card-outline card-secondary" id="table_list_head">


			  <div class="card-body">

				<!-- Tab Header -->
				<!--<div class="float-left col-12">-->
				<div class="w-100">
				<b>
				<ul class="nav nav-tabs navbar-expand nav-fill" id="customer" role="tablist">

					<!-- Performance Tab -->
				  	<li class="nav-item active">
				    	<a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"><i class="fab fa-btc"></i>&nbsp;&nbsp;{% trans 'Performance' %}</a>
				  	</li>

				  	<!-- Schedule Tab -->
				  	<li class="nav-item">
				    	<a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;{% trans 'Schedule' %}</a>
				  	</li>

				  	<!-- Substitute Tab -->
				  	<li class="nav-item">
				    	<a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"><i class="fas fa-exchange-alt"></i>&nbsp;&nbsp;{% trans 'Substitute' %}</a>
				  	</li>

				  	<!-- Leave Tab -->
				  	<li class="nav-item">
				    	<a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4"><i class="fas fa-plane"></i>&nbsp;&nbsp;{% trans 'Leave' %}</a>
				  	</li>

				  	<!-- Overtime Tab -->
				  	<li class="nav-item">
				    	<a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5"><i class="fas fa-stopwatch"></i>&nbsp;&nbsp;{% trans 'Overtime' %}</a>
				  	</li>

				</ul>
				</b>
				</div>


		        <!-- Tab Body -->
		        <div class="tab-content pt-2 container col-12" id="table_list_body">

		        	<!-- Performance Tab -->
		            <div class="tab-pane fade show active pt-2" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
		            	<div id="id_performance_list" class="table-responsive bg-light">
							<font size='2em;'>
							<table id='performance_list_table' class='table table-sm table-hover'>
							  <tbody>
							    <tr>
							      <td class="text-center"><br><br><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
		        	</div>

		        	<!-- Schedule Tab -->
		            <div class="tab-pane fade show pt-2 row" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
		            	<div id="id_schedule_list" class="bg-light table-responsive">
							<font size='2em;'>
							<table id='schedule_list_table' class='table table-sm table-hover'>							
							  <tbody>
							    <tr>
							      <td class="text-center"><br><br><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
		        	</div>


		        	<!-- Substitute Tab -->
		            <div class="tab-pane fade show pt-2 row" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
		            	<div id="id_substitute_list" class="bg-light table-responsive">
							<font size='2em;'>
							<table id='substitute_list_table' class='table table-sm'>							
							  <tbody>
							    <tr>
							      <td class="text-center"><br><br><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
		        	</div>


		        	<!-- Leave Tab -->
		            <div class="tab-pane fade show pt-2 row" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
		            	<div id="id_leave_list" class="bg-light table-responsive">
							<font size='2em;'>
							<table id='leave_list_table' class='table table-sm'>							
							  <tbody>
							    <tr>
							      <td class="text-center"><br><br><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
		        	</div>


		        	<!-- Overtime Tab -->
		            <div class="tab-pane fade show pt-2 row" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
		            	<div id="id_overtime_list" class="bg-light table-responsive">
							<font size='2em;'>
							<table id='overtime_list_table' class='table table-sm'>							
							  <tbody>
							    <tr>
							      <td class="text-center"><br><br><br><br>There is no data.<br><br><br></td>
							    </tr>
							  </tbody>
							</table>
							</font>
						</div>
		        	</div>


		        </div>



			  </div>
			</div>
			<!-- END TABLE LIST -->


    	</section>
	</div>
{% endblock %}


{% block javascript %}
<script>	
	
$(document).ready(function(){
	var today = new Date();
	var date = today.getDate() + "/" + ("0" + today.getMonth()+1).slice(-2) + '/' + today.getFullYear() + " 00:00";

	$('#id_search_date_from').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true, todayHighlight: true}).datepicker("setDate", new Date());
	
	$('#id_search_date_to').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true, todayHighlight: true}).datepicker("setDate", new Date());

	$("#id_search_emp_id").focus();
});


$(document).on('keyup keypress', '#daily_guard_performance_search_form input[type="text"]', function(e) {
	if(e.which == 13) {
		e.preventDefault();
		return false;
    }
});

$(document).on('keypress', '#id_search_emp_id', function(e) {
  if(e.which == 13) {      
    
    e.preventDefault();

  	var obj = $(this);
  	var id_emp_id = obj.val();
  	
  	if(id_emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนรหัสพนักงาน",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		$("#id_search_emp_id").focus();
  	} else {
  		// Get Employee Information
		$.ajax({
	    	url : "/monitoring/ajax/search_daily_guard_performance_employee_information/",
	    	type : "POST",
	    	data : {          
	      		csrfmiddlewaretoken: '{{ csrf_token }}',
	      		emp_id: id_emp_id,
	    	},
	    	success: function(data) {
	    		if(data.is_error) {
					$.alert({
					    title: 'Error',
					    type: 'red',
					    content: data.message,
					    animation: 'zoom',
					    animationBounce: 1.5,
					    closeIcon: false,
					    boxWidth: '38%',
					    useBootstrap: false,
					});	    			
	    		} else {
	    			employee_information_count = data.employee_information.length;
	    			if(employee_information_count==1) {
						for(i=0; i<employee_information_count; i++) {
							emp_id = data.employee_information[i][0];
							emp_rank = data.employee_information[i][31];
							emp_fullname_th = data.employee_information[i][4].trim() + "   " + data.employee_information[i][5].trim() + " (" + emp_rank + ")";
							emp_dept = data.employee_information[i][28];
							emp_dept_en = data.employee_information[i][68];
							emp_type = data.employee_information[i][24];
							emp_join_date = convertStringToDDMMYYYY(data.employee_information[i][39]);
							emp_term_date = data.employee_information[i][40];
							emp_status = data.employee_information[i][33] + " | " + data.employee_information[i][69];;
	    				}

	    				$("#id_emp_fullname").val(emp_fullname_th);
	    				//$("#id_emp_rank").val(emp_rank);
	    				$("#id_emp_dept").val(emp_dept + " | " + emp_dept_en);
	    				$("#id_emp_type").val(emp_type);
	    				$("#id_emp_join_date").val(emp_join_date);
	    				$("#id_emp_term_date").val(emp_term_date);
	    				$("#id_emp_status").val(emp_status);

	    			} else {
	    				
	    			}
	    		}
	    	}
	    });

  		$("#id_search_date_from").focus();
  	}
  }
});

$(document).on('keypress', '#id_search_date_from', function(e) {
  if(e.which == 13) {          
    e.preventDefault();
  	var obj = $(this);
  	var id_search_date_from = obj.val();
  	
  	if(id_search_date_from=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่เริ่มต้น",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		$("#id_search_date_from").focus();
  	} else {
  		$("#id_search_date_to").focus();
  	}
  }
});

$(document).on('click', '#id_search_submit_button', function(e) {    	
	var emp_id = $("#id_search_emp_id").val();
	var search_date_from = $("#id_search_date_from").val();
	var search_date_to = $("#id_search_date_to").val();

	if(emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนรหัสพนักงาน",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;		
	}

	if(emp_id=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนรหัสพนักงาน",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		    keys: ['enter', 'shift'],
		});
		return false;		
	} 

	if(search_date_from=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่เริ่มต้น",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;
	}

	if(search_date_to=="") {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "กรุณาป้อนวันที่สิ้นสุด",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '38%',
		    useBootstrap: false,
		});
		return false;
	}


	// TODO: Start/End Date validation
	// Case1: end date must be greater than start date


	// TODO: Delete this line
	// console.log(emp_id+","+search_date_from+","+search_date_to);

	// TODO: show Performance tab	
	$("#id_search_submit_button").text("Processing...");
	$("#id_search_submit_button").attr("disabled", true);


	showLoading();    		
	displayList(emp_id, search_date_from, search_date_to);
	

	// TODO: show Schedule tab


	// TODO: show Substitute tab


	// TODO: show Leave tab


	// TODO: show Overtime tab


});

$(document).on('click', '#id_search_cancel_button', function(e) {    	

	// Clear Forms
	$("#daily_guard_performance_search_form").trigger("reset");
	$("#id_employee_information_form").trigger("reset");
	$("#id_income_information_form").trigger("reset");

	// Clear Tables
	$("#performance_list_table tbody").empty();
	$("#performance_list_table tbody").empty();
	$("#schedule_list_table tbody").empty();

	$("#id_search_emp_id").focus();
});


function showLoading() {
	$.LoadingOverlaySetup({
	    background      : "rgba(0, 0, 0, 0.5)",
	    image           : "/static/img/logo-small.png",
	    imageAnimation  : "1.5s fadein",
	    imageColor      : "#ffcc00"
	});
	$.LoadingOverlay("show");	
}

function convertStringToDDMMYYYY(strdate) {
	var new_date = ""
	var new_date_temp = new Date(strdate);
	var dd = String(new_date_temp.getDate()).padStart(2, '0');
	var mm = String(new_date_temp.getMonth() + 1).padStart(2, '0');
	var yyyy = new_date_temp.getFullYear();
	new_date = dd + '/' + mm + '/' + yyyy;

	return new_date;
}

function convertStringToDDMMYYYYHHSS(strdate) {
	var new_date = ""
	var new_date_temp = new Date(strdate);
	var dd = String(new_date_temp.getDate()).padStart(2, '0');
	var mm = String(new_date_temp.getMonth() + 1).padStart(2, '0');
	var yyyy = new_date_temp.getFullYear();
	var hh = String(new_date_temp.getHours()).padStart(2, '0');
	var mm = String(new_date_temp.getMinutes()).padStart(2, '0');
	
	new_date = dd + '/' + mm + '/' + yyyy + " " + hh + ":" + mm;

	return new_date;
}


function displayList(emp_id, search_date_from, search_date_to) {
	//showLoading();
	$.ajax({
    	url : "/monitoring/ajax/search_daily_guard_performance/",
    	type : "POST",
    	data : {          
      		csrfmiddlewaretoken: '{{ csrf_token }}',
      		emp_id: emp_id,
      		search_date_from: search_date_from,
      		search_date_to: search_date_to
    	},
    	success: function(data) {

    		if(data.is_error) {
				$.alert({
				    title: 'Error',
				    type: 'red',
				    content: data.message,
				    animation: 'zoom',
				    animationBounce: 1.5,
				    closeIcon: false,
				    boxWidth: '38%',
				    useBootstrap: false,
				});		    			
    		} else {
				performance_list_count = data.performance_list.length
				if(performance_list_count>0) {
					result = "<table id='performance_list_table'>";
					result += "  <thead class=thead-light>";
					result += "    <tr>";
					result += "      <th scope='col'>No</th>";
					result += "		 <th scope='col'>Cnt</th>";
					result += "		 <th scope='col'>Date</th>";
					result += "      <th scope='col'>Rank</th>";
					result += "      <th scope='col'>Shift</th>";
					result += "      <th scope='col'>BAS</th>";
					result += "      <th scope='col'>GOT</th>";
					result += "      <th scope='col'>BON</th>";
					result += "      <th scope='col'>PUB</th>";
					result += "      <th scope='col'>DOF</th>";

					result += "      <th scope='col'>DF</th>";
					result += "      <th scope='col'>Relief</th>";
					result += "      <th scope='col'>Rel.ID</th>";
					result += "      <th scope='col'>Name</th>";

					result += "      <th scope='col'>Tel</th>";
					result += "      <th scope='col'>Call Time</th>";
					result += "      <th scope='col'>Call Amt</th>";
					result += "      <th scope='col'>Call Paid</th>";
					result += "      <th scope='col'>OT</th>";


					result += "    </tr>";
					result += "  </thead>";
					result += "  <tbody>";
					count = 1;
					for(i=0; i<performance_list_count; i++) {
						cnt_id = data.performance_list[i][13];
						dly_date = convertStringToDDMMYYYY(data.performance_list[i][15]);						
						shift = data.performance_list[i][3];
						rank = data.performance_list[i][19];
						bas_amt = data.performance_list[i][38];
						got_amt = data.performance_list[i][52];
						bon_amt = data.performance_list[i][39];
						pub_amt = data.performance_list[i][40];
						dof_amt = data.performance_list[i][53];
						dof_status = data.performance_list[i][54];

						tel_man = data.performance_list[i][24];
						tel_time = convertStringToDDMMYYYYHHSS(data.performance_list[i][25]);
						tel_amt = data.performance_list[i][26];
						tel_paid = data.performance_list[i][27];
						ot_status = data.performance_list[i][28];


						//ot = DlyPerRs[i][28]
						//ot_reason = DlyPerRs[i][29]
						//spare = DlyPerRs[i][34]
						//wage_id = DlyPerRs[i][35]
						//soc_status = DlyPerRs[i][42]
						//pub_status = DlyPerRs[i][43]
						//paid_status = DlyPerRs[i][44]

						result += "<tr>";
						result += "<td>" + count + "</td>";
						result += "<td>" + cnt_id + "</td>";
						result += "<td>" + dly_date + "</td>";
						result += "<td>" + rank + "</td>";
						result += "<td>" + shift + "</td>";
						result += "<td>" + bas_amt + "</td>";
						result += "<td>" + got_amt + "</td>";
						result += "<td>" + bon_amt + "</td>";
						result += "<td>" + pub_amt + "</td>";
						result += "<td>" + dof_amt + "</td>";
						
						if(dof_status)
							result += "<td><i class='fas fa-check fa-xs text-danger'></i></td>";
						else
							result += "<td>&nbsp;</td>";

						result += "<td>&nbsp;</td>";
						result += "<td>&nbsp;</td>";
						result += "<td>&nbsp;</td>";

						if(tel_man) {
							//
							result += "<td><i class='fas fa-phone-alt fa-xs text-success'></i></td>";
							result += "<td>" + tel_time + "</td>";
							result += "<td>" + tel_amt + "</td>";
							result += "<td><i class='fas fa-check fa-xs text-success'></i></td>";						
						} else {
							result += "<td>&nbsp;</td>";
							result += "<td>&nbsp;</td>";
							result += "<td>&nbsp;</td>";
							result += "<td>&nbsp;</td>";							
						}	
						
						
						if(ot_status)
							result += "<td>" + ot_status + "</td>";
						else
							result += "<td>&nbsp;</td>";

						result += "</tr>";
						count++;
					}
					result += "  </tbody>";
					result += "</table>";

					$("#performance_list_table").html(result);

					// Fillin income list
					$("#id_hours").val(data.income_list[0]);
					$("#id_day").val(data.income_list[1]);
					$("#id_bas").val(data.income_list[2]);
					$("#id_got").val(data.income_list[3]);
					$("#id_bon").val(data.income_list[4]);
					$("#id_pub").val(data.income_list[5]);
					$("#id_dof").val(data.income_list[6]);					
				}				
				
    		}		    		

			$("#id_search_submit_button").text("Search");
			$("#id_search_submit_button").attr("disabled", false);


			// TODO: Show Overtime Table


			// TODO: Show Substitute table


			// TODO: Show Schedule table
			if(data.schedule_list.length>0) {
				result = "<table id='performance_list_table'>";
				result += "  <thead class=thead-light>";
				result += "    <tr>";
				result += "      <th scope='col'>No</th>";
				result += "		 <th scope='col'>Cnt.No</th>";
				result += "		 <th scope='col'>Eff.Frm</th>";
				result += "      <th scope='col'>Eff.To</th>";
				result += "      <th scope='col'>MON</th>";
				result += "      <th scope='col'>TUE</th>";
				result += "      <th scope='col'>WED</th>";
				result += "      <th scope='col'>THU</th>";
				result += "      <th scope='col'>FRI</th>";
				result += "      <th scope='col'>SAT</th>";
				result += "      <th scope='col'>SUN</th>";
				result += "      <th scope='col'>Status</th>";
				result += "      <th scope='col'>Upd.Date</th>";
				result += "      <th scope='col'>Upd.By</th>";
				result += "      <th scope='col'>Upd.Flag</th>";
				result += "    </tr>";
				result += "  </thead>";
				result += "  <tbody>";
				count = 1;				
				for(i=0;i<data.schedule_list.length;i++) {
					sch_no = data.schedule_list[i][0];
					cnt_id = data.schedule_list[i][2];
					srv_id = data.schedule_list[i][1];
					emp_id = data.schedule_list[i][3];
					emp_fname_th = data.schedule_list[i][19];
					emp_lname_th = data.schedule_list[i][20];
					sch_rank = data.schedule_list[i][4];
					sch_date_frm = convertStringToDDMMYYYY(data.schedule_list[i][6]);
					sch_date_to = convertStringToDDMMYYYY(data.schedule_list[i][7]);
					shf_mon = data.schedule_list[i][8];
					shf_tue = data.schedule_list[i][9];
					shf_wed = data.schedule_list[i][10];
					shf_thu = data.schedule_list[i][11];
					shf_fri = data.schedule_list[i][12];
					shf_sat = data.schedule_list[i][13];
					shf_sun = data.schedule_list[i][14];
					sch_active = data.schedule_list[i][15];
					upd_date = convertStringToDDMMYYYYHHSS(data.schedule_list[i][16]);
					upd_by = data.schedule_list[i][17];
					upd_flag = data.schedule_list[i][18];					
					result += "<tr>";
					result += "<td>" + count + "</td>";
					result += "<td>" + cnt_id + "</td>";
					result += "<td>" + sch_date_frm + "</td>";
					result += "<td>" + sch_date_to + "</td>";

					//result += "<td>" + shf_mon + "</td>";
					if (shf_mon==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_mon + "</td>";							


					//result += "<td>" + shf_tue + "</td>";
					if (shf_tue==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_tue + "</td>";							


					//result += "<td>" + shf_wed + "</td>";
					if (shf_wed==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_wed + "</td>";							


					//result += "<td>" + shf_thu + "</td>";
					if (shf_thu==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_thu + "</td>";							


					//result += "<td>" + shf_fri + "</td>";
					if (shf_fri==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_fri + "</td>";							


					//result += "<td>" + shf_sat + "</td>";
					if (shf_sat==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_sat + "</td>";							


					//result += "<td>" + shf_sun + "</td>";
					if (shf_sun==99) {
						if(sch_active)
							result += "<td class='text-danger'><b>DOF</b></td>";
						else
							result += "<td>DOF</td>";
					}
					else
						result += "<td>" + shf_sun + "</td>";							


					if(sch_active) {
						result += "<td><span class='badge badge-success'>Active</span></td>";
					}
					else
						result += "<td>&nbsp;</td>";


					result += "<td>" + upd_date + "</td>";
					result += "<td>" + upd_by + "</td>";
					result += "<td>" + upd_flag + "</td>";					
					result += "</tr>";
					count++;
				}
				result += "  </tbody>";
				result += "</table>";

				$("#schedule_list_table").html(result);
			} else {
				alert("TODO");
			}


    		$.LoadingOverlay("hide");
    	},

    });	
}

</script>
{% endblock %}
