{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Post Daily Attend{% endblock %}
{% load static %}

{% block content %}
 	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	
		<div class="content-header">
			<div class="col-6 offset-3">

			</div>
		</div>

    	<!-- Main content -->
    	<section class="content col-6 offset-3">

			<div class="card card-outline card-secondary" id="generate_date_card">
			  <div class="card-header">
			    <h3 class="card-title lead"><i class="fas fa-cogs"></i>&nbsp;&nbsp;โพสรายการแจ้งเวร (Post Daily Attend)</h3>
			    <div class="card-tools">
			      	<!--<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>-->
			    </div>
			    <!-- /.card-tools -->

			  </div>
			  <!-- /.card-header -->
			  <div class="card-body">
			  	<br><br>
				<form name="post_daily_attend_form">
				{% csrf_token %}
				  <div class="form-row justify-content-center">
				    <div class="col-auto form-inline">
				      <label for="inlineFormInput">วันที่</label>&nbsp;&nbsp;
				      <input type="text" class="form-control mb-2" id="id_post_date" placeholder="dd/mm/yyyy">
				    </div>
				    <div class="col-auto">
				      <button type="button" id="post_button" class="btn btn-danger mb-2">&nbsp;&nbsp;Post&nbsp;&nbsp;</button>&nbsp;
				    </div>
				  </div>
				</form>
				<br><br>
			  </div>
			  <!-- /.card-body -->

			  <div class="card-footer">

				<div id="progress-wrapper">
				  <!--<button class="btn btn-primary" id="progress-bar-trigger">Run</button>-->
				  <div id="progress-bar-message">Click the Post button when ready</div>
				  <div id="progress-bar" class="bg-success" style="width: 0%;">&nbsp;</div>				  
				</div>			  	

			  </div>
			  <!-- /.card-footer -->

			    <!--
				<div id="test" class="overlay">
					<i class="fas fa-2x fa-sync-alt fa-spin"></i>
				</div>
				-->
			</div>
			<!-- /.card -->

    	</section>
	</div>
{% endblock %}


{% block javascript %}
<script>

$(document).on('keypress', '#id_post_date', function(e) {
  if(e.which == 13) {      
    e.preventDefault();
    return false;
  }
});

$(document).ready(function(){
	const today = new Date();
	const yesterday = new Date(today);
	yesterday.setDate(yesterday.getDate() - 1);
	$('#generate_date_card').removeClass('overlay');	
	$('#id_post_date').datepicker({format: 'dd/mm/yyyy', altField: '#thealtdate', altFormat: 'dd/mm/yyyy', autoclose: true}).datepicker("setDate", yesterday);
	//$('#id_post_date').focus();
});

function get_generate_daily_attend_status(generated_date) {
    $.ajax({
        type: 'get',
        url: '/monitoring/ajax/sp_generate_daily_attend_status/',
        data: {'generated_date': generated_date},
        success: function (data) {
            frm.html('');
            if (data.state == 'PENDING') {
                frm.html('Please wait ...');
            }
            else if (data.state == 'PROGRESS') {
                pgrbar.css('display', 'inline');
                pgrbar.val(data.result.percent);
                frm.html('lines processed ' + data.result.current + ' out of ' + data.result.total);
            }
            else if(data.state == 'SUCCESS'){
                pgrbar.css('display', 'none');
                frm.html('Successfully Completed!');

            }
            if (data.state != 'SUCCESS') {
                setTimeout(function () {
                    get_task_info(task_id)
                }, 500);
            }
        },
        error: function (data) {
            frm.html("error!");
        }
    });
}

function showLoading() {
	$.LoadingOverlaySetup({
	    background      : "rgba(0, 0, 0, 0.5)",
	    image           : "/static/img/logo-small.png",
	    imageAnimation  : "1.5s fadein",
	    imageColor      : "#ffcc00"
	});
	$.LoadingOverlay("show");
}

function updateProgress(progressBarElement, progressBarMessageElement, progress) {
  progressBarElement.style.width = progress.percent + "%";
  progressBarMessageElement.innerHTML = progress.current + ' of ' + progress.total + ' processed.';
}

$("#post_button_bk").click( function() {
	event.preventDefault();    	

	var frm = $('#process-raw-data');
    var pgrbar = $('#progress-bar');
	var post_date = $("#id_post_date").val();

	if(post_date.length<=0) {
		$.alert({
		    title: 'Error',
		    type: 'red',
		    content: "เลือกวันที่ไม่ถูกต้อง",
		    animation: 'zoom',
		    animationBounce: 1.5,
		    closeIcon: false,
		    boxWidth: '45%',
		    useBootstrap: false,
		});

		$("#id_post_date").focus();

		return false;
	}

	$.confirm({
		title: 'Confirmation',
		type: 'red',
		content: 'ต้องการโพสรายการแจ้งเวรวันที่ <strong>' + post_date + '</strong>',
		boxWidth: '45%',
	    buttons: {
	        danger: {
	        	text: 'ยืนยัน',
	            btnClass: 'btn-red any-other-class',
	            action: function() {

	            	/*
					$("#post_button").attr("disabled", true);
					$("#post_button").text("Posting..");					
					$.ajax({
				    	url : "/monitoring/ajax/sp_post_daily_attend/",
				    	type : "POST",
				    	async: true,
				    	data : {          
				      		csrfmiddlewaretoken: '{{ csrf_token }}',
				      		post_date: post_date,
				    	},
						beforeSend: function () {
							showLoading();
						},
				    	success: function(data) {
				    		if(data.is_error) {
								$.alert({
								    title: 'Error',
								    type: 'red',
								    content: data.error_message,
								    animation: 'zoom',
								    animationBounce: 1.5,
								    closeIcon: false,
								    boxWidth: '45%',
								    useBootstrap: false,
								});
				    		} else {    		
								$.alert({
								    title: 'Success',
								    type: 'green',
								    content: data.error_message,
								    animation: 'zoom',
								    animationBounce: 1.5,
								    closeIcon: false,
								    boxWidth: '45%',
								    useBootstrap: false,
								});    			
				    		}
							$("#post_button").attr("disabled", false);
							$("#post_button").text("Post");
							$.LoadingOverlay("hide");
				    	},
				    });
				    */

				  	$(document).Toasts('create', {
				    	class: "bg-info", 
				    	title: "{% trans 'Message' %}",
				    	subtitle: '',
				    	autohide: true,
				    	delay: 2000,
				    	body: "อยู่ในระหว่างการทดสอบใช้งาน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;",
				    	autoDismiss: true,
				    	close: true,
				    	autoremove: true,
				  	});   

	            }
	        },
	        default: {
	        	text: 'ยกเลิก',
	            btnClass: 'btn-default',
				action: function() {
					$('#id_post_date').focus();
				}
	        },
	    }
	});
});

$(document).ready(function(){
	
	/*
	var trigger = document.getElementById('post_button');	
	trigger.addEventListener('click', function(e) {
		var post_button = document.getElementById("post_button");
		this.disabled = true;
		var bar = document.getElementById("progress-bar");
		var barMessage = document.getElementById("progress-bar-message");
		for (var i = 0; i < 11; i++) {
			setTimeout(updateProgress, 500 * i, bar, barMessage, {
	    		percent: 10 * i,
	    		current: 10 * i,
	    		total: 100
			})
		}		
	})
	*/

});


</script>
{% endblock %}
		
