{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Schedule Maintenance{% endblock %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	
	<div class="content-header">
		<div class="col-6 offset-2">
		<form id="schedule_maintenance_form" method="POST" class="form-inline">
		{% csrf_token %}

		  <div class="form-row">
		    <div class="form-group">
		      <label for="inputPassword6">Schedule No</label>&nbsp;&nbsp;
		      {% render_field form.cus_id %}&nbsp;
		      {% render_field form.cus_brn %}&nbsp;
		      {% render_field form.cus_vol %}
		    </div>
		  </div>
		</form>
		</div>
	</div>

    <!-- Main content -->
    <section class="content">
		
      	<!-- 1st Block -->
      	<div class="card">

	    	<div class="card-header">

		        <h1 class="card-title pt-2">
		          <span id="customer_name_title">            
		            <h3 class="m-0 text-dark">Customer Information<small>&nbsp;&nbsp;<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-angle-down text-primary"></i></button></small></h3>            
		          </span>
		        </h1>

				<form id="contract_service_list_form" method="POST">
	      		{% csrf_token %}

		        	<div class="card-tools float-right">
			          <button class="btn btn-outline-info btn-md dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			            <i class="fas fa-print fa-sm"></i>&nbsp;&nbsp;Print
			          </button>
			          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">			            
			            <a class="dropdown-item" href="#" onclick="print_contract()"><i class="fa fa-eye text-secondary" aria-hidden="true"></i>&nbsp;&nbsp;Display on screen</a>	
			            <input type="hidden" id="id_cnt_id_temp" name="cnt_id_temp" value="">
			          </div>
		          		<button id="cancelCustomerServicePersonButton" type="button" class="btn btn-md btn-default pull-right">Cancel</button>
		          		<button id="saveCustomerServicePersonButton" class="btn btn-md btn-primary"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</button>
		        	</div>

		    </div>
	       


	        <div class="card-body col-12">

				<!-- Contract Active Status -->
				<div class="row float-right">
                    <div class="btn-group">
                      <label class="switch">                                 
                        <input type="checkbox" id="id_cnt_active" name="cnt_active" disabled="">
                        <div class="slider"></div>
                      </label>  
                    </div>

		            <div>&nbsp;</div>
				</div>

				<div class="clearfix">&nbsp;</div>


<div class="row">
				<div class="col-8 float-left">

				  <div class="form-group row">
				    
				    <label for="id_cus_main_cus_name" class="col-2 col-form-label">Customer</label>
				    <div class="col-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_main_cus_name_th">
				    </div>
				    <div class="col-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_main_cus_name_en">
				    </div>
				    <div class="col-2">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_main_cus_tel" value="Phone |" >
				    </div>

				    <!--
				    <div class="col-sm-2">
				      <input type="text" readonly class="form-control-xs" style="font-size:10pt" id="id_cnt_wage_rate_name" value="Wage Rate |" >
				    </div>
				   	-->
				  </div>

				  <!-- Site Name -->
				  <div class="form-group row">
				    <label for="id_site_cus_name" class="col-sm-2 col-form-label">Site Name</label>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_site_name_th">
				    </div>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_site_name_en">
				    </div>
				    <div class="col-sm-2">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_site_tel" value="Phone |" >
				    </div>

				  </div>

				  <!-- Site Address -->
				  <div class="form-group row">
				    <label for="id_cus_site_add" class="col-sm-2 col-form-label">Address</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_site_add_th">
				    </div>
				  </div>

				  <!-- Cnt.Ref. Address -->
				  <div class="form-group row">
				    <label for="id_cnt_doc_no" class="col-sm-2 col-form-label">Contract Ref.</label>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_doc_no">
				    </div>
				    <div class="col-sm-6">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cus_site_contact_name_th">
				    </div>
				  </div>

				</div>


				<div class="col-4 float-right">

				  <div class="form-group row">
				    <label for="id_cnt_wage_name_en" class="col-4 col-form-label">Wage Rate</label>
				    <div class="col-sm-8">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_wage_name_en" >
				    </div>
				  </div>

				  <div class="form-group row">
				  	<label for="id_cnt_apr_by_name_en" class="col-4 col-form-label">Authorized by</label>
				    <div class="col-sm-8">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_apr_by_name_en" >
				    </div>		    
				  </div>

				  <div class="form-group row">
				  	<label for="id_cus_main_cus_name" class="col-4 col-form-label">Contract Term</label>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_sign_frm" >
				    </div>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_sign_to" >
				    </div>
				  </div>

				  <div class="form-group row">
				  	<label for="id_cus_main_cus_name" class="col-4 col-form-label">Effective Term</label>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_eff_frm" >
				    </div>
				    <div class="col-sm-4">
				      <input type="text" readonly class="form-control" style="font-size:10pt" id="id_cnt_eff_to" >
				    </div>
				  </div>
				</div>
</div>


			</div>


		   	</form>
      	</div>





      	<!-- 2nd Block -->      	
	    <div class="card card-default">
	    	<form id="contract_service_person_list_form" method="POST">	
	    	{% csrf_token %}
	      	<div class="card-header">                
	        	<div class="float-left"><h3 class="m-0 text-dark">Contact Service List</h3></div>
	        	<div class="float-left"><h4 class="m-0 text-dark"><span id="id_contract_number"></span></h4></div>
	        	<div class="card-tools">
	          		<div class="float-left pt-2">&nbsp;</div>
	        	</div>
	      	</div>

	      	<div class="card-body">
	      		<!-- TODO -->
	      	</div>

	      	<!--
	        <div class="card-footer">
	          Footer
	        </div>
			-->
	      	</form>
	    </div>
  			

    </section>
    <!-- /.content -->




  </div>
  <!-- /.content-wrapper -->

{% endblock %}


{% block javascript %}
<script>
$(document).ready(function(){
	$("#contract_service_list_form :input").attr("disabled", true);
	$("#contract_service_person_list_form :input").attr("disabled", true);
	$("#id_cus_id").on('click', function(){
		$("#id_cus_id").select();
	});
	$("#id_cus_brn").on('click', function(){
		$("#id_cus_brn").select();
	});
	$("#id_cus_vol").on('click', function(){
		$("#id_cus_vol").select();
	});

	$('#id_cus_id').focus();

 	$("#cancelCustomerServicePersonButton").click( function() {
    	event.preventDefault();    	

    	$("#schedule_maintenance_form :input").attr("disabled", false);
    	$('#contract_service_list_form').trigger("reset");
    	$('#contract_service_persion_list_form').trigger("reset");		
		$("#customer_name_title").html("");
		$("#contract_service_list_form :input").attr("disabled", true);
		$("#contract_service_person_list_form :input").attr("disabled", true);
		$("#contract_service_list_form").trigger("reset");

		/*
		$("#id_cus_id").val("");
		$("#id_cus_brn").val("");
		$("#id_cus_vol").val("");
		*/

    	$("#id_cus_id").focus();
    	$("#id_cus_id").select();
  	});
});

$(document).on('keypress', '#id_cus_id', function(e) {
	if(e.which == 13) {      
		e.preventDefault();

		// TODO: field validation
		//

		$('#id_cus_brn').focus();
	}
});

$(document).on('keypress', '#id_cus_brn', function(e) {
	if(e.which == 13) {      
		e.preventDefault();

			// TODO: field validation
			//

			$('#id_cus_vol').focus();
	}
});

$(document).on('keypress', '#id_cus_vol', function(e) {
	if(e.which == 13) {      
		e.preventDefault();

		// TODO: field validation
		cus_id = $('#id_cus_id').val();
		cus_brn = $('#id_cus_brn').val();
		cus_vol = $('#id_cus_vol').val();
		
		if(cus_id=="") {
			alert("Please entet Customer ID.");
			$('#id_cus_id').focus();				
			return false;
		}

		if(cus_brn=="") {
			alert("Please entet Customer Branch.");
			$('#id_cus_brn').focus();
			return false;			
		}

		if(cus_vol=="") {
			alert("Please entet Customer Volume.");
			$('#id_cus_vol').focus();
			return false;
		}

		// Get customer data (ajax)      	
		$.ajax({
        	url : "/monitoring/ajax/get_customer/",
        	type : "POST",
        	data : {          
          	csrfmiddlewaretoken: '{{ csrf_token }}',
          	cus_id: cus_id,
          	cus_brn: cus_brn,
          	cus_vol: cus_vol,
        	},
        	success : function(data) {				
				
				if(data.is_existed) {
					$("#contract_service_list_form :input").attr("disabled", false);
					$("#contract_service_person_list_form :input").attr("disabled", false);
					$("#schedule_maintenance_form :input").attr("disabled", true);

					result = "<h3 class='m-0 text-dark'>" + data.cus_site_name_th + "<small>&nbsp;&nbsp;<button type='button' class='btn btn-tool' data-card-widget='collapse'><i class='fas fa-angle-down text-primary'></i></button></small></h3>";

					$("#id_cnt_doc_no").val(data.cnt_doc_no);

					var cnt_active = data.cnt_active;
					if(cnt_active==1) {
						$('#id_cnt_active').val(1);
						$('#id_cnt_active').prop("checked", true);
					} else {
						$('#id_cnt_active').val(0);
						$('#id_cnt_active').prop("checked", false);
					}

					$("#id_cnt_sign_frm").val(data.cnt_sign_frm);
					$("#id_cnt_sign_to").val(data.cnt_sign_to);					
					$("#id_cnt_eff_frm").val(data.cnt_eff_frm);
					$("#id_cnt_eff_to").val(data.cnt_eff_to);
					$("#id_cnt_wage_name_en").val(data.cnt_wage_name_en);
					$("#id_cnt_apr_by_name_en").val(data.cnt_apr_by_name_en);

					$("#id_cus_main_cus_name_th").val(data.cus_main_cus_name_th);
					$("#id_cus_main_cus_name_en").val(data.cus_main_cus_name_en);
					$("#id_cus_main_cus_tel").val("T: " + data.cus_main_cus_tel);

					$("#id_cus_site_name_th").val(data.cus_site_name_th);
					$("#id_cus_site_name_en").val(data.cus_site_name_en);
					$("#id_cus_site_add_th").val(data.cus_site_add_th + " " + data.cus_site_district_th + " " + data.cus_site_city_th + " " + data.cus_site_zip + " " + data.cus_site_country_th);
					$("#id_cus_site_tel").val("T: " + data.cus_site_tel);
					$("#id_cus_site_contact_name_th").val(data.cus_site_contact_name_th + " (" + data.cus_site_contact_position_th + ")");
				} else {
					$("#contract_service_list_form :input").attr("disabled", true);
					$("#contract_service_person_list_form :input").attr("disabled", true);
					result = "<h3 class='m-0 text-dark'>Not found<small>&nbsp;&nbsp;<button type='button' class='btn btn-tool' data-card-widget='collapse'><i class='fas fa-angle-down text-primary'></i></button></small></h3>";
				}

				$("#customer_name_title").html(result);
        	},
        	error: function(data){
          		//alert("error");
        	}
      	});
      			
	}
});

</script>
{% endblock %}
