{% extends "page_generic.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ page_title}} - Schedule Maintenance{% endblock %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	<div class="content-header">
		<div class="col-6 offset-2">
		<form id="schedule_maintenance_form" method="POST" class="form-inline">
		{% csrf_token %}

		  <div class="form-row">
		    <div class="form-group">
		      <label for="inputPassword6">Schedule No</label>&nbsp;&nbsp;
		      {% render_field form.cus_id %}&nbsp;
		      {% render_field form.cus_brn %}&nbsp;
		      {% render_field form.cus_vol %}
		    </div>
		  </div>
		</form>
		</div>
	</div>

    <!-- Main content -->
    <section class="content">
		<form id="contractupdateform" method="POST">
      	{% csrf_token %}

      	<!-- 1st Block -->
      	<div class="card">
	    	<div class="card-header">
		        <h1 class="card-title pt-2">
		          <span id="customer_name_title">            
		            <h3 class="m-0 text-dark">AAA<small>&nbsp;&nbsp;<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-angle-down text-primary"></i></button></small></h3>            
		          </span>
		        </h1>

	        	<div class="card-tools">


		          <button class="btn btn-outline-info btn-md dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            <i class="fas fa-print fa-sm"></i>&nbsp;&nbsp;Print
		          </button>
		          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
		            
		            <a class="dropdown-item" href="#" onclick="print_contract()"><i class="fa fa-eye text-secondary" aria-hidden="true"></i>&nbsp;&nbsp;Display on screen</a>
		            
		            <input type="hidden" id="id_cnt_id_temp" name="cnt_id_temp" value="">
		          </div>
	          		<button id="cancelCreateContract" type="reset" class="btn btn-md btn-default pull-right">Cancel</button>
	          		<button id="saveContract" class="btn btn-md btn-primary"><i class="fas fa-save fa-sm"></i>&nbsp;&nbsp;{% trans 'Save' %}</button>
	        	</div>
	      	</div>
       
	        <div class="card-body">
	          Content
	        </div>

	        <!--
	        <div class="card-footer">
	          Footer
	        </div>
	        -->
      	</div>



      	<!-- 2nd Block -->
	    <div class="card card-default">
	      <div class="card-header">                
	        <div class="float-left"><h2 class="m-0 text-dark">2nd</h2></div>
	        <div class="float-left"><h4 class="m-0 text-dark"><span id="id_contract_number"></span></h4></div>	        
	        <div class="card-tools">
	          <div class="float-left pt-2">&nbsp;</div>
	        </div>
	      </div>
	    </div>

  		</form>
    </section>
    <!-- /.content -->




  </div>
  <!-- /.content-wrapper -->

{% endblock %}


{% block javascript %}
<script>
	$(document).ready(function(){
		//$("#schedule_maintenance_form :input").attr("disabled", true);
		$('#id_cus_id').focus();
  	});

	$(document).on('keypress', '#id_cus_id', function(e) {
		if(e.which == 13) {      
			e.preventDefault();

      		// TODO: field validation
      		//

			$('#id_cus_brn').focus();
    	}
  	});

  	$(document).on('keypress', '#id_cus_brn', function(e) {
		if(e.which == 13) {      
			e.preventDefault();

      		// TODO: field validation
      		//

      		$('#id_cus_vol').focus();
    	}
  	});

	$(document).on('keypress', '#id_cus_vol', function(e) {
    	if(e.which == 13) {      
			e.preventDefault();

			// TODO: field validation
			//
			alert("TODO");     
    	}
  });

</script>
{% endblock %}
